Logic/Service References/DmsService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dms-preprod.ott.kaltura.com/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dms-preprod.ott.kaltura.com/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DmsV2.Models.Responses" />
  <xs:element name="GetPushData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="udids" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPushDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DmsV2.Models.Responses" minOccurs="0" name="GetPushDataResult" nillable="true" type="q2:ArrayOfPushData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPushData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DmsV2.Models.Responses" minOccurs="0" name="pushData" nillable="true" type="q3:SetPushData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPushDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPushDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>