Logic/Service References/DmsService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DmsV2.Models.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DmsV2.Models.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPushData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PushData" nillable="true" type="tns:PushData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPushData" nillable="true" type="tns:ArrayOfPushData" />
  <xs:complexType name="PushData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationExternalToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Udid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushData" nillable="true" type="tns:PushData" />
  <xs:complexType name="SetPushData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Udid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetPushData" nillable="true" type="tns:SetPushData" />
</xs:schema>