Libs/TVPApiTests/Web References/SocialService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://social.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://social.tvinci.com/" />
      <s:element name="GetAllFriendsWatched">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="maxResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAllFriendsWatchedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFriendsWatchedResult" type="tns:ArrayOfFriendWatchedObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFriendWatchedObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FriendWatchedObject" nillable="true" type="s1:FriendWatchedObject" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFriendsWatchedByMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsWatchedByMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsWatchedByMediaResult" type="tns:ArrayOfFriendWatchedObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersLikedMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyFriends" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersLikedMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersLikedMediaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserFriendsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sSTG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBConfigResult" type="tns:FBConnectConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FBConnectConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="appId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scope" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://social.tvinci.com/">
      <s:complexType name="FriendWatchedObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SiteGuid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MediaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllFriendsWatchedSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFriendsWatched" />
  </wsdl:message>
  <wsdl:message name="GetAllFriendsWatchedSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFriendsWatchedResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsWatchedByMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendsWatchedByMedia" />
  </wsdl:message>
  <wsdl:message name="GetFriendsWatchedByMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsWatchedByMediaResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersLikedMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersLikedMedia" />
  </wsdl:message>
  <wsdl:message name="GetUsersLikedMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersLikedMediaResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserFriends" />
  </wsdl:message>
  <wsdl:message name="GetUserFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="FBConfigSoapIn">
    <wsdl:part name="parameters" element="tns:FBConfig" />
  </wsdl:message>
  <wsdl:message name="FBConfigSoapOut">
    <wsdl:part name="parameters" element="tns:FBConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="SocialServiceSoap">
    <wsdl:operation name="GetAllFriendsWatched">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all medias that user's friends watched</wsdl:documentation>
      <wsdl:input message="tns:GetAllFriendsWatchedSoapIn" />
      <wsdl:output message="tns:GetAllFriendsWatchedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all friends that watched the specified media</wsdl:documentation>
      <wsdl:input message="tns:GetFriendsWatchedByMediaSoapIn" />
      <wsdl:output message="tns:GetFriendsWatchedByMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersLikedMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all friends that liked a media</wsdl:documentation>
      <wsdl:input message="tns:GetUsersLikedMediaSoapIn" />
      <wsdl:output message="tns:GetUsersLikedMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all user's friends</wsdl:documentation>
      <wsdl:input message="tns:GetUserFriendsSoapIn" />
      <wsdl:output message="tns:GetUserFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all user's friends</wsdl:documentation>
      <wsdl:input message="tns:FBConfigSoapIn" />
      <wsdl:output message="tns:FBConfigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SocialServiceHttpGet" />
  <wsdl:portType name="SocialServiceHttpPost" />
  <wsdl:binding name="SocialServiceSoap" type="tns:SocialServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFriendsWatched">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetAllFriendsWatched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetFriendsWatchedByMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersLikedMedia">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUsersLikedMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/FBConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialServiceSoap12" type="tns:SocialServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFriendsWatched">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetAllFriendsWatched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetFriendsWatchedByMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersLikedMedia">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUsersLikedMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/FBConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialServiceHttpGet" type="tns:SocialServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SocialServiceHttpPost" type="tns:SocialServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SocialService">
    <wsdl:port name="SocialServiceSoap" binding="tns:SocialServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/SOCIAL/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialServiceSoap12" binding="tns:SocialServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/SOCIAL/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialServiceHttpGet" binding="tns:SocialServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/SOCIAL/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialServiceHttpPost" binding="tns:SocialServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/SOCIAL/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>