TVPPro.SiteManager/Web References/TvinciPlatform.Domains/module.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://domains.tvinci.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://domains.tvinci.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://domains.tvinci.com/">
      <s:element name="AddDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMasterUserGuid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DomainResponseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oDomain" type="tns:Domain" />
          <s:element minOccurs="1" maxOccurs="1" name="m_oDomainResponseStatus" type="tns:DomainResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Domain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCoGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nDomainID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nGroupID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nDeviceLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nUserLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nConcurrentLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nIsActive" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_UsersIDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_masterGUIDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_PendingUsersIDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_DefaultUsersIDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamilies" type="tns:ArrayOfDeviceContainer" />
          <s:element minOccurs="1" maxOccurs="1" name="m_DomainStatus" type="tns:DomainStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="m_frequencyFlag" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_NextActionFreq" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_NextUserActionFreq" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nSSOOperatorID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_DomainRestriction" type="tns:DomainRestriction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeviceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceContainer" nillable="true" type="tns:DeviceContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamilyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceFamilyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceConcurrentLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceInstances" type="tns:ArrayOfDevice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDevice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Device">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceUDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceFamilyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_domainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceBrandID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_pin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_activationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_state" type="tns:DeviceState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeviceState">
        <s:restriction base="s:string">
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="NotExists" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Activated" />
          <s:enumeration value="UnActivated" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DomainStatus">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="DomainAlreadyExists" />
          <s:enumeration value="ExceededLimit" />
          <s:enumeration value="DeviceTypeNotAllowed" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="DeviceNotInDomin" />
          <s:enumeration value="MasterEmailAlreadyExists" />
          <s:enumeration value="UserNotInDomain" />
          <s:enumeration value="DomainNotExists" />
          <s:enumeration value="HouseholdUserFailed" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DomainRestriction">
        <s:restriction base="s:string">
          <s:enumeration value="Unrestricted" />
          <s:enumeration value="UserMasterRestricted" />
          <s:enumeration value="DeviceMasterRestricted" />
          <s:enumeration value="DeviceUserMasterRestricted" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DomainResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="LimitationPeriod" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="DomainAlreadyExists" />
          <s:enumeration value="ExceededLimit" />
          <s:enumeration value="DeviceTypeNotAllowed" />
          <s:enumeration value="DeviceNotInDomain" />
          <s:enumeration value="DeviceNotExists" />
          <s:enumeration value="DeviceAlreadyExists" />
          <s:enumeration value="UserNotExistsInDomain" />
          <s:enumeration value="OK" />
          <s:enumeration value="ActionUserNotMaster" />
          <s:enumeration value="UserNotAllowed" />
          <s:enumeration value="ExceededUserLimit" />
          <s:enumeration value="NoUsersInDomain" />
          <s:enumeration value="UserExistsInOtherDomains" />
          <s:enumeration value="DomainNotExists" />
          <s:enumeration value="HouseholdUserFailed" />
          <s:enumeration value="DeviceExistsInOtherDomains" />
          <s:enumeration value="DomainNotInitialized" />
          <s:enumeration value="RequestSent" />
          <s:enumeration value="DeviceNotConfirmed" />
          <s:enumeration value="RequestFailed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddDomainWithCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMasterUserGuid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCoGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDomainWithCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDomainWithCoGuidResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveDomainResult" type="tns:DomainResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDomainInfoResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nUserGuid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nMasterUserGuid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserToDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitAddUserToDomainRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sMasterUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitAddUserToDomainRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitAddUserToDomainRequestResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainUserListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoveUserFromDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserFromDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveUserFromDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="udid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deviceBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDeviceToDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDeviceFromDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="udid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDeviceFromDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveDeviceFromDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDeviceDomainStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUDID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="activate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDeviceDomainStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeDeviceDomainStatusResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainInfoResult" type="tns:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainIDByCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCoGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainIDByCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDomainIDByCoGuidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainByCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCoGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainByCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainByCoGuidResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceDomains">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceDomainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceDomainsResult" type="tns:ArrayOfDomain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDomain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPINForDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceUDID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPINForDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPINForDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterDeviceToDomainWithPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterDeviceToDomainWithPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterDeviceToDomainWithPINResult" type="tns:DeviceResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeviceResponseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oDevice" type="tns:Device" />
          <s:element minOccurs="1" maxOccurs="1" name="m_oDeviceResponseStatus" type="tns:DeviceResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeviceResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="DuplicatePin" />
          <s:enumeration value="DeviceNotExists" />
          <s:enumeration value="OK" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceUDID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDeviceInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetDomainResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainIDsByOperatorCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sOperatorCoGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainIDsByOperatorCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainIDsByOperatorCoGuidResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsUDID" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceInfoResult" type="tns:DeviceResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitAddDeviceToDomainRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceUdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitAddDeviceToDomainRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitAddDeviceToDomainRequestResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmDeviceByDomainMaster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMasterUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceUDID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmDeviceByDomainMasterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmDeviceByDomainMasterResult" type="tns:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainRestriction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nDomainID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nRestriction" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainRestrictionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDomainRestrictionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DomainResponseObject" nillable="true" type="tns:DomainResponseObject" />
      <s:element name="DomainResponseStatus" type="tns:DomainResponseStatus" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="Domain" nillable="true" type="tns:Domain" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DeviceResponseObject" nillable="true" type="tns:DeviceResponseObject" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddDomain" />
  </wsdl:message>
  <wsdl:message name="AddDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddDomainResponse" />
  </wsdl:message>
  <wsdl:message name="AddDomainWithCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:AddDomainWithCoGuid" />
  </wsdl:message>
  <wsdl:message name="AddDomainWithCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:AddDomainWithCoGuidResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDomainSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDomain" />
  </wsdl:message>
  <wsdl:message name="RemoveDomainSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDomainResponse" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetDomainInfo" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToDomain" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToDomainResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitAddUserToDomainRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitAddUserToDomainRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitAddUserToDomainRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitAddUserToDomainRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainUserList" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainUserListResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDomain" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDomainResponse" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddDeviceToDomain" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddDeviceToDomainResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDeviceFromDomain" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDeviceFromDomainResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDeviceDomainStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDeviceDomainStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainInfo" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDByCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainIDByCoGuid" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDByCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainIDByCoGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainByCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainByCoGuid" />
  </wsdl:message>
  <wsdl:message name="GetDomainByCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainByCoGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceDomains" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPINForDevice" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPINForDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceToDomainWithPINSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterDeviceToDomainWithPIN" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceToDomainWithPINSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterDeviceToDomainWithPINResponse" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ResetDomainSoapIn">
    <wsdl:part name="parameters" element="tns:ResetDomain" />
  </wsdl:message>
  <wsdl:message name="ResetDomainSoapOut">
    <wsdl:part name="parameters" element="tns:ResetDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDsByOperatorCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainIDsByOperatorCoGuid" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDsByOperatorCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainIDsByOperatorCoGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="GetDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitAddDeviceToDomainRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitAddDeviceToDomainRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitAddDeviceToDomainRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitAddDeviceToDomainRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmDeviceByDomainMasterSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmDeviceByDomainMaster" />
  </wsdl:message>
  <wsdl:message name="ConfirmDeviceByDomainMasterSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmDeviceByDomainMasterResponse" />
  </wsdl:message>
  <wsdl:message name="SetDomainRestrictionSoapIn">
    <wsdl:part name="parameters" element="tns:SetDomainRestriction" />
  </wsdl:message>
  <wsdl:message name="SetDomainRestrictionSoapOut">
    <wsdl:part name="parameters" element="tns:SetDomainRestrictionResponse" />
  </wsdl:message>
  <wsdl:message name="AddDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sDomainName" type="s:string" />
    <wsdl:part name="sDomainDescription" type="s:string" />
    <wsdl:part name="nMasterUserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="AddDomainWithCoGuidHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sDomainName" type="s:string" />
    <wsdl:part name="sDomainDescription" type="s:string" />
    <wsdl:part name="nMasterUserGuid" type="s:string" />
    <wsdl:part name="sCoGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddDomainWithCoGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="RemoveDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseStatus" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="sDomainName" type="s:string" />
    <wsdl:part name="sDomainDescription" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="nUserGuid" type="s:string" />
    <wsdl:part name="nMasterUserGuid" type="s:string" />
    <wsdl:part name="bIsMaster" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="SubmitAddUserToDomainRequestHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nUserID" type="s:string" />
    <wsdl:part name="sMasterUsername" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitAddUserToDomainRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserListHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="sUserGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="udid" type="s:string" />
    <wsdl:part name="deviceName" type="s:string" />
    <wsdl:part name="deviceBrandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="udid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="deviceUDID" type="s:string" />
    <wsdl:part name="activate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:Domain" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDByCoGuidHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sCoGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDByCoGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDomainByCoGuidHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sCoGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainByCoGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="udid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDomain" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sDeviceUDID" type="s:string" />
    <wsdl:part name="nBrandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceToDomainWithPINHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sPID" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="sDeviceName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceToDomainWithPINHttpPostOut">
    <wsdl:part name="Body" element="tns:DeviceResponseObject" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sDeviceUDID" type="s:string" />
    <wsdl:part name="sDeviceName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ResetDomainHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDsByOperatorCoGuidHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sOperatorCoGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainIDsByOperatorCoGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="GetDeviceInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sID" type="s:string" />
    <wsdl:part name="bIsUDID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeviceInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DeviceResponseObject" />
  </wsdl:message>
  <wsdl:message name="SubmitAddDeviceToDomainRequestHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="nUserID" type="s:string" />
    <wsdl:part name="sDeviceUdid" type="s:string" />
    <wsdl:part name="sDeviceName" type="s:string" />
    <wsdl:part name="nBrandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitAddDeviceToDomainRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="ConfirmDeviceByDomainMasterHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sMasterUN" type="s:string" />
    <wsdl:part name="sDeviceUDID" type="s:string" />
    <wsdl:part name="sToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmDeviceByDomainMasterHttpPostOut">
    <wsdl:part name="Body" element="tns:DomainResponseObject" />
  </wsdl:message>
  <wsdl:message name="SetDomainRestrictionHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="nDomainID" type="s:string" />
    <wsdl:part name="nRestriction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetDomainRestrictionHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="moduleSoap">
    <wsdl:operation name="AddDomain">
      <wsdl:input message="tns:AddDomainSoapIn" />
      <wsdl:output message="tns:AddDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDomainWithCoGuid">
      <wsdl:input message="tns:AddDomainWithCoGuidSoapIn" />
      <wsdl:output message="tns:AddDomainWithCoGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <wsdl:input message="tns:RemoveDomainSoapIn" />
      <wsdl:output message="tns:RemoveDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <wsdl:input message="tns:SetDomainInfoSoapIn" />
      <wsdl:output message="tns:SetDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <wsdl:input message="tns:AddUserToDomainSoapIn" />
      <wsdl:output message="tns:AddUserToDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAddUserToDomainRequest">
      <wsdl:input message="tns:SubmitAddUserToDomainRequestSoapIn" />
      <wsdl:output message="tns:SubmitAddUserToDomainRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserList">
      <wsdl:input message="tns:GetDomainUserListSoapIn" />
      <wsdl:output message="tns:GetDomainUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <wsdl:input message="tns:RemoveUserFromDomainSoapIn" />
      <wsdl:output message="tns:RemoveUserFromDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <wsdl:input message="tns:AddDeviceToDomainSoapIn" />
      <wsdl:output message="tns:AddDeviceToDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <wsdl:input message="tns:RemoveDeviceFromDomainSoapIn" />
      <wsdl:output message="tns:RemoveDeviceFromDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <wsdl:input message="tns:ChangeDeviceDomainStatusSoapIn" />
      <wsdl:output message="tns:ChangeDeviceDomainStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <wsdl:input message="tns:GetDomainInfoSoapIn" />
      <wsdl:output message="tns:GetDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDByCoGuid">
      <wsdl:input message="tns:GetDomainIDByCoGuidSoapIn" />
      <wsdl:output message="tns:GetDomainIDByCoGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainByCoGuid">
      <wsdl:input message="tns:GetDomainByCoGuidSoapIn" />
      <wsdl:output message="tns:GetDomainByCoGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <wsdl:input message="tns:GetDeviceDomainsSoapIn" />
      <wsdl:output message="tns:GetDeviceDomainsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <wsdl:input message="tns:GetPINForDeviceSoapIn" />
      <wsdl:output message="tns:GetPINForDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceToDomainWithPIN">
      <wsdl:input message="tns:RegisterDeviceToDomainWithPINSoapIn" />
      <wsdl:output message="tns:RegisterDeviceToDomainWithPINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <wsdl:input message="tns:SetDeviceInfoSoapIn" />
      <wsdl:output message="tns:SetDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetDomain">
      <wsdl:input message="tns:ResetDomainSoapIn" />
      <wsdl:output message="tns:ResetDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDsByOperatorCoGuid">
      <wsdl:input message="tns:GetDomainIDsByOperatorCoGuidSoapIn" />
      <wsdl:output message="tns:GetDomainIDsByOperatorCoGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <wsdl:input message="tns:GetDeviceInfoSoapIn" />
      <wsdl:output message="tns:GetDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAddDeviceToDomainRequest">
      <wsdl:input message="tns:SubmitAddDeviceToDomainRequestSoapIn" />
      <wsdl:output message="tns:SubmitAddDeviceToDomainRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmDeviceByDomainMaster">
      <wsdl:input message="tns:ConfirmDeviceByDomainMasterSoapIn" />
      <wsdl:output message="tns:ConfirmDeviceByDomainMasterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainRestriction">
      <wsdl:input message="tns:SetDomainRestrictionSoapIn" />
      <wsdl:output message="tns:SetDomainRestrictionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="moduleHttpPost">
    <wsdl:operation name="AddDomain">
      <wsdl:input message="tns:AddDomainHttpPostIn" />
      <wsdl:output message="tns:AddDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDomainWithCoGuid">
      <wsdl:input message="tns:AddDomainWithCoGuidHttpPostIn" />
      <wsdl:output message="tns:AddDomainWithCoGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <wsdl:input message="tns:RemoveDomainHttpPostIn" />
      <wsdl:output message="tns:RemoveDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <wsdl:input message="tns:SetDomainInfoHttpPostIn" />
      <wsdl:output message="tns:SetDomainInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <wsdl:input message="tns:AddUserToDomainHttpPostIn" />
      <wsdl:output message="tns:AddUserToDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAddUserToDomainRequest">
      <wsdl:input message="tns:SubmitAddUserToDomainRequestHttpPostIn" />
      <wsdl:output message="tns:SubmitAddUserToDomainRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserList">
      <wsdl:input message="tns:GetDomainUserListHttpPostIn" />
      <wsdl:output message="tns:GetDomainUserListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <wsdl:input message="tns:RemoveUserFromDomainHttpPostIn" />
      <wsdl:output message="tns:RemoveUserFromDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <wsdl:input message="tns:AddDeviceToDomainHttpPostIn" />
      <wsdl:output message="tns:AddDeviceToDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <wsdl:input message="tns:RemoveDeviceFromDomainHttpPostIn" />
      <wsdl:output message="tns:RemoveDeviceFromDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <wsdl:input message="tns:ChangeDeviceDomainStatusHttpPostIn" />
      <wsdl:output message="tns:ChangeDeviceDomainStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <wsdl:input message="tns:GetDomainInfoHttpPostIn" />
      <wsdl:output message="tns:GetDomainInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDByCoGuid">
      <wsdl:input message="tns:GetDomainIDByCoGuidHttpPostIn" />
      <wsdl:output message="tns:GetDomainIDByCoGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainByCoGuid">
      <wsdl:input message="tns:GetDomainByCoGuidHttpPostIn" />
      <wsdl:output message="tns:GetDomainByCoGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <wsdl:input message="tns:GetDeviceDomainsHttpPostIn" />
      <wsdl:output message="tns:GetDeviceDomainsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <wsdl:input message="tns:GetPINForDeviceHttpPostIn" />
      <wsdl:output message="tns:GetPINForDeviceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceToDomainWithPIN">
      <wsdl:input message="tns:RegisterDeviceToDomainWithPINHttpPostIn" />
      <wsdl:output message="tns:RegisterDeviceToDomainWithPINHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <wsdl:input message="tns:SetDeviceInfoHttpPostIn" />
      <wsdl:output message="tns:SetDeviceInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetDomain">
      <wsdl:input message="tns:ResetDomainHttpPostIn" />
      <wsdl:output message="tns:ResetDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDsByOperatorCoGuid">
      <wsdl:input message="tns:GetDomainIDsByOperatorCoGuidHttpPostIn" />
      <wsdl:output message="tns:GetDomainIDsByOperatorCoGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <wsdl:input message="tns:GetDeviceInfoHttpPostIn" />
      <wsdl:output message="tns:GetDeviceInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAddDeviceToDomainRequest">
      <wsdl:input message="tns:SubmitAddDeviceToDomainRequestHttpPostIn" />
      <wsdl:output message="tns:SubmitAddDeviceToDomainRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmDeviceByDomainMaster">
      <wsdl:input message="tns:ConfirmDeviceByDomainMasterHttpPostIn" />
      <wsdl:output message="tns:ConfirmDeviceByDomainMasterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainRestriction">
      <wsdl:input message="tns:SetDomainRestrictionHttpPostIn" />
      <wsdl:output message="tns:SetDomainRestrictionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="moduleSoap" type="tns:moduleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDomain">
      <soap:operation soapAction="http://domains.tvinci.com/AddDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomainWithCoGuid">
      <soap:operation soapAction="http://domains.tvinci.com/AddDomainWithCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <soap:operation soapAction="http://domains.tvinci.com/RemoveDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <soap:operation soapAction="http://domains.tvinci.com/SetDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <soap:operation soapAction="http://domains.tvinci.com/AddUserToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddUserToDomainRequest">
      <soap:operation soapAction="http://domains.tvinci.com/SubmitAddUserToDomainRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserList">
      <soap:operation soapAction="http://domains.tvinci.com/GetDomainUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <soap:operation soapAction="http://domains.tvinci.com/RemoveUserFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <soap:operation soapAction="http://domains.tvinci.com/AddDeviceToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <soap:operation soapAction="http://domains.tvinci.com/RemoveDeviceFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <soap:operation soapAction="http://domains.tvinci.com/ChangeDeviceDomainStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <soap:operation soapAction="http://domains.tvinci.com/GetDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDByCoGuid">
      <soap:operation soapAction="http://domains.tvinci.com/GetDomainIDByCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainByCoGuid">
      <soap:operation soapAction="http://domains.tvinci.com/GetDomainByCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <soap:operation soapAction="http://domains.tvinci.com/GetDeviceDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <soap:operation soapAction="http://domains.tvinci.com/GetPINForDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceToDomainWithPIN">
      <soap:operation soapAction="http://domains.tvinci.com/RegisterDeviceToDomainWithPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <soap:operation soapAction="http://domains.tvinci.com/SetDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetDomain">
      <soap:operation soapAction="http://domains.tvinci.com/ResetDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDsByOperatorCoGuid">
      <soap:operation soapAction="http://domains.tvinci.com/GetDomainIDsByOperatorCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <soap:operation soapAction="http://domains.tvinci.com/GetDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddDeviceToDomainRequest">
      <soap:operation soapAction="http://domains.tvinci.com/SubmitAddDeviceToDomainRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDeviceByDomainMaster">
      <soap:operation soapAction="http://domains.tvinci.com/ConfirmDeviceByDomainMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainRestriction">
      <soap:operation soapAction="http://domains.tvinci.com/SetDomainRestriction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="moduleSoap12" type="tns:moduleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/AddDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomainWithCoGuid">
      <soap12:operation soapAction="http://domains.tvinci.com/AddDomainWithCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/RemoveDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <soap12:operation soapAction="http://domains.tvinci.com/SetDomainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/AddUserToDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddUserToDomainRequest">
      <soap12:operation soapAction="http://domains.tvinci.com/SubmitAddUserToDomainRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserList">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDomainUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/RemoveUserFromDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/AddDeviceToDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/RemoveDeviceFromDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <soap12:operation soapAction="http://domains.tvinci.com/ChangeDeviceDomainStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDomainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDByCoGuid">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDomainIDByCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainByCoGuid">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDomainByCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDeviceDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <soap12:operation soapAction="http://domains.tvinci.com/GetPINForDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceToDomainWithPIN">
      <soap12:operation soapAction="http://domains.tvinci.com/RegisterDeviceToDomainWithPIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <soap12:operation soapAction="http://domains.tvinci.com/SetDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetDomain">
      <soap12:operation soapAction="http://domains.tvinci.com/ResetDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDsByOperatorCoGuid">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDomainIDsByOperatorCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <soap12:operation soapAction="http://domains.tvinci.com/GetDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddDeviceToDomainRequest">
      <soap12:operation soapAction="http://domains.tvinci.com/SubmitAddDeviceToDomainRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDeviceByDomainMaster">
      <soap12:operation soapAction="http://domains.tvinci.com/ConfirmDeviceByDomainMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainRestriction">
      <soap12:operation soapAction="http://domains.tvinci.com/SetDomainRestriction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="moduleHttpPost" type="tns:moduleHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddDomain">
      <http:operation location="/AddDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomainWithCoGuid">
      <http:operation location="/AddDomainWithCoGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <http:operation location="/RemoveDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <http:operation location="/SetDomainInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <http:operation location="/AddUserToDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddUserToDomainRequest">
      <http:operation location="/SubmitAddUserToDomainRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserList">
      <http:operation location="/GetDomainUserList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <http:operation location="/RemoveUserFromDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <http:operation location="/AddDeviceToDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <http:operation location="/RemoveDeviceFromDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <http:operation location="/ChangeDeviceDomainStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <http:operation location="/GetDomainInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDByCoGuid">
      <http:operation location="/GetDomainIDByCoGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainByCoGuid">
      <http:operation location="/GetDomainByCoGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <http:operation location="/GetDeviceDomains" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <http:operation location="/GetPINForDevice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceToDomainWithPIN">
      <http:operation location="/RegisterDeviceToDomainWithPIN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <http:operation location="/SetDeviceInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetDomain">
      <http:operation location="/ResetDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainIDsByOperatorCoGuid">
      <http:operation location="/GetDomainIDsByOperatorCoGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInfo">
      <http:operation location="/GetDeviceInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAddDeviceToDomainRequest">
      <http:operation location="/SubmitAddDeviceToDomainRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDeviceByDomainMaster">
      <http:operation location="/ConfirmDeviceByDomainMaster" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainRestriction">
      <http:operation location="/SetDomainRestriction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="module">
    <wsdl:port name="moduleSoap" binding="tns:moduleSoap">
      <soap:address location="http://webservices.dev/Domains/module.asmx" />
    </wsdl:port>
    <wsdl:port name="moduleSoap12" binding="tns:moduleSoap12">
      <soap12:address location="http://webservices.dev/Domains/module.asmx" />
    </wsdl:port>
    <wsdl:port name="moduleHttpPost" binding="tns:moduleHttpPost">
      <http:address location="http://webservices.dev/Domains/module.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>