TvinciImporter/Service References/Notification_WCF/NotificationService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.72.1.39:8030/notification_v3_5/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationObj" />
  <xs:import schemaLocation="http://54.72.1.39:8030/notification_v3_5/NotificationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://54.72.1.39:8030/notification_v3_5/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NotificationInterface" />
  <xs:element name="AddNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="triggerType" type="q1:NotificationTriggerType" />
        <xs:element minOccurs="0" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNotificationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNotificationRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDeviceUDID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="notificationType" type="q2:NotificationMessageType" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="viewStatus" type="q3:NotificationMessageViewStatus" />
        <xs:element minOccurs="0" name="messageCount" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="GetDeviceNotificationsResult" nillable="true" type="q4:ArrayOfNotificationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationMessageViewStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationRequestID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="notificationMessageID" nillable="true" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="viewStatus" type="q5:NotificationMessageViewStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationMessageViewStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNotificationMessageViewStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="triggerType" type="q6:NotificationTriggerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllNotificationsResult" nillable="true" type="q7:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q8:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeByTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NotificationInterface" minOccurs="0" name="userSettings" nillable="true" type="q9:UserSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFollowUpByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q10:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFollowUpByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeFollowUpByTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserStatusSubscriptionsResult" nillable="true" type="q11:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTagNotificationExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTagNotificationExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTagNotificationExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>