TvinciImporter/Service References/WSCatalog/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog.ws_users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog.ws_users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="m_domianIDField" type="xs:int" />
      <xs:element name="m_eSuspendStateField" type="tns:DomainSuspentionStatus" />
      <xs:element name="m_eUserStateField" type="tns:UserState" />
      <xs:element name="m_isDomainMasterField" type="xs:boolean" />
      <xs:element name="m_nSSOOperatorIDField" type="xs:int" />
      <xs:element name="m_oBasicDataField" nillable="true" type="tns:UserBasicData" />
      <xs:element name="m_oDynamicDataField" nillable="true" type="tns:UserDynamicData" />
      <xs:element name="m_sSiteGUIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="DomainSuspentionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Suspended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DomainSuspentionStatus" nillable="true" type="tns:DomainSuspentionStatus" />
  <xs:simpleType name="UserState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Activated" />
      <xs:enumeration value="SingleSignIn" />
      <xs:enumeration value="DoubleSignIn" />
      <xs:enumeration value="LoggedOut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserState" nillable="true" type="tns:UserState" />
  <xs:complexType name="UserBasicData">
    <xs:sequence>
      <xs:element name="m_CoGuidField" nillable="true" type="xs:string" />
      <xs:element name="m_CountryField" nillable="true" type="tns:Country" />
      <xs:element name="m_ExternalTokenField" nillable="true" type="xs:string" />
      <xs:element name="m_StateField" nillable="true" type="tns:State" />
      <xs:element name="m_UserTypeField" nillable="true" type="tns:UserType" />
      <xs:element name="m_bIsFacebookImagePermittedField" type="xs:boolean" />
      <xs:element name="m_sAddressField" nillable="true" type="xs:string" />
      <xs:element name="m_sAffiliateCodeField" nillable="true" type="xs:string" />
      <xs:element name="m_sCityField" nillable="true" type="xs:string" />
      <xs:element name="m_sEmailField" nillable="true" type="xs:string" />
      <xs:element name="m_sFacebookIDField" nillable="true" type="xs:string" />
      <xs:element name="m_sFacebookImageField" nillable="true" type="xs:string" />
      <xs:element name="m_sFacebookTokenField" nillable="true" type="xs:string" />
      <xs:element name="m_sFirstNameField" nillable="true" type="xs:string" />
      <xs:element name="m_sLastNameField" nillable="true" type="xs:string" />
      <xs:element name="m_sPhoneField" nillable="true" type="xs:string" />
      <xs:element name="m_sTwitterTokenField" nillable="true" type="xs:string" />
      <xs:element name="m_sTwitterTokenSecretField" nillable="true" type="xs:string" />
      <xs:element name="m_sUserNameField" nillable="true" type="xs:string" />
      <xs:element name="m_sZipField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBasicData" nillable="true" type="tns:UserBasicData" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="m_nObjecrtIDField" type="xs:int" />
      <xs:element name="m_sCountryCodeField" nillable="true" type="xs:string" />
      <xs:element name="m_sCountryNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element name="m_CountryField" nillable="true" type="tns:Country" />
      <xs:element name="m_nObjecrtIDField" type="xs:int" />
      <xs:element name="m_sStateCodeField" nillable="true" type="xs:string" />
      <xs:element name="m_sStateNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:int" />
      <xs:element name="isDefaultField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="UserDynamicData">
    <xs:sequence>
      <xs:element name="m_sUserDataField" nillable="true" type="tns:ArrayOfUserDynamicDataContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDynamicData" nillable="true" type="tns:UserDynamicData" />
  <xs:complexType name="ArrayOfUserDynamicDataContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDynamicDataContainer" nillable="true" type="tns:UserDynamicDataContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDynamicDataContainer" nillable="true" type="tns:ArrayOfUserDynamicDataContainer" />
  <xs:complexType name="UserDynamicDataContainer">
    <xs:sequence>
      <xs:element name="m_sDataTypeField" nillable="true" type="xs:string" />
      <xs:element name="m_sValueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDynamicDataContainer" nillable="true" type="tns:UserDynamicDataContainer" />
</xs:schema>