TvinciImporter/Service References/WSCatalog/Service171.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:98/ws_catalog/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Catalog" />
  <xs:import schemaLocation="http://localhost:98/ws_catalog/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:98/ws_catalog/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:import schemaLocation="http://localhost:98/ws_catalog/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" />
  <xs:import schemaLocation="http://localhost:98/ws_catalog/Service.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="ExternalChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseChannelRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="deviceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="free" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="utcOffset" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalChannelRequest" nillable="true" type="tns:ExternalChannelRequest" />
  <xs:complexType name="BaseChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="externalChannelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="filterQuery" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="internalChannelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="tns:eChannelType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseChannelRequest" nillable="true" type="tns:BaseChannelRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="domainId" type="xs:int" />
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageSize" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_oFilter" nillable="true" type="q1:Filter" />
      <xs:element minOccurs="0" name="m_sSignString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSignature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUserIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="MediaAutoCompleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_MediaTypes" nillable="true" type="q2:ArrayOfint" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMetas" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lTags" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="m_sPrefix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaAutoCompleteRequest" nillable="true" type="tns:MediaAutoCompleteRequest" />
  <xs:complexType name="MediaMarkRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
          <xs:element minOccurs="0" name="m_sErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sMediaCDN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaMarkRequest" nillable="true" type="tns:MediaMarkRequest" />
  <xs:complexType name="MediaPlayRequestData">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_eAssetType" type="q5:eAssetTypes" />
      <xs:element minOccurs="0" name="m_nAvgBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nCurrentBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLoc" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nTotalBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_sAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sAssetID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sMediaDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sMediaTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
  <xs:complexType name="MediaHitRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaHitRequest" nillable="true" type="tns:MediaHitRequest" />
  <xs:complexType name="ChannelRequestMultiFiltering">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChannelRequest">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eFilterCutWith" type="q6:CutWith" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_lFilterTags" nillable="true" type="q7:ArrayOfKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequestMultiFiltering" nillable="true" type="tns:ChannelRequestMultiFiltering" />
  <xs:complexType name="ChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bIgnoreDeviceRuleID" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q8:OrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequest" nillable="true" type="tns:ChannelRequest" />
  <xs:complexType name="EpgCommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nEpgProgramID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentsListRequest" nillable="true" type="tns:EpgCommentsListRequest" />
  <xs:complexType name="EpgSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_AndList" nillable="true" type="q9:ArrayOfKeyValue" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_OrList" nillable="true" type="q10:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_bExact" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q11:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgSearchRequest" nillable="true" type="tns:EpgSearchRequest" />
  <xs:complexType name="EpgAutoCompleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_nProgramID" type="xs:int" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q12:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgAutoCompleteRequest" nillable="true" type="tns:EpgAutoCompleteRequest" />
  <xs:complexType name="MediaCommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommentRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaCommentRequest" nillable="true" type="tns:MediaCommentRequest" />
  <xs:complexType name="CommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bAutoActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_nAssetID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentRequest" nillable="true" type="tns:CommentRequest" />
  <xs:complexType name="IsMediaExistsInSubscriptionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSubscriptionID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsMediaExistsInSubscriptionRequest" nillable="true" type="tns:IsMediaExistsInSubscriptionRequest" />
  <xs:complexType name="ChannelsContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lChannles" nillable="true" type="q13:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsContainingMediaRequest" nillable="true" type="tns:ChannelsContainingMediaRequest" />
  <xs:complexType name="BundleContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_eBundleType" type="q14:eBundleType" />
          <xs:element minOccurs="0" name="m_nBundleID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundleContainingMediaRequest" nillable="true" type="tns:BundleContainingMediaRequest" />
  <xs:complexType name="MediaChannelsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaChannelsRequest" nillable="true" type="tns:MediaChannelsRequest" />
  <xs:complexType name="PicRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nPicIds" nillable="true" type="q15:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicRequest" nillable="true" type="tns:PicRequest" />
  <xs:complexType name="AssetStatsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nAssetIDs" nillable="true" type="q16:ArrayOfint" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_type" type="q17:StatsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetStatsRequest" nillable="true" type="tns:AssetStatsRequest" />
  <xs:complexType name="EPGProgramsByScidsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Catalog" base="q18:BaseEpg">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scids" nillable="true" type="q19:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGProgramsByScidsRequest" nillable="true" type="tns:EPGProgramsByScidsRequest" />
  <xs:complexType name="EPGProgramsByProgramsIdentefierRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/Catalog" base="q20:BaseEpg">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pids" nillable="true" type="q21:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGProgramsByProgramsIdentefierRequest" nillable="true" type="tns:EPGProgramsByProgramsIdentefierRequest" />
  <xs:complexType name="EPGSearchContentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q22:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGSearchContentRequest" nillable="true" type="tns:EPGSearchContentRequest" />
  <xs:complexType name="ChannelViewsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelViewsRequest" nillable="true" type="tns:ChannelViewsRequest" />
  <xs:complexType name="BuzzMeterRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuzzMeterRequest" nillable="true" type="tns:BuzzMeterRequest" />
  <xs:complexType name="MediaLastPositionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" nillable="true" type="tns:MediaLastPositionRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaLastPositionRequest" nillable="true" type="tns:MediaLastPositionRequest" />
  <xs:complexType name="MediaLastPositionRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sNpvrID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaLastPositionRequestData" nillable="true" type="tns:MediaLastPositionRequestData" />
  <xs:complexType name="CategoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryRequest" nillable="true" type="tns:CategoryRequest" />
  <xs:complexType name="InternalChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseChannelRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bIgnoreDeviceRuleID" type="xs:boolean" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="order" nillable="true" type="q23:OrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalChannelRequest" nillable="true" type="tns:InternalChannelRequest" />
  <xs:complexType name="MediaRelatedExternalRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q24:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nUtcOffset" type="xs:int" />
          <xs:element minOccurs="0" name="m_sDeviceID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sFreeParam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sLanguage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaRelatedExternalRequest" nillable="true" type="tns:MediaRelatedExternalRequest" />
  <xs:complexType name="MediaSearchExternalRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q25:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nUtcOffset" type="xs:int" />
          <xs:element minOccurs="0" name="m_sDeviceID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sLanguage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sQuery" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchExternalRequest" nillable="true" type="tns:MediaSearchExternalRequest" />
  <xs:complexType name="EpgRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_eSearchType" type="q26:EpgSearchType" />
          <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nChannelIDs" nillable="true" type="q27:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nNextTop" type="xs:int" />
          <xs:element minOccurs="0" name="m_nPrevTop" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgRequest" nillable="true" type="tns:EpgRequest" />
  <xs:complexType name="MediaSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMediaSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bAnd" type="xs:boolean" />
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_lMetas" nillable="true" type="q28:ArrayOfKeyValue" />
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_lTags" nillable="true" type="q29:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchRequest" nillable="true" type="tns:MediaSearchRequest" />
  <xs:complexType name="BaseMediaSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bExact" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q30:ArrayOfint" />
          <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q31:OrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseMediaSearchRequest" nillable="true" type="tns:BaseMediaSearchRequest" />
  <xs:complexType name="MediaRelatedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q32:ArrayOfint" />
          <xs:element minOccurs="0" name="m_sFilter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaRelatedRequest" nillable="true" type="tns:MediaRelatedRequest" />
  <xs:complexType name="MediaUpdateDateRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediaIds" nillable="true" type="q33:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaUpdateDateRequest" nillable="true" type="tns:MediaUpdateDateRequest" />
  <xs:complexType name="PWWAWProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWWAWProtocolRequest" nillable="true" type="tns:PWWAWProtocolRequest" />
  <xs:complexType name="BaseProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseProtocolRequest" nillable="true" type="tns:BaseProtocolRequest" />
  <xs:complexType name="ChannelsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsListRequest" nillable="true" type="tns:ChannelsListRequest" />
  <xs:complexType name="PersonalLastWatchedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLastWatchedRequest" nillable="true" type="tns:PersonalLastWatchedRequest" />
  <xs:complexType name="PersonalLasDeviceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaIDs" nillable="true" type="q34:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLasDeviceRequest" nillable="true" type="tns:PersonalLasDeviceRequest" />
  <xs:complexType name="PersonalRecommendedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalRecommendedRequest" nillable="true" type="tns:PersonalRecommendedRequest" />
  <xs:complexType name="CommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentsListRequest" nillable="true" type="tns:CommentsListRequest" />
  <xs:complexType name="PWLALProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWLALProtocolRequest" nillable="true" type="tns:PWLALProtocolRequest" />
  <xs:complexType name="UserSocialMediasRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserSocialMediasRequest" nillable="true" type="tns:UserSocialMediasRequest" />
  <xs:complexType name="BundleAssetsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_eBundleType" type="q35:eBundleType" />
          <xs:element minOccurs="0" name="m_nBundleID" type="xs:int" />
          <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q36:OrderObj" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundleAssetsRequest" nillable="true" type="tns:BundleAssetsRequest" />
  <xs:simpleType name="eChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Internal" />
      <xs:enumeration value="External" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eChannelType" nillable="true" type="tns:eChannelType" />
  <xs:complexType name="MediaSearchFullRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMediaSearchRequest">
        <xs:sequence>
          <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_AndList" nillable="true" type="q37:ArrayOfKeyValue" />
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_OrList" nillable="true" type="q38:ArrayOfKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchFullRequest" nillable="true" type="tns:MediaSearchFullRequest" />
  <xs:complexType name="EpgProgramDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lProgramsIds" nillable="true" type="q39:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramDetailsRequest" nillable="true" type="tns:EpgProgramDetailsRequest" />
  <xs:complexType name="ChannelObjRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelObjRequest" nillable="true" type="tns:ChannelObjRequest" />
  <xs:complexType name="CrowdsourceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastDate" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrowdsourceRequest" nillable="true" type="tns:CrowdsourceRequest" />
  <xs:complexType name="BundlesContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_oBundles" nillable="true" type="q40:ArrayOfBundleKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundlesContainingMediaRequest" nillable="true" type="tns:BundlesContainingMediaRequest" />
  <xs:complexType name="MediaFilesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lCoGuids" nillable="true" type="q41:ArrayOfstring" />
          <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediaFileIDs" nillable="true" type="q42:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaFilesRequest" nillable="true" type="tns:MediaFilesRequest" />
  <xs:complexType name="NPVRRetrieveRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dtStartDate" type="xs:dateTime" />
          <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_eNPVRSearchBy" type="q43:NPVRSearchBy" />
          <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lProgramIDs" nillable="true" type="q44:ArrayOfint" />
          <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lRecordingIDs" nillable="true" type="q45:ArrayOfstring" />
          <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_lRecordingStatuses" nillable="true" type="q46:ArrayOfRecordingStatus" />
          <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lSeriesIDs" nillable="true" type="q47:ArrayOfstring" />
          <xs:element minOccurs="0" name="m_nEPGChannelID" type="xs:int" />
          <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q48:RecordedEPGOrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NPVRRetrieveRequest" nillable="true" type="tns:NPVRRetrieveRequest" />
  <xs:complexType name="NPVRSeriesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q49:RecordedEPGOrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NPVRSeriesRequest" nillable="true" type="tns:NPVRSeriesRequest" />
  <xs:complexType name="UnifiedSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetTypes" nillable="true" type="q50:ArrayOfint" />
          <xs:element minOccurs="0" name="filterQuery" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="from" type="xs:int" />
          <xs:element minOccurs="0" name="nameAndDescription" nillable="true" type="xs:string" />
          <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="order" nillable="true" type="q51:OrderObj" />
          <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="personalFilters" nillable="true" type="q52:ArrayOfePersonalFilter" />
          <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shouldDateSearchesApplyToAllTypes" type="xs:boolean" />
          <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="specificAssets" nillable="true" type="q53:ArrayOfKeyValuePairOfeAssetTypeslongHVR2FNfI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnifiedSearchRequest" nillable="true" type="tns:UnifiedSearchRequest" />
  <xs:complexType name="AssetInfoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="epgIds" nillable="true" type="q54:ArrayOflong" />
          <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mediaIds" nillable="true" type="q55:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetInfoRequest" nillable="true" type="tns:AssetInfoRequest" />
  <xs:complexType name="WatchHistoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssetTypes" nillable="true" type="q56:ArrayOfint" />
          <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="FilterStatus" type="q57:eWatchStatus" />
          <xs:element minOccurs="0" name="NumOfDays" type="xs:int" />
          <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="OrderDir" type="q58:OrderDir" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WatchHistoryRequest" nillable="true" type="tns:WatchHistoryRequest" />
  <xs:complexType name="EpgCommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommentRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentRequest" nillable="true" type="tns:EpgCommentRequest" />
  <xs:complexType name="CountryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryRequest" nillable="true" type="tns:CountryRequest" />
  <xs:complexType name="AssetsBookmarksRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:AssetsBookmarksRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetsBookmarksRequest" nillable="true" type="tns:AssetsBookmarksRequest" />
  <xs:complexType name="AssetsBookmarksRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assets" nillable="true" type="tns:ArrayOfAssetBookmarkRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetsBookmarksRequestData" nillable="true" type="tns:AssetsBookmarksRequestData" />
  <xs:complexType name="ArrayOfAssetBookmarkRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetBookmarkRequest" nillable="true" type="tns:AssetBookmarkRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetBookmarkRequest" nillable="true" type="tns:ArrayOfAssetBookmarkRequest" />
  <xs:complexType name="AssetBookmarkRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetID" nillable="true" type="xs:string" />
      <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="AssetType" type="q59:eAssetTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetBookmarkRequest" nillable="true" type="tns:AssetBookmarkRequest" />
  <xs:complexType name="BundleMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="m_eBundleType" type="q60:eBundleType" />
          <xs:element minOccurs="0" name="m_nBundleID" type="xs:int" />
          <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q61:OrderObj" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundleMediaRequest" nillable="true" type="tns:BundleMediaRequest" />
  <xs:complexType name="MediasProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediasIds" nillable="true" type="q62:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediasProtocolRequest" nillable="true" type="tns:MediasProtocolRequest" />
</xs:schema>