Logic/Service References/OSSAdapterService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="AdapterStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdapterStatus" nillable="true" type="tns:AdapterStatus" />
  <xs:simpleType name="eTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PPV" />
      <xs:enumeration value="Subscription" />
      <xs:enumeration value="Collection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eTransactionType" nillable="true" type="tns:eTransactionType" />
</xs:schema>