Logic/Service References/OSSAdapterService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSSAdapter.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSSAdapter.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://52.31.200.113:90/OSSAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:complexType name="HouseholdPaymentGatewayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Configuration" nillable="true" type="tns:HouseholdBillingConfiguration" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q1:AdapterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseholdPaymentGatewayResponse" nillable="true" type="tns:HouseholdPaymentGatewayResponse" />
  <xs:complexType name="HouseholdBillingConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentGatewayId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseholdBillingConfiguration" nillable="true" type="tns:HouseholdBillingConfiguration" />
  <xs:complexType name="EntitlementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entitlements" nillable="true" type="tns:ArrayOfEntitlement" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q2:AdapterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitlementsResponse" nillable="true" type="tns:EntitlementsResponse" />
  <xs:complexType name="ArrayOfEntitlement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entitlement" nillable="true" type="tns:Entitlement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitlement" nillable="true" type="tns:ArrayOfEntitlement" />
  <xs:complexType name="Entitlement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDateSeconds" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="EntitlementType" type="q3:eTransactionType" />
      <xs:element minOccurs="0" name="StartDateSeconds" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entitlement" nillable="true" type="tns:Entitlement" />
</xs:schema>