Logic/Service References/OSSAdapterService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://52.31.200.113:90/OSSAdapter/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://52.31.200.113:90/OSSAdapter/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://52.31.200.113:90/OSSAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
      <xsd:import schemaLocation="http://52.31.200.113:90/OSSAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OSSAdapter.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetHouseholdPaymentGatewaySettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseholdPaymentGatewaySettings" />
  </wsdl:message>
  <wsdl:message name="IService_GetHouseholdPaymentGatewaySettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseholdPaymentGatewaySettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEntitlements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitlements" />
  </wsdl:message>
  <wsdl:message name="IService_GetEntitlements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitlementsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetConfiguration" message="tns:IService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetConfigurationResponse" message="tns:IService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseholdPaymentGatewaySettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetHouseholdPaymentGatewaySettings" message="tns:IService_GetHouseholdPaymentGatewaySettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetHouseholdPaymentGatewaySettingsResponse" message="tns:IService_GetHouseholdPaymentGatewaySettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntitlements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEntitlements" message="tns:IService_GetEntitlements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEntitlementsResponse" message="tns:IService_GetEntitlements_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseholdPaymentGatewaySettings">
      <soap:operation soapAction="http://tempuri.org/IService/GetHouseholdPaymentGatewaySettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntitlements">
      <soap:operation soapAction="http://tempuri.org/IService/GetEntitlements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://52.31.200.113:90/OSSAdapter/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>