WebAPI/Service References/Catalog/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Catalog.Request" />
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileTypes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="m_bOnlyActiveMedia" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseFinalDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseStartDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="m_nUserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_noFileUrl" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_sDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sPlatform" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:simpleType name="eBundleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUBSCRIPTION" />
      <xs:enumeration value="COLLECTION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eBundleType" nillable="true" type="tns:eBundleType" />
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="BaseEpg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Catalog.Request" base="q2:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="duration" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="eLang" type="q3:Language" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseEpg" nillable="true" type="tns:BaseEpg" />
  <xs:complexType name="ArrayOfBaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseObject" nillable="true" type="tns:BaseObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseObject" nillable="true" type="tns:ArrayOfBaseObject" />
  <xs:complexType name="BaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="AssetType" type="q4:eAssetTypes" />
      <xs:element minOccurs="0" name="m_dUpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseObject" nillable="true" type="tns:BaseObject" />
  <xs:complexType name="ProgramObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_oProgram" nillable="true" type="q5:EPGChannelProgrammeObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramObj" nillable="true" type="tns:ProgramObj" />
  <xs:complexType name="FileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bIsPostSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bIsPreSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nAltCdnID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nCdnID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nDuration" type="xs:double" />
      <xs:element minOccurs="0" name="m_nFileId" type="xs:int" />
      <xs:element minOccurs="0" name="m_nIsDefaultLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_oBreakProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oOverlayProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPostProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPreProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_sAltCoGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sAltUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sBillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sBreakpoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sCoGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sFileFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sOverlaypoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMedia" nillable="true" type="tns:FileMedia" />
  <xs:complexType name="AdProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdProvider" nillable="true" type="tns:AdProvider" />
  <xs:complexType name="ArrayOfBranding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branding" nillable="true" type="tns:Branding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranding" nillable="true" type="tns:ArrayOfBranding" />
  <xs:complexType name="Branding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileMedia">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nBrandHeight" type="xs:int" />
          <xs:element minOccurs="0" name="m_nRecurringTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Branding" nillable="true" type="tns:Branding" />
  <xs:complexType name="ArrayOfFileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileMedia" nillable="true" type="tns:FileMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileMedia" nillable="true" type="tns:ArrayOfFileMedia" />
  <xs:complexType name="ArrayOfMetas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metas" nillable="true" type="tns:Metas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetas" nillable="true" type="tns:ArrayOfMetas" />
  <xs:complexType name="Metas">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metas" nillable="true" type="tns:Metas" />
  <xs:complexType name="TagMeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagMeta" nillable="true" type="tns:TagMeta" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_sSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ratio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lValues" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
  <xs:complexType name="MediaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
  <xs:simpleType name="StatusComment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAIL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusComment" nillable="true" type="tns:StatusComment" />
  <xs:complexType name="ArrayOfChannelViewsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelViewsResult" nillable="true" type="tns:ChannelViewsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelViewsResult" nillable="true" type="tns:ArrayOfChannelViewsResult" />
  <xs:complexType name="ChannelViewsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfViews" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelViewsResult" nillable="true" type="tns:ChannelViewsResult" />
  <xs:complexType name="ArrayOfBundleTriple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleTriple" nillable="true" type="tns:BundleTriple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBundleTriple" nillable="true" type="tns:ArrayOfBundleTriple" />
  <xs:complexType name="BundleTriple">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bIsContained" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
      <xs:element minOccurs="0" name="m_nBundleCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BundleTriple" nillable="true" type="tns:BundleTriple" />
  <xs:complexType name="ArrayOfProgramObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramObj" nillable="true" type="tns:ProgramObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramObj" nillable="true" type="tns:ArrayOfProgramObj" />
  <xs:simpleType name="eUserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOUSEHOLD" />
      <xs:enumeration value="PERSONAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eUserType" nillable="true" type="tns:eUserType" />
  <xs:complexType name="ArrayOfBundleKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleKeyValue" nillable="true" type="tns:BundleKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBundleKeyValue" nillable="true" type="tns:ArrayOfBundleKeyValue" />
  <xs:complexType name="BundleKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
      <xs:element minOccurs="0" name="m_nBundleCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BundleKeyValue" nillable="true" type="tns:BundleKeyValue" />
</xs:schema>