WebAPI/Service References/Catalog/Service16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Implementations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Implementations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" />
  <xs:import schemaLocation="http://localhost/Catalog_V4_0/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" />
  <xs:complexType name="RealTimeViewsItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" base="q1:BaseCrowdsourceItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="EpgStartTime" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramId" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Views" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RealTimeViewsItem" nillable="true" type="tns:RealTimeViewsItem" />
  <xs:complexType name="OrcaItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" base="q2:BaseCrowdsourceItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrcaItem" nillable="true" type="tns:OrcaItem" />
  <xs:complexType name="SlidingWindowItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" base="q3:BaseCrowdsourceItem">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="Action" type="q4:OrderBy" />
          <xs:element minOccurs="0" name="ActionDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActionVal" type="xs:double" />
          <xs:element minOccurs="0" name="Period" type="xs:int" />
          <xs:element minOccurs="0" name="PeriodDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SlidingWindowItem" nillable="true" type="tns:SlidingWindowItem" />
</xs:schema>