Tvinci.Configuration/Service References/ConfigSvc/TVPConfigSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConfigSite.WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConfigSite.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="eConfigType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Platform" />
      <xs:enumeration value="Site" />
      <xs:enumeration value="Technical" />
      <xs:enumeration value="Media" />
      <xs:enumeration value="Additional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eConfigType" nillable="true" type="tns:eConfigType" />
  <xs:complexType name="ArrayOfConfigKeyVal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigKeyVal" nillable="true" type="tns:ConfigKeyVal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigKeyVal" nillable="true" type="tns:ArrayOfConfigKeyVal" />
  <xs:complexType name="ConfigKeyVal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigKeyVal" nillable="true" type="tns:ConfigKeyVal" />
</xs:schema>