TVPPro.SiteManager/Web References/TvinciPlatform.Social/module.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://social.tvinci.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://social.tvinci.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://social.tvinci.com/">
      <s:element name="GetUsersLikedMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nMediaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nPlatform" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bOnlyFriends" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nStartIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfItems" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersLikedMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersLikedMediaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllFriendsWatched">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxResults" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFriendsWatchedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFriendsWatchedResult" type="tns:ArrayOfFriendWatchedObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFriendWatchedObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FriendWatchedObject" nillable="true" type="tns:FriendWatchedObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FriendWatchedObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SiteGuid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MediaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFriendsWatchedByMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nMediaID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsWatchedByMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsWatchedByMediaResult" type="tns:ArrayOfFriendWatchedObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserSocialPrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SocialPlatform">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="FACEBOOK" />
          <s:enumeration value="GOOGLE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="eUserAction">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="UNKNOWN" />
              <s:enumeration value="LIKE" />
              <s:enumeration value="UNLIKE" />
              <s:enumeration value="SHARE" />
              <s:enumeration value="POST" />
              <s:enumeration value="WATCHES" />
              <s:enumeration value="WANTS_TO_WATCH" />
              <s:enumeration value="RATES" />
              <s:enumeration value="FOLLOWS" />
              <s:enumeration value="UNFOLLOW" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="GetUserSocialPrivacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserSocialPrivacyResult" type="tns:eSocialPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="eSocialPrivacy">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="EVERYONE" />
          <s:enumeration value="ALL_FRIENDS" />
          <s:enumeration value="FRIENDS_OF_FRIENDS" />
          <s:enumeration value="SELF" />
          <s:enumeration value="CUSTOM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUserAllowedSocialPrivacyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAllowedSocialPrivacyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserAllowedSocialPrivacyListResult" type="tns:ArrayOfESocialPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfESocialPrivacy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="eSocialPrivacy" type="tns:eSocialPrivacy" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUserSocialPrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
            <s:element minOccurs="1" maxOccurs="1" name="ePrivacy" type="tns:eSocialPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserSocialPrivacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserSocialPrivacyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserFriendsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserActions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oUserActionRequest" type="tns:UserSocialActionQueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserSocialActionQueryRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:SocialBaseRequestWrapper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_eUserActions" type="tns:eUserAction" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sSiteGuid" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nAssetID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nStartIndex" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nNumOfRecords" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eAssetType" type="tns:eAssetType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SocialBaseRequestWrapper" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_eSocialPlatform" type="tns:SocialPlatform" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sFunctionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oKeyValue" type="tns:ArrayOfKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" nillable="true" type="tns:KeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FacebookObjectRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:SocialBaseRequestWrapper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_eAssetType" type="tns:eAssetType" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eType" type="tns:eRequestType" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nAssetID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="eAssetType">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="UNKNOWN" />
              <s:enumeration value="MEDIA" />
              <s:enumeration value="PROGRAM" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="eRequestType">
        <s:restriction base="s:string">
          <s:enumeration value="GET" />
          <s:enumeration value="SET" />
          <s:enumeration value="DELETE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="BaseDoUserActionRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:SocialBaseRequestWrapper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_eAssetType" type="tns:eAssetType" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sDeviceUDID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sSiteGuid" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nAssetID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eAction" type="tns:eUserAction" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetFriendsActionsRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserSocialActionQueryRequest" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserActionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserActionsResult" type="tns:ArrayOfUserSocialActionObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserSocialActionObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserSocialActionObject" nillable="true" type="tns:UserSocialActionObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserSocialActionObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sSiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_eSocialAction" type="tns:eUserAction" />
          <s:element minOccurs="1" maxOccurs="1" name="m_eSocialPlatform" type="tns:SocialPlatform" />
          <s:element minOccurs="1" maxOccurs="1" name="nMediaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nProgramID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="assetType" type="tns:eAssetType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_dActionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="nRateValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFriendsActions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oFriendActionRequest" type="tns:GetFriendsActionsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsActionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsActionsResult" type="tns:ArrayOfUserSocialActionObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoUserAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oActionRequest" type="tns:BaseDoUserActionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoUserActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoUserActionResult" type="tns:DoSocialActionResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DoSocialActionResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseSocialResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_eActionResponseStatusIntern" type="tns:SocialActionResponseStatus" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eActionResponseStatusExtern" type="tns:SocialActionResponseStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseSocialResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sResponseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SocialObjectReponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseSocialResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="sID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="SocialActionResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="OK" />
          <s:enumeration value="ERROR" />
          <s:enumeration value="UNKNOWN_ACTION" />
          <s:enumeration value="INVALID_ACCESS_TOKEN" />
          <s:enumeration value="INVALID_PLATFORM_REQUEST" />
          <s:enumeration value="MEDIA_DOESNT_EXISTS" />
          <s:enumeration value="MEDIA_ALREADY_LIKED" />
          <s:enumeration value="INVALID_PARAMETERS" />
          <s:enumeration value="USER_DOES_NOT_EXIST" />
          <s:enumeration value="NO_FB_ACTION" />
          <s:enumeration value="EMPTY_FB_OBJECT_ID" />
          <s:enumeration value="MEDIA_ALEADY_FOLLOWED" />
          <s:enumeration value="CONFIG_ERROR" />
          <s:enumeration value="MEDIA_ALREADY_RATED" />
          <s:enumeration value="NOT_ALLOWED" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FBConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBConfigResult" type="tns:FacebookConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FacebookConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sFBKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sFBSecret" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sFBCallback" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nFBMinFriends" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sFBPermissions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sFBRedirect" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FBUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBUserDataResult" type="tns:FacebookResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FacebookResponseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tvinciName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="facebookName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="minFriends" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fbUser" type="tns:FBUser" />
          <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FBUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sSiteGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:FBLoaction" />
          <s:element minOccurs="0" maxOccurs="1" name="interests" type="tns:FBInterest" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FBLoaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FBInterest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfFBInterestData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFBInterestData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FBInterestData" nillable="true" type="tns:FBInterestData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FBInterestData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="created_time" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FBUserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extra" type="tns:ArrayOfKeyValuePair" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBUserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBUserRegisterResult" type="tns:FacebookResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBUserMerage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBUserMerageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBUserMerageResult" type="tns:FacebookResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBObjectRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objRequest" type="tns:FacebookObjectRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FBObjectRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBObjectRequestResult" type="tns:SocialObjectReponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserExternalActionShare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
            <s:element minOccurs="1" maxOccurs="1" name="eActionPrivacy" type="tns:eSocialActionPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="eSocialActionPrivacy">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="ALLOW" />
          <s:enumeration value="DONT_ALLOW" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetUserExternalActionShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserExternalActionShareResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInternalActionPrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
            <s:element minOccurs="1" maxOccurs="1" name="eActionPrivacy" type="tns:eSocialActionPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInternalActionPrivacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserInternalActionPrivacyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserExternalActionShare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserExternalActionShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserExternalActionShareResult" type="tns:eSocialActionPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInternalActionPrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nSiteGUID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eSocialPlatform" type="tns:SocialPlatform" />
            <s:element minOccurs="1" maxOccurs="1" name="eAction" type="tns:eUserAction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInternalActionPrivacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInternalActionPrivacyResult" type="tns:eSocialActionPrivacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetLikeCounter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nAssetID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="assetType" type="tns:eAssetType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetLikeCounterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAssetLikeCounterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Share">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceUdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFBActionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMediaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nAssetID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eAssetType" type="tns:eAssetType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShareResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersLikedMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersLikedMedia" />
  </wsdl:message>
  <wsdl:message name="GetUsersLikedMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersLikedMediaResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFriendsWatchedSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFriendsWatched" />
  </wsdl:message>
  <wsdl:message name="GetAllFriendsWatchedSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFriendsWatchedResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsWatchedByMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendsWatchedByMedia" />
  </wsdl:message>
  <wsdl:message name="GetFriendsWatchedByMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsWatchedByMediaResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSocialPrivacySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserSocialPrivacy" />
  </wsdl:message>
  <wsdl:message name="GetUserSocialPrivacySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserSocialPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserAllowedSocialPrivacyListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserAllowedSocialPrivacyList" />
  </wsdl:message>
  <wsdl:message name="GetUserAllowedSocialPrivacyListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserAllowedSocialPrivacyListResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserSocialPrivacySoapIn">
    <wsdl:part name="parameters" element="tns:SetUserSocialPrivacy" />
  </wsdl:message>
  <wsdl:message name="SetUserSocialPrivacySoapOut">
    <wsdl:part name="parameters" element="tns:SetUserSocialPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserFriends" />
  </wsdl:message>
  <wsdl:message name="GetUserFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserActionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserActions" />
  </wsdl:message>
  <wsdl:message name="GetUserActionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserActionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsActionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendsActions" />
  </wsdl:message>
  <wsdl:message name="GetFriendsActionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsActionsResponse" />
  </wsdl:message>
  <wsdl:message name="DoUserActionSoapIn">
    <wsdl:part name="parameters" element="tns:DoUserAction" />
  </wsdl:message>
  <wsdl:message name="DoUserActionSoapOut">
    <wsdl:part name="parameters" element="tns:DoUserActionResponse" />
  </wsdl:message>
  <wsdl:message name="FBConfigSoapIn">
    <wsdl:part name="parameters" element="tns:FBConfig" />
  </wsdl:message>
  <wsdl:message name="FBConfigSoapOut">
    <wsdl:part name="parameters" element="tns:FBConfigResponse" />
  </wsdl:message>
  <wsdl:message name="FBUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:FBUserData" />
  </wsdl:message>
  <wsdl:message name="FBUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:FBUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="FBUserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:FBUserRegister" />
  </wsdl:message>
  <wsdl:message name="FBUserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:FBUserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="FBUserMerageSoapIn">
    <wsdl:part name="parameters" element="tns:FBUserMerage" />
  </wsdl:message>
  <wsdl:message name="FBUserMerageSoapOut">
    <wsdl:part name="parameters" element="tns:FBUserMerageResponse" />
  </wsdl:message>
  <wsdl:message name="FBObjectRequestSoapIn">
    <wsdl:part name="parameters" element="tns:FBObjectRequest" />
  </wsdl:message>
  <wsdl:message name="FBObjectRequestSoapOut">
    <wsdl:part name="parameters" element="tns:FBObjectRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserExternalActionShareSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserExternalActionShare" />
  </wsdl:message>
  <wsdl:message name="SetUserExternalActionShareSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserExternalActionShareResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserInternalActionPrivacySoapIn">
    <wsdl:part name="parameters" element="tns:SetUserInternalActionPrivacy" />
  </wsdl:message>
  <wsdl:message name="SetUserInternalActionPrivacySoapOut">
    <wsdl:part name="parameters" element="tns:SetUserInternalActionPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserExternalActionShareSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserExternalActionShare" />
  </wsdl:message>
  <wsdl:message name="GetUserExternalActionShareSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserExternalActionShareResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInternalActionPrivacySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInternalActionPrivacy" />
  </wsdl:message>
  <wsdl:message name="GetUserInternalActionPrivacySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInternalActionPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetLikeCounterSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetLikeCounter" />
  </wsdl:message>
  <wsdl:message name="GetAssetLikeCounterSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetLikeCounterResponse" />
  </wsdl:message>
  <wsdl:message name="ShareSoapIn">
    <wsdl:part name="parameters" element="tns:Share" />
  </wsdl:message>
  <wsdl:message name="ShareSoapOut">
    <wsdl:part name="parameters" element="tns:ShareResponse" />
  </wsdl:message>
  <wsdl:portType name="moduleSoap">
    <wsdl:operation name="GetUsersLikedMedia">
      <wsdl:input message="tns:GetUsersLikedMediaSoapIn" />
      <wsdl:output message="tns:GetUsersLikedMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFriendsWatched">
      <wsdl:input message="tns:GetAllFriendsWatchedSoapIn" />
      <wsdl:output message="tns:GetAllFriendsWatchedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <wsdl:input message="tns:GetFriendsWatchedByMediaSoapIn" />
      <wsdl:output message="tns:GetFriendsWatchedByMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSocialPrivacy">
      <wsdl:input message="tns:GetUserSocialPrivacySoapIn" />
      <wsdl:output message="tns:GetUserSocialPrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAllowedSocialPrivacyList">
      <wsdl:input message="tns:GetUserAllowedSocialPrivacyListSoapIn" />
      <wsdl:output message="tns:GetUserAllowedSocialPrivacyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserSocialPrivacy">
      <wsdl:input message="tns:SetUserSocialPrivacySoapIn" />
      <wsdl:output message="tns:SetUserSocialPrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <wsdl:input message="tns:GetUserFriendsSoapIn" />
      <wsdl:output message="tns:GetUserFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserActions">
      <wsdl:input message="tns:GetUserActionsSoapIn" />
      <wsdl:output message="tns:GetUserActionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsActions">
      <wsdl:input message="tns:GetFriendsActionsSoapIn" />
      <wsdl:output message="tns:GetFriendsActionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoUserAction">
      <wsdl:input message="tns:DoUserActionSoapIn" />
      <wsdl:output message="tns:DoUserActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <wsdl:input message="tns:FBConfigSoapIn" />
      <wsdl:output message="tns:FBConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBUserData">
      <wsdl:input message="tns:FBUserDataSoapIn" />
      <wsdl:output message="tns:FBUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBUserRegister">
      <wsdl:input message="tns:FBUserRegisterSoapIn" />
      <wsdl:output message="tns:FBUserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBUserMerage">
      <wsdl:input message="tns:FBUserMerageSoapIn" />
      <wsdl:output message="tns:FBUserMerageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FBObjectRequest">
      <wsdl:input message="tns:FBObjectRequestSoapIn" />
      <wsdl:output message="tns:FBObjectRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserExternalActionShare">
      <wsdl:input message="tns:SetUserExternalActionShareSoapIn" />
      <wsdl:output message="tns:SetUserExternalActionShareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInternalActionPrivacy">
      <wsdl:input message="tns:SetUserInternalActionPrivacySoapIn" />
      <wsdl:output message="tns:SetUserInternalActionPrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserExternalActionShare">
      <wsdl:input message="tns:GetUserExternalActionShareSoapIn" />
      <wsdl:output message="tns:GetUserExternalActionShareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInternalActionPrivacy">
      <wsdl:input message="tns:GetUserInternalActionPrivacySoapIn" />
      <wsdl:output message="tns:GetUserInternalActionPrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetLikeCounter">
      <wsdl:input message="tns:GetAssetLikeCounterSoapIn" />
      <wsdl:output message="tns:GetAssetLikeCounterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Share">
      <wsdl:input message="tns:ShareSoapIn" />
      <wsdl:output message="tns:ShareSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="moduleSoap" type="tns:moduleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersLikedMedia">
      <soap:operation soapAction="http://social.tvinci.com/GetUsersLikedMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFriendsWatched">
      <soap:operation soapAction="http://social.tvinci.com/GetAllFriendsWatched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <soap:operation soapAction="http://social.tvinci.com/GetFriendsWatchedByMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSocialPrivacy">
      <soap:operation soapAction="http://social.tvinci.com/GetUserSocialPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAllowedSocialPrivacyList">
      <soap:operation soapAction="http://social.tvinci.com/GetUserAllowedSocialPrivacyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserSocialPrivacy">
      <soap:operation soapAction="http://social.tvinci.com/SetUserSocialPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://social.tvinci.com/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserActions">
      <soap:operation soapAction="http://social.tvinci.com/GetUserActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsActions">
      <soap:operation soapAction="http://social.tvinci.com/GetFriendsActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUserAction">
      <soap:operation soapAction="http://social.tvinci.com/DoUserAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <soap:operation soapAction="http://social.tvinci.com/FBConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserData">
      <soap:operation soapAction="http://social.tvinci.com/FBUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserRegister">
      <soap:operation soapAction="http://social.tvinci.com/FBUserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserMerage">
      <soap:operation soapAction="http://social.tvinci.com/FBUserMerage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBObjectRequest">
      <soap:operation soapAction="http://social.tvinci.com/FBObjectRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserExternalActionShare">
      <soap:operation soapAction="http://social.tvinci.com/SetUserExternalActionShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInternalActionPrivacy">
      <soap:operation soapAction="http://social.tvinci.com/SetUserInternalActionPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExternalActionShare">
      <soap:operation soapAction="http://social.tvinci.com/GetUserExternalActionShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInternalActionPrivacy">
      <soap:operation soapAction="http://social.tvinci.com/GetUserInternalActionPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetLikeCounter">
      <soap:operation soapAction="http://social.tvinci.com/GetAssetLikeCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Share">
      <soap:operation soapAction="http://social.tvinci.com/Share" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="moduleSoap12" type="tns:moduleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersLikedMedia">
      <soap12:operation soapAction="http://social.tvinci.com/GetUsersLikedMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFriendsWatched">
      <soap12:operation soapAction="http://social.tvinci.com/GetAllFriendsWatched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsWatchedByMedia">
      <soap12:operation soapAction="http://social.tvinci.com/GetFriendsWatchedByMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSocialPrivacy">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserSocialPrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAllowedSocialPrivacyList">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserAllowedSocialPrivacyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserSocialPrivacy">
      <soap12:operation soapAction="http://social.tvinci.com/SetUserSocialPrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserActions">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsActions">
      <soap12:operation soapAction="http://social.tvinci.com/GetFriendsActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUserAction">
      <soap12:operation soapAction="http://social.tvinci.com/DoUserAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBConfig">
      <soap12:operation soapAction="http://social.tvinci.com/FBConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserData">
      <soap12:operation soapAction="http://social.tvinci.com/FBUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserRegister">
      <soap12:operation soapAction="http://social.tvinci.com/FBUserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBUserMerage">
      <soap12:operation soapAction="http://social.tvinci.com/FBUserMerage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBObjectRequest">
      <soap12:operation soapAction="http://social.tvinci.com/FBObjectRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserExternalActionShare">
      <soap12:operation soapAction="http://social.tvinci.com/SetUserExternalActionShare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInternalActionPrivacy">
      <soap12:operation soapAction="http://social.tvinci.com/SetUserInternalActionPrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExternalActionShare">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserExternalActionShare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInternalActionPrivacy">
      <soap12:operation soapAction="http://social.tvinci.com/GetUserInternalActionPrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetLikeCounter">
      <soap12:operation soapAction="http://social.tvinci.com/GetAssetLikeCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Share">
      <soap12:operation soapAction="http://social.tvinci.com/Share" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="module">
    <wsdl:port name="moduleSoap" binding="tns:moduleSoap">
      <soap:address location="http://webservices.dev/Social/module.asmx" />
    </wsdl:port>
    <wsdl:port name="moduleSoap12" binding="tns:moduleSoap12">
      <soap12:address location="http://webservices.dev/Social/module.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>