tvmapps/Feeders/CroudsourcingFeeder/Service References/WS_Catalog/Service82.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Statistics" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" />
  <xs:complexType name="CrowdsourceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastDate" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrowdsourceRequest" nillable="true" type="tns:CrowdsourceRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageSize" type="xs:int" />
      <xs:element minOccurs="0" name="m_oFilter" nillable="true" type="tns:Filter" />
      <xs:element minOccurs="0" name="m_sSignString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSignature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUserIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bOnlyActiveMedia" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseFinalDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseStartDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="m_nUserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_noFileUrl" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_sDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sPlatform" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:complexType name="AssetStatsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nAssetIDs" nillable="true" type="q1:ArrayOfint" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_type" type="q2:StatsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetStatsRequest" nillable="true" type="tns:AssetStatsRequest" />
  <xs:complexType name="MediaHitRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaHitRequest" nillable="true" type="tns:MediaHitRequest" />
  <xs:complexType name="MediaPlayRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nAvgBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nCurrentBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLoc" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nTotalBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_sAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sMediaDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sMediaTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
  <xs:complexType name="ChannelRequestMultiFiltering">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChannelRequest">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eFilterCutWith" type="q3:CutWith" />
          <xs:element minOccurs="0" name="m_lFilterTags" nillable="true" type="tns:ArrayOfKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequestMultiFiltering" nillable="true" type="tns:ChannelRequestMultiFiltering" />
  <xs:complexType name="ChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q4:OrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequest" nillable="true" type="tns:ChannelRequest" />
  <xs:complexType name="EpgCommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nEpgProgramID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentsListRequest" nillable="true" type="tns:EpgCommentsListRequest" />
  <xs:complexType name="EpgSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_AndList" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_OrList" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_bExact" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q5:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgSearchRequest" nillable="true" type="tns:EpgSearchRequest" />
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="EpgAutoCompleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_nProgramID" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q6:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgAutoCompleteRequest" nillable="true" type="tns:EpgAutoCompleteRequest" />
  <xs:complexType name="MediaCommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommentRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaCommentRequest" nillable="true" type="tns:MediaCommentRequest" />
  <xs:complexType name="CommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bAutoActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_nAssetID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentRequest" nillable="true" type="tns:CommentRequest" />
  <xs:complexType name="MediaMarkRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
          <xs:element minOccurs="0" name="m_sErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sMediaCDN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaMarkRequest" nillable="true" type="tns:MediaMarkRequest" />
  <xs:complexType name="ChannelsContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lChannles" nillable="true" type="q7:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsContainingMediaRequest" nillable="true" type="tns:ChannelsContainingMediaRequest" />
  <xs:complexType name="BundleContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
          <xs:element minOccurs="0" name="m_nBundleID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundleContainingMediaRequest" nillable="true" type="tns:BundleContainingMediaRequest" />
  <xs:simpleType name="eBundleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUBSCRIPTION" />
      <xs:enumeration value="COLLECTION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eBundleType" nillable="true" type="tns:eBundleType" />
  <xs:complexType name="MediaChannelsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaChannelsRequest" nillable="true" type="tns:MediaChannelsRequest" />
  <xs:complexType name="MediaAutoCompleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_MediaTypes" nillable="true" type="q8:ArrayOfint" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMetas" nillable="true" type="q9:ArrayOfstring" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lTags" nillable="true" type="q10:ArrayOfstring" />
          <xs:element minOccurs="0" name="m_sPrefix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaAutoCompleteRequest" nillable="true" type="tns:MediaAutoCompleteRequest" />
  <xs:complexType name="EpgRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_eSearchType" type="q11:EpgSearchType" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nChannelIDs" nillable="true" type="q12:ArrayOfint" />
          <xs:element minOccurs="0" name="m_nNextTop" type="xs:int" />
          <xs:element minOccurs="0" name="m_nPrevTop" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgRequest" nillable="true" type="tns:EpgRequest" />
  <xs:complexType name="EPGProgramsByScidsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEpg">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scids" nillable="true" type="q13:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGProgramsByScidsRequest" nillable="true" type="tns:EPGProgramsByScidsRequest" />
  <xs:complexType name="BaseEpg">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="duration" type="xs:int" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="eLang" type="q14:Language" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseEpg" nillable="true" type="tns:BaseEpg" />
  <xs:complexType name="EPGProgramsByProgramsIdentefierRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEpg">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pids" nillable="true" type="q15:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGProgramsByProgramsIdentefierRequest" nillable="true" type="tns:EPGProgramsByProgramsIdentefierRequest" />
  <xs:complexType name="EPGSearchContentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oEPGChannelIDs" nillable="true" type="q16:ArrayOflong" />
          <xs:element minOccurs="0" name="m_sSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EPGSearchContentRequest" nillable="true" type="tns:EPGSearchContentRequest" />
  <xs:complexType name="ChannelViewsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelViewsRequest" nillable="true" type="tns:ChannelViewsRequest" />
  <xs:complexType name="BuzzMeterRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuzzMeterRequest" nillable="true" type="tns:BuzzMeterRequest" />
  <xs:complexType name="PicRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nPicIds" nillable="true" type="q17:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicRequest" nillable="true" type="tns:PicRequest" />
  <xs:complexType name="MediaLastPositionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Location" type="xs:int" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaLastPositionResponse" nillable="true" type="tns:MediaLastPositionResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_lObj" nillable="true" type="tns:ArrayOfBaseObject" />
      <xs:element minOccurs="0" name="m_nTotalItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArrayOfBaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseObject" nillable="true" type="tns:BaseObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseObject" nillable="true" type="tns:ArrayOfBaseObject" />
  <xs:complexType name="BaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseObject" nillable="true" type="tns:BaseObject" />
  <xs:complexType name="MediaObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_ExternalIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_dCatalogStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dFinalDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dLastWatchedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dPublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_lBranding" nillable="true" type="tns:ArrayOfBranding" />
          <xs:element minOccurs="0" name="m_lFiles" nillable="true" type="tns:ArrayOfFileMedia" />
          <xs:element minOccurs="0" name="m_lMetas" nillable="true" type="tns:ArrayOfMetas" />
          <xs:element minOccurs="0" name="m_lPicture" nillable="true" type="tns:ArrayOfPicture" />
          <xs:element minOccurs="0" name="m_lTags" nillable="true" type="tns:ArrayOfTags" />
          <xs:element minOccurs="0" name="m_nLikeCounter" type="xs:int" />
          <xs:element minOccurs="0" name="m_oMediaType" nillable="true" type="tns:MediaType" />
          <xs:element minOccurs="0" name="m_oRatingMedia" nillable="true" type="tns:RatingMedia" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sLastWatchedDevice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSiteUserGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaObj" nillable="true" type="tns:MediaObj" />
  <xs:complexType name="ArrayOfBranding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branding" nillable="true" type="tns:Branding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranding" nillable="true" type="tns:ArrayOfBranding" />
  <xs:complexType name="Branding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileMedia">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nBrandHeight" type="xs:int" />
          <xs:element minOccurs="0" name="m_nRecurringTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Branding" nillable="true" type="tns:Branding" />
  <xs:complexType name="FileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bIsPostSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bIsPreSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nAltCdnID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nCdnID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nDuration" type="xs:double" />
      <xs:element minOccurs="0" name="m_nFileId" type="xs:int" />
      <xs:element minOccurs="0" name="m_nIsDefaultLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_oBreakProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oOverlayProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPostProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPreProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_sAltCoGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sAltUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sBillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sBreakpoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sCoGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sFileFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sOverlaypoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMedia" nillable="true" type="tns:FileMedia" />
  <xs:complexType name="AdProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdProvider" nillable="true" type="tns:AdProvider" />
  <xs:complexType name="ArrayOfFileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileMedia" nillable="true" type="tns:FileMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileMedia" nillable="true" type="tns:ArrayOfFileMedia" />
  <xs:complexType name="ArrayOfMetas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metas" nillable="true" type="tns:Metas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetas" nillable="true" type="tns:ArrayOfMetas" />
  <xs:complexType name="Metas">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metas" nillable="true" type="tns:Metas" />
  <xs:complexType name="TagMeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagMeta" nillable="true" type="tns:TagMeta" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lValues" nillable="true" type="q18:ArrayOfstring" />
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
  <xs:complexType name="MediaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
  <xs:complexType name="RatingMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nRatingAvg" type="xs:double" />
      <xs:element minOccurs="0" name="m_nRatingCount" type="xs:int" />
      <xs:element minOccurs="0" name="m_nRatingSum" type="xs:int" />
      <xs:element minOccurs="0" name="m_nViwes" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote1Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote2Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote3Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote4Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote5Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVotesLoCnt" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVotesUpCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingMedia" nillable="true" type="tns:RatingMedia" />
  <xs:complexType name="PicObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_Picture" nillable="true" type="tns:ArrayOfPicture" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicObj" nillable="true" type="tns:PicObj" />
  <xs:complexType name="ProgramObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="m_oProgram" nillable="true" type="q19:EPGChannelProgrammeObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramObj" nillable="true" type="tns:ProgramObj" />
  <xs:complexType name="MediaFileObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oFile" nillable="true" type="tns:FileMedia" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaFileObj" nillable="true" type="tns:MediaFileObj" />
  <xs:complexType name="PersonalLastDeviceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lPersonalLastWatched" nillable="true" type="tns:ArrayOfPersonalLastDevice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLastDeviceResponse" nillable="true" type="tns:PersonalLastDeviceResponse" />
  <xs:complexType name="ArrayOfPersonalLastDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalLastDevice" nillable="true" type="tns:PersonalLastDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalLastDevice" nillable="true" type="tns:ArrayOfPersonalLastDevice" />
  <xs:complexType name="PersonalLastDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dLastWatchedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sLastWatchedDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteUserGuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalLastDevice" nillable="true" type="tns:PersonalLastDevice" />
  <xs:complexType name="MediaChannelsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nChannelIDs" nillable="true" type="q20:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaChannelsResponse" nillable="true" type="tns:MediaChannelsResponse" />
  <xs:complexType name="IsMediaExistsInSubscriptionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bExists" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsMediaExistsInSubscriptionResponse" nillable="true" type="tns:IsMediaExistsInSubscriptionResponse" />
  <xs:complexType name="ChannelsContainingMediaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lChannellList" nillable="true" type="q21:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsContainingMediaResponse" nillable="true" type="tns:ChannelsContainingMediaResponse" />
  <xs:complexType name="ChannelResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_nMedias" nillable="true" type="q22:ArrayOfSearchResult" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sEnableRssFeed" type="xs:int" />
          <xs:element minOccurs="0" name="m_sImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelResponse" nillable="true" type="tns:ChannelResponse" />
  <xs:complexType name="BundlesContainingMediaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oBundles" nillable="true" type="tns:ArrayOfBundleTriple" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundlesContainingMediaResponse" nillable="true" type="tns:BundlesContainingMediaResponse" />
  <xs:complexType name="ArrayOfBundleTriple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleTriple" nillable="true" type="tns:BundleTriple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBundleTriple" nillable="true" type="tns:ArrayOfBundleTriple" />
  <xs:complexType name="BundleTriple">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bIsContained" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
      <xs:element minOccurs="0" name="m_nBundleCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BundleTriple" nillable="true" type="tns:BundleTriple" />
  <xs:complexType name="MediaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaResponse" nillable="true" type="tns:MediaResponse" />
  <xs:complexType name="ChannelDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lchannelList" nillable="true" type="tns:ArrayOfchannelObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelDetailsResponse" nillable="true" type="tns:ChannelDetailsResponse" />
  <xs:complexType name="ArrayOfchannelObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="channelObj" nillable="true" type="tns:channelObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfchannelObj" nillable="true" type="tns:ArrayOfchannelObj" />
  <xs:complexType name="channelObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dLinearStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_lPic" nillable="true" type="tns:ArrayOfPicture" />
      <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sEditorRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="channelObj" nillable="true" type="tns:channelObj" />
  <xs:complexType name="CommentsListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lComments" nillable="true" type="tns:ArrayOfComments" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentsListResponse" nillable="true" type="tns:CommentsListResponse" />
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="m_dCreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nAssetID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLang" type="xs:int" />
      <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sLangName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUserPicURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
  <xs:complexType name="PicResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicResponse" nillable="true" type="tns:PicResponse" />
  <xs:complexType name="MediaMarkResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaMarkResponse" nillable="true" type="tns:MediaMarkResponse" />
  <xs:complexType name="MediaHitResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaHitResponse" nillable="true" type="tns:MediaHitResponse" />
  <xs:complexType name="CommentResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="eStatusComment" type="tns:StatusComment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentResponse" nillable="true" type="tns:CommentResponse" />
  <xs:simpleType name="StatusComment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAIL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusComment" nillable="true" type="tns:StatusComment" />
  <xs:complexType name="EpgSearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_nEpgIds" nillable="true" type="q23:ArrayOfSearchResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgSearchResponse" nillable="true" type="tns:EpgSearchResponse" />
  <xs:complexType name="EpgAutoCompleteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_sList" nillable="true" type="q24:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgAutoCompleteResponse" nillable="true" type="tns:EpgAutoCompleteResponse" />
  <xs:complexType name="EpgProgramResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramResponse" nillable="true" type="tns:EpgProgramResponse" />
  <xs:complexType name="MediaIdsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_nMediaIds" nillable="true" type="q25:ArrayOfSearchResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaIdsResponse" nillable="true" type="tns:MediaIdsResponse" />
  <xs:complexType name="MediaAutoCompleteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lResults" nillable="true" type="q26:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaAutoCompleteResponse" nillable="true" type="tns:MediaAutoCompleteResponse" />
  <xs:complexType name="ContainingMediaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bContainsMedia" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContainingMediaResponse" nillable="true" type="tns:ContainingMediaResponse" />
  <xs:complexType name="EpgResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="programsPerChannel" nillable="true" type="q27:ArrayOfEpgResultsObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgResponse" nillable="true" type="tns:EpgResponse" />
  <xs:complexType name="AssetStatsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lAssetStat" nillable="true" type="tns:ArrayOfAssetStatsResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetStatsResponse" nillable="true" type="tns:AssetStatsResponse" />
  <xs:complexType name="ArrayOfAssetStatsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetStatsResult" nillable="true" type="tns:AssetStatsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetStatsResult" nillable="true" type="tns:ArrayOfAssetStatsResult" />
  <xs:complexType name="AssetStatsResult">
    <xs:sequence>
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ApiObjects.Statistics" minOccurs="0" name="m_buzzAverScore" nillable="true" type="q28:BuzzWeightedAverScore" />
      <xs:element minOccurs="0" name="m_dRate" type="xs:double" />
      <xs:element minOccurs="0" name="m_nAssetID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLikes" type="xs:int" />
      <xs:element minOccurs="0" name="m_nViews" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVotes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetStatsResult" nillable="true" type="tns:AssetStatsResult" />
  <xs:complexType name="EpgProgramsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="lEpgList" nillable="true" type="q29:ArrayOfEPGChannelProgrammeObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramsResponse" nillable="true" type="tns:EpgProgramsResponse" />
  <xs:complexType name="ChannelViewsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelViews" nillable="true" type="tns:ArrayOfChannelViewsResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelViewsResponse" nillable="true" type="tns:ChannelViewsResponse" />
  <xs:complexType name="ArrayOfChannelViewsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelViewsResult" nillable="true" type="tns:ChannelViewsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelViewsResult" nillable="true" type="tns:ArrayOfChannelViewsResult" />
  <xs:complexType name="ChannelViewsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfViews" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelViewsResult" nillable="true" type="tns:ChannelViewsResult" />
  <xs:complexType name="BuzzMeterResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ApiObjects.Statistics" minOccurs="0" name="m_buzzAverScore" nillable="true" type="q30:BuzzWeightedAverScore" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuzzMeterResponse" nillable="true" type="tns:BuzzMeterResponse" />
  <xs:complexType name="ChannelObjResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelObj" nillable="true" type="tns:Channel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelObjResponse" nillable="true" type="tns:ChannelObjResponse" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_OrderObject" nillable="true" type="q31:OrderObj" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eCutWith" type="q32:CutWith" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eOrderBy" type="q33:OrderBy" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eOrderDir" type="q34:OrderDir" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_lChannelTags" nillable="true" type="q35:ArrayOfSearchValue" />
      <xs:element minOccurs="0" name="m_lManualMedias" nillable="true" type="tns:ArrayOfManualMedia" />
      <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nChannelTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nIsActive" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaType" type="xs:int" />
      <xs:element minOccurs="0" name="m_nParentGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nStatus" type="xs:int" />
      <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oMedias" nillable="true" type="q36:ArrayOfint" />
      <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_sMedias" nillable="true" type="q37:ArrayOfstring" />
      <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfManualMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManualMedia" nillable="true" type="tns:ManualMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManualMedia" nillable="true" type="tns:ArrayOfManualMedia" />
  <xs:complexType name="ManualMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nOrderNum" type="xs:int" />
      <xs:element minOccurs="0" name="m_sMediaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManualMedia" nillable="true" type="tns:ManualMedia" />
  <xs:complexType name="CrowdsourceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" minOccurs="0" name="CrowdsourceItems" nillable="true" type="q38:ArrayOfBaseCrowdsourceItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrowdsourceResponse" nillable="true" type="tns:CrowdsourceResponse" />
  <xs:complexType name="CategoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryRequest" nillable="true" type="tns:CategoryRequest" />
  <xs:complexType name="MediaSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMediaSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bAnd" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_lMetas" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_lTags" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchRequest" nillable="true" type="tns:MediaSearchRequest" />
  <xs:complexType name="BaseMediaSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bExact" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q39:ArrayOfint" />
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q40:OrderObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseMediaSearchRequest" nillable="true" type="tns:BaseMediaSearchRequest" />
  <xs:complexType name="IsMediaExistsInSubscriptionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSubscriptionID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsMediaExistsInSubscriptionRequest" nillable="true" type="tns:IsMediaExistsInSubscriptionRequest" />
  <xs:complexType name="MediaRelatedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q41:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaRelatedRequest" nillable="true" type="tns:MediaRelatedRequest" />
  <xs:complexType name="MediaUpdateDateRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediaIds" nillable="true" type="q42:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaUpdateDateRequest" nillable="true" type="tns:MediaUpdateDateRequest" />
  <xs:complexType name="MediaLastPositionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" nillable="true" type="tns:MediaLastPositionRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaLastPositionRequest" nillable="true" type="tns:MediaLastPositionRequest" />
  <xs:complexType name="MediaLastPositionRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaLastPositionRequestData" nillable="true" type="tns:MediaLastPositionRequestData" />
  <xs:complexType name="PWWAWProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWWAWProtocolRequest" nillable="true" type="tns:PWWAWProtocolRequest" />
  <xs:complexType name="BaseProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseProtocolRequest" nillable="true" type="tns:BaseProtocolRequest" />
  <xs:complexType name="ChannelsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsListRequest" nillable="true" type="tns:ChannelsListRequest" />
  <xs:complexType name="PersonalLastWatchedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLastWatchedRequest" nillable="true" type="tns:PersonalLastWatchedRequest" />
  <xs:complexType name="PersonalLasDeviceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaIDs" nillable="true" type="q43:ArrayOfint" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLasDeviceRequest" nillable="true" type="tns:PersonalLasDeviceRequest" />
  <xs:complexType name="PersonalRecommendedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalRecommendedRequest" nillable="true" type="tns:PersonalRecommendedRequest" />
  <xs:complexType name="CommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentsListRequest" nillable="true" type="tns:CommentsListRequest" />
  <xs:complexType name="PWLALProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseProtocolRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWLALProtocolRequest" nillable="true" type="tns:PWLALProtocolRequest" />
  <xs:complexType name="UserSocialMediasRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserSocialMediasRequest" nillable="true" type="tns:UserSocialMediasRequest" />
  <xs:complexType name="BundleMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
          <xs:element minOccurs="0" name="m_nBundleID" type="xs:int" />
          <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_oOrderObj" nillable="true" type="q44:OrderObj" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundleMediaRequest" nillable="true" type="tns:BundleMediaRequest" />
  <xs:complexType name="EpgProgramDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lProgramsIds" nillable="true" type="q45:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramDetailsRequest" nillable="true" type="tns:EpgProgramDetailsRequest" />
  <xs:complexType name="ChannelObjRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelObjRequest" nillable="true" type="tns:ChannelObjRequest" />
  <xs:complexType name="BundlesContainingMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_oBundles" nillable="true" type="tns:ArrayOfBundleKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BundlesContainingMediaRequest" nillable="true" type="tns:BundlesContainingMediaRequest" />
  <xs:complexType name="ArrayOfBundleKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleKeyValue" nillable="true" type="tns:BundleKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBundleKeyValue" nillable="true" type="tns:ArrayOfBundleKeyValue" />
  <xs:complexType name="BundleKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_eBundleType" type="tns:eBundleType" />
      <xs:element minOccurs="0" name="m_nBundleCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BundleKeyValue" nillable="true" type="tns:BundleKeyValue" />
  <xs:complexType name="MediaFilesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lCoGuids" nillable="true" type="q46:ArrayOfstring" />
          <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediaFileIDs" nillable="true" type="q47:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaFilesRequest" nillable="true" type="tns:MediaFilesRequest" />
  <xs:complexType name="MediaFilesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaFilesResponse" nillable="true" type="tns:MediaFilesResponse" />
  <xs:complexType name="CategoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="m_lPics" nillable="true" type="tns:ArrayOfPicture" />
          <xs:element minOccurs="0" name="m_nParentCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_oChannels" nillable="true" type="tns:ArrayOfchannelObj" />
          <xs:element minOccurs="0" name="m_oChildCategories" nillable="true" type="tns:ArrayOfCategoryResponse" />
          <xs:element minOccurs="0" name="m_sCoGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryResponse" nillable="true" type="tns:CategoryResponse" />
  <xs:complexType name="ArrayOfCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryResponse" nillable="true" type="tns:CategoryResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryResponse" nillable="true" type="tns:ArrayOfCategoryResponse" />
  <xs:complexType name="EpgCommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommentRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentRequest" nillable="true" type="tns:EpgCommentRequest" />
  <xs:complexType name="MediaSearchFullRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMediaSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_AndList" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_OrList" nillable="true" type="tns:ArrayOfKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchFullRequest" nillable="true" type="tns:MediaSearchFullRequest" />
  <xs:complexType name="MediasProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediasIds" nillable="true" type="q48:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediasProtocolRequest" nillable="true" type="tns:MediasProtocolRequest" />
</xs:schema>