tvmapps/Feeders/CroudsourcingFeeder/Service References/WS_Catalog/Service83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Catalog" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/WS_Catalog/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:element name="InjestAdiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="Feeder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Feeder">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feeder" nillable="true" type="Feeder" />
  <xs:element name="InjestAdiDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InjestAdiDataResult" nillable="true" type="Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assetID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tvmID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="Response" />
  <xs:element name="InjestTvinciData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="Feeder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InjestTvinciDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InjestTvinciDataResult" nillable="true" type="Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="request" nillable="true" type="q1:BaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="GetResponseResult" nillable="true" type="q2:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediasByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="mediaRequest" nillable="true" type="q3:MediasProtocolRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediasByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="GetMediasByIDsResult" nillable="true" type="q4:MediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="nChannelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lMediaIds" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="nGroupId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="eAction" type="q6:eAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lChannelIds" nillable="true" type="q7:ArrayOfint" />
        <xs:element minOccurs="0" name="nGroupId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="eAction" type="q8:eAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChannelIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="programRequest" nillable="true" type="q9:EpgProgramDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Catalog" minOccurs="0" name="GetProgramsByIDsResult" nillable="true" type="q10:EpgProgramResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="nOperatorID" type="xs:int" />
        <xs:element minOccurs="0" name="nSubscriptionID" type="xs:int" />
        <xs:element minOccurs="0" name="lChannelID" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="oe" type="q11:eOperatorEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOperatorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEpgIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lEpgIds" nillable="true" type="q12:ArrayOfint" />
        <xs:element minOccurs="0" name="nGroupId" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="eAction" type="q13:eAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEpgIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEpgIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>