Libs/TVPApiTests/Web References/UsersService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://users.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://users.tvinci.com/" />
      <s:element name="ChangeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sOldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeUserPasswordResult" type="s1:UserResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenewUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenewUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenewUserPasswordResult" type="s1:UserResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByFacebookID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="facebookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByFacebookIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByFacebookIDResult" type="s1:UserResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUsernameResult" type="s1:UserResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActivateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateAccountResult" type="s1:UserResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResendActivationMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResendActivationMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResendActivationMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInSecure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEncryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInSecureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignInSecureResult" type="tns:LogInResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LogInResponseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginStatus" type="s1:ResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s1:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCountriesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountriesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesListResult" type="tns:ArrayOfCountry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="s1:Country" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckTemporaryToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTemporaryTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckTemporaryTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupUserTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupUserTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupUserTypesResult" type="tns:ArrayOfUserType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserType" nillable="true" type="s1:UserType" />
        </s:sequence>
      </s:complexType>
      <s:element name="RenewUserPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ruleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenewUserPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenewUserPINResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://users.tvinci.com/">
      <s:complexType name="UserResponseObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_RespStatus" type="s1:ResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="m_user" type="s1:User" />
          <s:element minOccurs="0" maxOccurs="1" name="m_userInstanceID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="UserExists" />
          <s:enumeration value="UserDoesNotExist" />
          <s:enumeration value="WrongPasswordOrUserName" />
          <s:enumeration value="InsideLockTime" />
          <s:enumeration value="NotImplementedYet" />
          <s:enumeration value="UserNotActivated" />
          <s:enumeration value="UserAllreadyLoggedIn" />
          <s:enumeration value="UserDoubleLogIn" />
          <s:enumeration value="SessionLoggedOut" />
          <s:enumeration value="DeviceNotRegistered" />
          <s:enumeration value="ErrorOnSendingMail" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oBasicData" type="s1:UserBasicData" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oDynamicData" type="s1:UserDynamicData" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sSiteGUID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_domianID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_isDomainMaster" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="m_eUserState" type="s1:UserState" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nSSOOperatorID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserBasicData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_State" type="s1:State" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Country" type="s1:Country" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sFacebookID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sFacebookImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_bIsFacebookImagePermitted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sAffiliateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_CoGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_ExternalToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sFacebookToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_UserType" type="s1:UserType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="State">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjecrtID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sStateName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sStateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Country" type="s1:Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjecrtID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserDynamicData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sUserData" type="s1:ArrayOfUserDynamicDataContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserDynamicDataContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserDynamicDataContainer" nillable="true" type="s1:UserDynamicDataContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserDynamicDataContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sDataType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Activated" />
          <s:enumeration value="SingleSignIn" />
          <s:enumeration value="DoubleSignIn" />
          <s:enumeration value="LoggedOut" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="RenewUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:RenewUserPassword" />
  </wsdl:message>
  <wsdl:message name="RenewUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:RenewUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByFacebookIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByFacebookID" />
  </wsdl:message>
  <wsdl:message name="GetUserByFacebookIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByFacebookIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateAccount" />
  </wsdl:message>
  <wsdl:message name="ActivateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ResendActivationMailSoapIn">
    <wsdl:part name="parameters" element="tns:ResendActivationMail" />
  </wsdl:message>
  <wsdl:message name="ResendActivationMailSoapOut">
    <wsdl:part name="parameters" element="tns:ResendActivationMailResponse" />
  </wsdl:message>
  <wsdl:message name="SignInSecureSoapIn">
    <wsdl:part name="parameters" element="tns:SignInSecure" />
  </wsdl:message>
  <wsdl:message name="SignInSecureSoapOut">
    <wsdl:part name="parameters" element="tns:SignInSecureResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountriesList" />
  </wsdl:message>
  <wsdl:message name="GetCountriesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTemporaryTokenSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTemporaryToken" />
  </wsdl:message>
  <wsdl:message name="CheckTemporaryTokenSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTemporaryTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupUserTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupUserTypes" />
  </wsdl:message>
  <wsdl:message name="GetGroupUserTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupUserTypesResponse" />
  </wsdl:message>
  <wsdl:message name="RenewUserPINSoapIn">
    <wsdl:part name="parameters" element="tns:RenewUserPIN" />
  </wsdl:message>
  <wsdl:message name="RenewUserPINSoapOut">
    <wsdl:part name="parameters" element="tns:RenewUserPINResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersServiceSoap">
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change user password</wsdl:documentation>
      <wsdl:input message="tns:ChangeUserPasswordSoapIn" />
      <wsdl:output message="tns:ChangeUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenewUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Renew user password</wsdl:documentation>
      <wsdl:input message="tns:RenewUserPasswordSoapIn" />
      <wsdl:output message="tns:RenewUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByFacebookID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get user facebook ID</wsdl:documentation>
      <wsdl:input message="tns:GetUserByFacebookIDSoapIn" />
      <wsdl:output message="tns:GetUserByFacebookIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get user by username</wsdl:documentation>
      <wsdl:input message="tns:GetUserByUsernameSoapIn" />
      <wsdl:output message="tns:GetUserByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logout</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activate user account</wsdl:documentation>
      <wsdl:input message="tns:ActivateAccountSoapIn" />
      <wsdl:output message="tns:ActivateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResendActivationMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resend activation mail</wsdl:documentation>
      <wsdl:input message="tns:ResendActivationMailSoapIn" />
      <wsdl:output message="tns:ResendActivationMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignInSecure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SignIn with encrypted password</wsdl:documentation>
      <wsdl:input message="tns:SignInSecureSoapIn" />
      <wsdl:output message="tns:SignInSecureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetCountriesList</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesListSoapIn" />
      <wsdl:output message="tns:GetCountriesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTemporaryToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check temporary token</wsdl:documentation>
      <wsdl:input message="tns:CheckTemporaryTokenSoapIn" />
      <wsdl:output message="tns:CheckTemporaryTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupUserTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetGroupUserTypes</wsdl:documentation>
      <wsdl:input message="tns:GetGroupUserTypesSoapIn" />
      <wsdl:output message="tns:GetGroupUserTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenewUserPIN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Renews user PIN</wsdl:documentation>
      <wsdl:input message="tns:RenewUserPINSoapIn" />
      <wsdl:output message="tns:RenewUserPINSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UsersServiceHttpGet" />
  <wsdl:portType name="UsersServiceHttpPost" />
  <wsdl:binding name="UsersServiceSoap" type="tns:UsersServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewUserPassword">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RenewUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByFacebookID">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserByFacebookID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateAccount">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendActivationMail">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ResendActivationMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSecure">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SignInSecure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCountriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTemporaryToken">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/CheckTemporaryToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupUserTypes">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetGroupUserTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewUserPIN">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RenewUserPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersServiceSoap12" type="tns:UsersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeUserPassword">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewUserPassword">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RenewUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByFacebookID">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserByFacebookID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateAccount">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendActivationMail">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ResendActivationMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSecure">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SignInSecure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCountriesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTemporaryToken">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/CheckTemporaryToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupUserTypes">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetGroupUserTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewUserPIN">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RenewUserPIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersServiceHttpGet" type="tns:UsersServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="UsersServiceHttpPost" type="tns:UsersServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="UsersService">
    <wsdl:port name="UsersServiceSoap" binding="tns:UsersServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/users/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersServiceSoap12" binding="tns:UsersServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/users/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersServiceHttpGet" binding="tns:UsersServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/users/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersServiceHttpPost" binding="tns:UsersServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/users/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>