Libs/TVPApiTests/Web References/BillingService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://billing.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://billing.tvinci.com/" />
      <s:element name="GetLastBillingUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="billingMethod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLastBillingUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastBillingUserInfoResult" type="s1:AdyenBillingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientMerchantSig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sParamaters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientMerchantSigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientMerchantSigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://billing.tvinci.com/">
      <s:complexType name="AdyenBillingDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="billingInfo" type="s1:BillingInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="expiryMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expiryYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastFourDigits" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="holderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cvc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variant" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastBillingUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastBillingUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastBillingUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientMerchantSig" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientMerchantSigResponse" />
  </wsdl:message>
  <wsdl:portType name="BillingServiceSoap">
    <wsdl:operation name="GetLastBillingUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get last billing Info</wsdl:documentation>
      <wsdl:input message="tns:GetLastBillingUserInfoSoapIn" />
      <wsdl:output message="tns:GetLastBillingUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <wsdl:input message="tns:GetClientMerchantSigSoapIn" />
      <wsdl:output message="tns:GetClientMerchantSigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BillingServiceHttpGet" />
  <wsdl:portType name="BillingServiceHttpPost" />
  <wsdl:binding name="BillingServiceSoap" type="tns:BillingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastBillingUserInfo">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetLastBillingUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetClientMerchantSig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillingServiceSoap12" type="tns:BillingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastBillingUserInfo">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetLastBillingUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetClientMerchantSig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillingServiceHttpGet" type="tns:BillingServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="BillingServiceHttpPost" type="tns:BillingServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="BillingService">
    <wsdl:port name="BillingServiceSoap" binding="tns:BillingServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/billing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BillingServiceSoap12" binding="tns:BillingServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/billing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BillingServiceHttpGet" binding="tns:BillingServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/billing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BillingServiceHttpPost" binding="tns:BillingServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/billing/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>