ConditionalAccess/Web References/NotificationService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationObj" />
      <xsd:import schemaLocation="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NotificationInterface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_AddNotificationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNotificationRequest" />
  </wsdl:message>
  <wsdl:message name="INotificationService_AddNotificationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNotificationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDeviceNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDeviceNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SetNotificationMessageViewStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatus" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SetNotificationMessageViewStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SubscribeByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeByTag" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SubscribeByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeByTagResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UserSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UserSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnsubscribeFollowUpByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTag" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnsubscribeFollowUpByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTagResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUserStatusSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptions" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUserStatusSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_IsTagNotificationExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTagNotificationExists" />
  </wsdl:message>
  <wsdl:message name="INotificationService_IsTagNotificationExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTagNotificationExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="AddNotificationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/AddNotificationRequest" message="tns:INotificationService_AddNotificationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/AddNotificationRequestResponse" message="tns:INotificationService_AddNotificationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetDeviceNotifications" message="tns:INotificationService_GetDeviceNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetDeviceNotificationsResponse" message="tns:INotificationService_GetDeviceNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SetNotificationMessageViewStatus" message="tns:INotificationService_SetNotificationMessageViewStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SetNotificationMessageViewStatusResponse" message="tns:INotificationService_SetNotificationMessageViewStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetAllNotifications" message="tns:INotificationService_GetAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetAllNotificationsResponse" message="tns:INotificationService_GetAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SubscribeByTag" message="tns:INotificationService_SubscribeByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SubscribeByTagResponse" message="tns:INotificationService_SubscribeByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UserSettings" message="tns:INotificationService_UserSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UserSettingsResponse" message="tns:INotificationService_UserSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTag" message="tns:INotificationService_UnsubscribeFollowUpByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTagResponse" message="tns:INotificationService_UnsubscribeFollowUpByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetUserStatusSubscriptions" message="tns:INotificationService_GetUserStatusSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetUserStatusSubscriptionsResponse" message="tns:INotificationService_GetUserStatusSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTagNotificationExists">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/IsTagNotificationExists" message="tns:INotificationService_IsTagNotificationExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/IsTagNotificationExistsResponse" message="tns:INotificationService_IsTagNotificationExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNotificationRequest">
      <soap:operation soapAction="http://tempuri.org/INotificationService/AddNotificationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetDeviceNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SetNotificationMessageViewStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetAllNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SubscribeByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UserSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetUserStatusSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTagNotificationExists">
      <soap:operation soapAction="http://tempuri.org/INotificationService/IsTagNotificationExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://54.72.1.39:8030/Notification_V3_4/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>