Users/Service References/KDGApi/KDGSubscriberAuth_model.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://services.kabeldeutschland.de/kdsp/tv/KDGSubscriberAuth" elementFormDefault="qualified" targetNamespace="http://services.kabeldeutschland.de/kdsp/tv/KDGSubscriberAuth" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="AuthRequest" type="tns:AuthRequestType" />
  <element name="AuthResponse" type="tns:AuthResponseType" />
  <complexType name="AuthRequestType">
    <annotation>
      <documentation>The type of the Authentication request</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="username" type="string">
        <annotation>
          <documentation>
						the Username
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="password" type="string">
        <annotation>
          <documentation>
						the password
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="clientIp" type="string">
        <annotation>
          <documentation>
						the ip-address of the client
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AuthResponseType">
    <annotation>
      <documentation>The type of the Authentication response</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="result">
        <annotation>
          <documentation>
						the response code (from 0..99)
					</documentation>
        </annotation>
        <simpleType>
          <restriction base="integer">
            <minInclusive value="0" />
            <maxInclusive value="99" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="accountnr" nillable="true">
        <annotation>
          <documentation>
						User's account-number saved in it's LDAP-Object
					</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <pattern value="[0-9]+" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
</schema>