ConditionalAccess/Service References/CDVRAdapterService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" />
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="settings" nillable="true" type="q1:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="SetConfigurationResult" nillable="true" type="q2:AdapterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Record">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTimeSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="durationSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="RecordResult" nillable="true" type="q3:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="GetRecordingStatusResult" nillable="true" type="q4:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>