ConditionalAccess/Service References/WS_Catalog/Service16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservices/Catalog_V4_1/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:import schemaLocation="http://webservices/Catalog_V4_1/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfeAssetTypeslongHVR2FNfI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfeAssetTypeslongHVR2FNfI" type="tns:KeyValuePairOfeAssetTypeslongHVR2FNfI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfeAssetTypeslongHVR2FNfI" nillable="true" type="tns:ArrayOfKeyValuePairOfeAssetTypeslongHVR2FNfI" />
  <xs:complexType name="KeyValuePairOfeAssetTypeslongHVR2FNfI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="eAssetTypes" Namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApiObjects" name="key" type="q1:eAssetTypes" />
      <xs:element name="value" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfeAssetTypeslongHVR2FNfI" nillable="true" type="tns:KeyValuePairOfeAssetTypeslongHVR2FNfI" />
</xs:schema>