ConditionalAccess/Service References/WS_Catalog/Service185.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/WS_Catalog/Service.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems" />
  <xs:complexType name="ArrayOfBaseCrowdsourceItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseCrowdsourceItem" nillable="true" type="tns:BaseCrowdsourceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseCrowdsourceItem" nillable="true" type="tns:ArrayOfBaseCrowdsourceItem" />
  <xs:complexType name="BaseCrowdsourceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MediaId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaImage" nillable="true" type="tns:ArrayOfBaseCrowdsourceItem.Pic" />
      <xs:element minOccurs="0" name="MediaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApiObjects.CrowdsourceItems" minOccurs="0" name="Type" type="q1:eItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCrowdsourceItem" nillable="true" type="tns:BaseCrowdsourceItem" />
  <xs:complexType name="ArrayOfBaseCrowdsourceItem.Pic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseCrowdsourceItem.Pic" nillable="true" type="tns:BaseCrowdsourceItem.Pic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseCrowdsourceItem.Pic" nillable="true" type="tns:ArrayOfBaseCrowdsourceItem.Pic" />
  <xs:complexType name="BaseCrowdsourceItem.Pic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCrowdsourceItem.Pic" nillable="true" type="tns:BaseCrowdsourceItem.Pic" />
</xs:schema>