ConditionalAccess/Service References/WS_Catalog/Service23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GroupsCacheManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GroupsCacheManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.72.1.39:8030/catalog_v3_5/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" />
  <xs:import schemaLocation="http://54.72.1.39:8030/catalog_v3_5/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_OrderObject" nillable="true" type="q1:OrderObj" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eCutWith" type="q2:CutWith" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eOrderBy" type="q3:OrderBy" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_eOrderDir" type="q4:OrderDir" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="m_lChannelTags" nillable="true" type="q5:ArrayOfSearchValue" />
      <xs:element minOccurs="0" name="m_lManualMedias" nillable="true" type="tns:ArrayOfManualMedia" />
      <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nChannelTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nIsActive" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaType" nillable="true" type="q6:ArrayOfint" />
      <xs:element minOccurs="0" name="m_nParentGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nStatus" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oMedias" nillable="true" type="q7:ArrayOfint" />
      <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_sMedias" nillable="true" type="q8:ArrayOfstring" />
      <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfManualMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManualMedia" nillable="true" type="tns:ManualMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManualMedia" nillable="true" type="tns:ArrayOfManualMedia" />
  <xs:complexType name="ManualMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nOrderNum" type="xs:int" />
      <xs:element minOccurs="0" name="m_sMediaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManualMedia" nillable="true" type="tns:ManualMedia" />
</xs:schema>