WebAPI/Service References/Notifications/NotificationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationObj" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NotificationInterface" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Response" />
      <xsd:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_AddNotificationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNotificationRequest" />
  </wsdl:message>
  <wsdl:message name="INotificationService_AddNotificationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNotificationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDeviceNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDeviceNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SetNotificationMessageViewStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatus" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SetNotificationMessageViewStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SubscribeByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeByTag" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SubscribeByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeByTagResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UserSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UserSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnsubscribeFollowUpByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTag" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnsubscribeFollowUpByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTagResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUserStatusSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptions" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetUserStatusSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_IsTagNotificationExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTagNotificationExists" />
  </wsdl:message>
  <wsdl:message name="INotificationService_IsTagNotificationExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTagNotificationExistsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateNotificationPartnerSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotificationPartnerSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateNotificationPartnerSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotificationPartnerSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotificationPartnerSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationPartnerSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotificationPartnerSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationPartnerSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateNotificationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotificationSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateNotificationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotificationSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotificationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationSettings" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotificationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_AddMessageAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_AddMessageAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendMessageAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendMessageAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateMessageAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateMessageAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateMessageAnnouncementStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageAnnouncementStatus" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateMessageAnnouncementStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageAnnouncementStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_DeleteMessageAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_DeleteMessageAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_InitiateNotificationAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiateNotificationAction" />
  </wsdl:message>
  <wsdl:message name="INotificationService_InitiateNotificationAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiateNotificationActionResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_CreateSystemAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSystemAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_CreateSystemAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSystemAnnouncementResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="AddNotificationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/AddNotificationRequest" message="tns:INotificationService_AddNotificationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/AddNotificationRequestResponse" message="tns:INotificationService_AddNotificationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetDeviceNotifications" message="tns:INotificationService_GetDeviceNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetDeviceNotificationsResponse" message="tns:INotificationService_GetDeviceNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SetNotificationMessageViewStatus" message="tns:INotificationService_SetNotificationMessageViewStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SetNotificationMessageViewStatusResponse" message="tns:INotificationService_SetNotificationMessageViewStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetAllNotifications" message="tns:INotificationService_GetAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetAllNotificationsResponse" message="tns:INotificationService_GetAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SubscribeByTag" message="tns:INotificationService_SubscribeByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SubscribeByTagResponse" message="tns:INotificationService_SubscribeByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UserSettings" message="tns:INotificationService_UserSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UserSettingsResponse" message="tns:INotificationService_UserSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTag" message="tns:INotificationService_UnsubscribeFollowUpByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTagResponse" message="tns:INotificationService_UnsubscribeFollowUpByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetUserStatusSubscriptions" message="tns:INotificationService_GetUserStatusSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetUserStatusSubscriptionsResponse" message="tns:INotificationService_GetUserStatusSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTagNotificationExists">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/IsTagNotificationExists" message="tns:INotificationService_IsTagNotificationExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/IsTagNotificationExistsResponse" message="tns:INotificationService_IsTagNotificationExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNotificationPartnerSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateNotificationPartnerSettings" message="tns:INotificationService_UpdateNotificationPartnerSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateNotificationPartnerSettingsResponse" message="tns:INotificationService_UpdateNotificationPartnerSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotificationPartnerSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotificationPartnerSettings" message="tns:INotificationService_GetNotificationPartnerSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotificationPartnerSettingsResponse" message="tns:INotificationService_GetNotificationPartnerSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNotificationSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateNotificationSettings" message="tns:INotificationService_UpdateNotificationSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateNotificationSettingsResponse" message="tns:INotificationService_UpdateNotificationSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotificationSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotificationSettings" message="tns:INotificationService_GetNotificationSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotificationSettingsResponse" message="tns:INotificationService_GetNotificationSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessageAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/AddMessageAnnouncement" message="tns:INotificationService_AddMessageAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/AddMessageAnnouncementResponse" message="tns:INotificationService_AddMessageAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SendMessageAnnouncement" message="tns:INotificationService_SendMessageAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SendMessageAnnouncementResponse" message="tns:INotificationService_SendMessageAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateMessageAnnouncement" message="tns:INotificationService_UpdateMessageAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateMessageAnnouncementResponse" message="tns:INotificationService_UpdateMessageAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageAnnouncementStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateMessageAnnouncementStatus" message="tns:INotificationService_UpdateMessageAnnouncementStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateMessageAnnouncementStatusResponse" message="tns:INotificationService_UpdateMessageAnnouncementStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessageAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/DeleteMessageAnnouncement" message="tns:INotificationService_DeleteMessageAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/DeleteMessageAnnouncementResponse" message="tns:INotificationService_DeleteMessageAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitiateNotificationAction">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/InitiateNotificationAction" message="tns:INotificationService_InitiateNotificationAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/InitiateNotificationActionResponse" message="tns:INotificationService_InitiateNotificationAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSystemAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/CreateSystemAnnouncement" message="tns:INotificationService_CreateSystemAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/CreateSystemAnnouncementResponse" message="tns:INotificationService_CreateSystemAnnouncement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNotificationRequest">
      <soap:operation soapAction="http://tempuri.org/INotificationService/AddNotificationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetDeviceNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SetNotificationMessageViewStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetAllNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SubscribeByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UserSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UnsubscribeFollowUpByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetUserStatusSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTagNotificationExists">
      <soap:operation soapAction="http://tempuri.org/INotificationService/IsTagNotificationExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotificationPartnerSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateNotificationPartnerSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationPartnerSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetNotificationPartnerSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotificationSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateNotificationSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationSettings">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetNotificationSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/AddMessageAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SendMessageAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateMessageAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageAnnouncementStatus">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateMessageAnnouncementStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessageAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/DeleteMessageAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiateNotificationAction">
      <soap:operation soapAction="http://tempuri.org/INotificationService/InitiateNotificationAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSystemAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/CreateSystemAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://localhost/ws_notifications/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>