WebAPI/Service References/Notifications/NotificationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationObj" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NotificationInterface" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Response" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ApiObjects" />
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" />
  <xs:element name="AddNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="triggerType" type="q1:NotificationTriggerType" />
        <xs:element minOccurs="0" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNotificationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNotificationRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDeviceUDID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="notificationType" type="q2:NotificationMessageType" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="viewStatus" type="q3:NotificationMessageViewStatus" />
        <xs:element minOccurs="0" name="messageCount" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="GetDeviceNotificationsResult" nillable="true" type="q4:ArrayOfNotificationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationMessageViewStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationRequestID" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="notificationMessageID" nillable="true" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="viewStatus" type="q5:NotificationMessageViewStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotificationMessageViewStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNotificationMessageViewStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="triggerType" type="q6:NotificationTriggerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllNotificationsResult" nillable="true" type="q7:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q8:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeByTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NotificationInterface" minOccurs="0" name="userSettings" nillable="true" type="q9:UserSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFollowUpByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q10:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFollowUpByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeFollowUpByTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserStatusSubscriptionsResult" nillable="true" type="q11:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTagNotificationExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTagNotificationExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTagNotificationExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationPartnerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="settings" nillable="true" type="q12:NotificationPartnerSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationPartnerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UpdateNotificationPartnerSettingsResult" nillable="true" type="q13:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationPartnerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationPartnerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetNotificationPartnerSettingsResult" nillable="true" type="q14:NotificationPartnerSettingsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="settings" nillable="true" type="q15:UserNotificationSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UpdateNotificationSettingsResult" nillable="true" type="q16:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetNotificationSettingsResult" nillable="true" type="q17:NotificationSettingsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="announcement" nillable="true" type="q18:MessageAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="AddMessageAnnouncementResult" nillable="true" type="q19:AddMessageAnnouncementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:long" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageAnnouncementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="announcementId" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="announcement" nillable="true" type="q20:MessageAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="UpdateMessageAnnouncementResult" nillable="true" type="q21:MessageAnnouncementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageAnnouncementStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageAnnouncementStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UpdateMessageAnnouncementStatusResult" nillable="true" type="q22:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="DeleteMessageAnnouncementResult" nillable="true" type="q23:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateNotificationAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="userAction" type="q24:eUserMessageAction" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="udid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pushToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateNotificationActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitiateNotificationActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSystemAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSystemAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="CreateSystemAnnouncementResult" nillable="true" type="q25:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessageAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessageAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="GetAllMessageAnnouncementsResult" nillable="true" type="q26:GetAllMessageAnnouncementsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessageTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="followTemplate" nillable="true" type="q27:MessageTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessageTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="SetMessageTemplateResult" nillable="true" type="q28:MessageTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="assetTypes" type="q29:eOTTAssetTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetMessageTemplateResult" nillable="true" type="q30:MessageTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFollows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="order" type="q31:OrderDir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFollowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="GetUserFollowsResult" nillable="true" type="q32:GetUserFollowsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unfollow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="followData" nillable="true" type="q33:FollowDataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UnfollowResult" nillable="true" type="q34:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Follow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="followData" nillable="true" type="q35:FollowDataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="FollowResult" nillable="true" type="q36:FollowResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FollowedAssetIdsFromAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assets" nillable="true" type="q37:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FollowedAssetIdsFromAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="Get_FollowedAssetIdsFromAssetsResult" nillable="true" type="q38:IdsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeeder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ApiObjects.SearchObjects" minOccurs="0" name="orderObj" nillable="true" type="q39:OrderObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFeederResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="GetUserFeederResult" nillable="true" type="q40:IdListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInboxMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="status" type="q41:eMessageState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInboxMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UpdateInboxMessageResult" nillable="true" type="q42:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetInboxMessageResult" nillable="true" type="q43:InboxMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="messageCategorys" nillable="true" type="q44:ArrayOfeMessageCategory" />
        <xs:element minOccurs="0" name="CreatedAtGreaterThanOrEqual" type="xs:long" />
        <xs:element minOccurs="0" name="CreatedAtLessThanOrEqual" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetInboxMessagesResult" nillable="true" type="q45:InboxMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="announcementId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="DeleteAnnouncementResult" nillable="true" type="q46:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOfSubscribersPerAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOfSubscribersPerAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAmountOfSubscribersPerAnnouncementResult" nillable="true" type="q47:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="announcementId" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ApiObjects" minOccurs="0" name="topicAutomaticIssueNotification" type="q48:eTopicAutomaticIssueNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="UpdateAnnouncementResult" nillable="true" type="q49:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetAnnouncementResult" nillable="true" type="q50:AnnouncementsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q51:AnnouncementsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncementsOlderThan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnnouncementsOlderThanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="DeleteAnnouncementsOlderThanResult" nillable="true" type="q52:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationLastCleanupDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationLastCleanupDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="GetNotificationLastCleanupDateResult" nillable="true" type="q53:NotificationCleanupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPushAnnouncementParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="announcementId" type="xs:long" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPushAnnouncementParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="RegisterPushAnnouncementParametersResult" nillable="true" type="q54:RegistryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPushSystemParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sWSUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPushSystemParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" minOccurs="0" name="RegisterPushSystemParametersResult" nillable="true" type="q55:RegistryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>