WebAPI/Service References/Notifications/NotificationService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiObjects.Notification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ws_notifications/NotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ApiObjects.Response" />
  <xs:complexType name="NotificationPartnerSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="push_notification_enabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="push_system_announcements_enabled" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationPartnerSettings" nillable="true" type="tns:NotificationPartnerSettings" />
  <xs:complexType name="NotificationPartnerSettingsResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="Status" nillable="true" type="q1:Status" />
      <xs:element minOccurs="0" name="settings" nillable="true" type="tns:NotificationPartnerSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationPartnerSettingsResponse" nillable="true" type="tns:NotificationPartnerSettingsResponse" />
  <xs:complexType name="NotificationSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="push_notification_enabled" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationSettings" nillable="true" type="tns:NotificationSettings" />
  <xs:complexType name="NotificationSettingsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApiObjects.Response" minOccurs="0" name="Status" nillable="true" type="q2:Status" />
      <xs:element minOccurs="0" name="settings" nillable="true" type="tns:NotificationSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationSettingsResponse" nillable="true" type="tns:NotificationSettingsResponse" />
</xs:schema>