Logic/Web References/tikle/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tikle.com/WebTv/API" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.tikle.com/WebTv/API" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tikle.com/WebTv/API">
      <s:element name="RequestCreditCardToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="tns:CreditCard" />
            <s:element minOccurs="0" maxOccurs="1" name="customData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CvvCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestCreditCardTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCreditCardTokenResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDetail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Purchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseResult" type="tns:PurchaseResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseResponseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscriptionId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subscriptionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelSubscriptionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeliverLicenseResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cinemaId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoviesResult" type="tns:ArrayOfMovieOnVision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovieOnVision">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MovieOnVision" nillable="true" type="tns:MovieOnVision" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MovieOnVision">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Movie" type="tns:Movie" />
          <s:element minOccurs="0" maxOccurs="1" name="Cinemas" type="tns:ArrayOfCinemaMovie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VisionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="UpComing" />
          <s:enumeration value="OnVision" />
          <s:enumeration value="NotOnVision" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCinemaMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CinemaMovie" nillable="true" type="tns:CinemaMovie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CinemaMovie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MovieId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CinemaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cinema" type="tns:Cinema" />
          <s:element minOccurs="0" maxOccurs="1" name="Movie" type="tns:Movie" />
          <s:element minOccurs="0" maxOccurs="1" name="Seance" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cinema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:City" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCinemas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCinemasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCinemasResult" type="tns:ArrayOfCinema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCinema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cinema" nillable="true" type="tns:Cinema" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUpComingMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetUpComingMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpComingMoviesResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyCustomerResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="groupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyProductResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifySubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subscriptionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="groupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifySubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifySubscriptionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseResponseInfo" nillable="true" type="tns:PurchaseResponseInfo" />
      <s:element name="Response" nillable="true" type="tns:Response" />
      <s:element name="ArrayOfMovieOnVision" nillable="true" type="tns:ArrayOfMovieOnVision" />
      <s:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
      <s:element name="ArrayOfCinema" nillable="true" type="tns:ArrayOfCinema" />
      <s:element name="ArrayOfMovie" nillable="true" type="tns:ArrayOfMovie" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestCreditCardTokenSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCreditCardToken" />
  </wsdl:message>
  <wsdl:message name="RequestCreditCardTokenSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCreditCardTokenResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:CancelSubscription" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:CancelSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverLicense" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:DeliverLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="GetMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCinemasSoapIn">
    <wsdl:part name="parameters" element="tns:GetCinemas" />
  </wsdl:message>
  <wsdl:message name="GetCinemasSoapOut">
    <wsdl:part name="parameters" element="tns:GetCinemasResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpComingMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpComingMovies" />
  </wsdl:message>
  <wsdl:message name="GetUpComingMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpComingMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyCustomer" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyProductSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyProduct" />
  </wsdl:message>
  <wsdl:message name="NotifyProductSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyProductResponse" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:NotifySubscription" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:NotifySubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseHttpGetIn">
    <wsdl:part name="transactionId" type="s:string" />
    <wsdl:part name="transactionData" type="s:string" />
    <wsdl:part name="md5Hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PurchaseHttpGetOut">
    <wsdl:part name="Body" element="tns:PurchaseResponseInfo" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionHttpGetIn">
    <wsdl:part name="subscriptionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseHttpGetIn">
    <wsdl:part name="transactionId" type="s:string" />
    <wsdl:part name="transactionData" type="s:string" />
    <wsdl:part name="md5Hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="GetMoviesHttpGetIn">
    <wsdl:part name="cityId" type="s:string" />
    <wsdl:part name="cinemaId" type="s:string" />
    <wsdl:part name="movieId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMoviesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovieOnVision" />
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpGetIn" />
  <wsdl:message name="GetCitiesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCity" />
  </wsdl:message>
  <wsdl:message name="GetCinemasHttpGetIn">
    <wsdl:part name="cityId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCinemasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCinema" />
  </wsdl:message>
  <wsdl:message name="GetUpComingMoviesHttpGetIn" />
  <wsdl:message name="GetUpComingMoviesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovie" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerHttpGetIn">
    <wsdl:part name="customerId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="NotifyProductHttpGetIn">
    <wsdl:part name="productId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyProductHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionHttpGetIn">
    <wsdl:part name="subscriptionId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="PurchaseHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
    <wsdl:part name="transactionData" type="s:string" />
    <wsdl:part name="md5Hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PurchaseHttpPostOut">
    <wsdl:part name="Body" element="tns:PurchaseResponseInfo" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionHttpPostIn">
    <wsdl:part name="subscriptionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelSubscriptionHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
    <wsdl:part name="transactionData" type="s:string" />
    <wsdl:part name="md5Hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeliverLicenseHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="GetMoviesHttpPostIn">
    <wsdl:part name="cityId" type="s:string" />
    <wsdl:part name="cinemaId" type="s:string" />
    <wsdl:part name="movieId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMoviesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovieOnVision" />
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpPostIn" />
  <wsdl:message name="GetCitiesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCity" />
  </wsdl:message>
  <wsdl:message name="GetCinemasHttpPostIn">
    <wsdl:part name="cityId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCinemasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCinema" />
  </wsdl:message>
  <wsdl:message name="GetUpComingMoviesHttpPostIn" />
  <wsdl:message name="GetUpComingMoviesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMovie" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerHttpPostIn">
    <wsdl:part name="customerId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyCustomerHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="NotifyProductHttpPostIn">
    <wsdl:part name="productId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyProductHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionHttpPostIn">
    <wsdl:part name="subscriptionId" type="s:string" />
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifySubscriptionHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="RequestCreditCardToken">
      <wsdl:input message="tns:RequestCreditCardTokenSoapIn" />
      <wsdl:output message="tns:RequestCreditCardTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input message="tns:PurchaseSoapIn" />
      <wsdl:output message="tns:PurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <wsdl:input message="tns:CancelSubscriptionSoapIn" />
      <wsdl:output message="tns:CancelSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <wsdl:input message="tns:DeliverLicenseSoapIn" />
      <wsdl:output message="tns:DeliverLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input message="tns:GetMoviesSoapIn" />
      <wsdl:output message="tns:GetMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <wsdl:input message="tns:GetCinemasSoapIn" />
      <wsdl:output message="tns:GetCinemasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <wsdl:input message="tns:GetUpComingMoviesSoapIn" />
      <wsdl:output message="tns:GetUpComingMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <wsdl:input message="tns:NotifyCustomerSoapIn" />
      <wsdl:output message="tns:NotifyCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <wsdl:input message="tns:NotifyProductSoapIn" />
      <wsdl:output message="tns:NotifyProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <wsdl:input message="tns:NotifySubscriptionSoapIn" />
      <wsdl:output message="tns:NotifySubscriptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="Purchase">
      <wsdl:input message="tns:PurchaseHttpGetIn" />
      <wsdl:output message="tns:PurchaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <wsdl:input message="tns:CancelSubscriptionHttpGetIn" />
      <wsdl:output message="tns:CancelSubscriptionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <wsdl:input message="tns:DeliverLicenseHttpGetIn" />
      <wsdl:output message="tns:DeliverLicenseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input message="tns:GetMoviesHttpGetIn" />
      <wsdl:output message="tns:GetMoviesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesHttpGetIn" />
      <wsdl:output message="tns:GetCitiesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <wsdl:input message="tns:GetCinemasHttpGetIn" />
      <wsdl:output message="tns:GetCinemasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <wsdl:input message="tns:GetUpComingMoviesHttpGetIn" />
      <wsdl:output message="tns:GetUpComingMoviesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <wsdl:input message="tns:NotifyCustomerHttpGetIn" />
      <wsdl:output message="tns:NotifyCustomerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <wsdl:input message="tns:NotifyProductHttpGetIn" />
      <wsdl:output message="tns:NotifyProductHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <wsdl:input message="tns:NotifySubscriptionHttpGetIn" />
      <wsdl:output message="tns:NotifySubscriptionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="Purchase">
      <wsdl:input message="tns:PurchaseHttpPostIn" />
      <wsdl:output message="tns:PurchaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <wsdl:input message="tns:CancelSubscriptionHttpPostIn" />
      <wsdl:output message="tns:CancelSubscriptionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <wsdl:input message="tns:DeliverLicenseHttpPostIn" />
      <wsdl:output message="tns:DeliverLicenseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input message="tns:GetMoviesHttpPostIn" />
      <wsdl:output message="tns:GetMoviesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesHttpPostIn" />
      <wsdl:output message="tns:GetCitiesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <wsdl:input message="tns:GetCinemasHttpPostIn" />
      <wsdl:output message="tns:GetCinemasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <wsdl:input message="tns:GetUpComingMoviesHttpPostIn" />
      <wsdl:output message="tns:GetUpComingMoviesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <wsdl:input message="tns:NotifyCustomerHttpPostIn" />
      <wsdl:output message="tns:NotifyCustomerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <wsdl:input message="tns:NotifyProductHttpPostIn" />
      <wsdl:output message="tns:NotifyProductHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <wsdl:input message="tns:NotifySubscriptionHttpPostIn" />
      <wsdl:output message="tns:NotifySubscriptionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestCreditCardToken">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/RequestCreditCardToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/Purchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/CancelSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/DeliverLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/GetCinemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/GetUpComingMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/NotifyCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/NotifyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <soap:operation soapAction="http://www.tikle.com/WebTv/API/NotifySubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestCreditCardToken">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/RequestCreditCardToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/Purchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/CancelSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/DeliverLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/GetMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/GetCinemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/GetUpComingMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/NotifyCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/NotifyProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <soap12:operation soapAction="http://www.tikle.com/WebTv/API/NotifySubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Purchase">
      <http:operation location="/Purchase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <http:operation location="/CancelSubscription" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <http:operation location="/DeliverLicense" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <http:operation location="/GetMovies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <http:operation location="/GetCities" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <http:operation location="/GetCinemas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <http:operation location="/GetUpComingMovies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <http:operation location="/NotifyCustomer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <http:operation location="/NotifyProduct" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <http:operation location="/NotifySubscription" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Purchase">
      <http:operation location="/Purchase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelSubscription">
      <http:operation location="/CancelSubscription" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverLicense">
      <http:operation location="/DeliverLicense" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <http:operation location="/GetMovies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <http:operation location="/GetCities" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemas">
      <http:operation location="/GetCinemas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpComingMovies">
      <http:operation location="/GetUpComingMovies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCustomer">
      <http:operation location="/NotifyCustomer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyProduct">
      <http:operation location="/NotifyProduct" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifySubscription">
      <http:operation location="/NotifySubscription" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://212.58.18.44:8080/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://212.58.18.44:8080/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://212.58.18.44:8080/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://212.58.18.44:8080/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>