Logic/Web References/Lucene/Service0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://lucene.dev.tvincidns.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lucene.dev.tvincidns.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://lucene.dev.tvincidns.com/Imports">
      <xsd:import schemaLocation="http://localhost/LuceneWCF2.0/Service.svc?xsd=xsd0" namespace="http://lucene.dev.tvincidns.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILuceneService_GetChannelMedias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelMedias" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetChannelMedias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelMediasResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchMedias_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMedias" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchMedias_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMediasResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetChannelsMedias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsMedias" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetChannelsMedias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsMediasResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChannel" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_RemoveRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecord" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_RemoveRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_ClearAndBuildGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearAndBuildGroup" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_ClearAndBuildGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearAndBuildGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchSubscriptionMedias_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSubscriptionMedias" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchSubscriptionMedias_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSubscriptionMediasResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchEpgs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEpgs" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_SearchEpgs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEpgsResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_RemoveEpgRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEpgRecord" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_RemoveEpgRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEpgRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateEpgRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEpgRecord" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_UpdateEpgRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEpgRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetEpgAutoCompleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEpgAutoCompleteList" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetEpgAutoCompleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEpgAutoCompleteListResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_CleanEpgGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanEpgGroup" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_CleanEpgGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanEpgGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_BuildEpgByChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildEpgByChannel" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_BuildEpgByChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildEpgByChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_IsMediaExistsInChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaExistsInChannels" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_IsMediaExistsInChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaExistsInChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetSubscriptionContainingMedia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionContainingMedia" />
  </wsdl:message>
  <wsdl:message name="ILuceneService_GetSubscriptionContainingMedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionContainingMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="ILuceneService">
    <wsdl:operation name="GetChannelMedias">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetChannelMedias" message="tns:ILuceneService_GetChannelMedias_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetChannelMediasResponse" message="tns:ILuceneService_GetChannelMedias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMedias">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchMedias" message="tns:ILuceneService_SearchMedias_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchMediasResponse" message="tns:ILuceneService_SearchMedias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelsMedias">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetChannelsMedias" message="tns:ILuceneService_GetChannelsMedias_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetChannelsMediasResponse" message="tns:ILuceneService_GetChannelsMedias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateRecord" message="tns:ILuceneService_UpdateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateRecordResponse" message="tns:ILuceneService_UpdateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChannel">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateChannel" message="tns:ILuceneService_UpdateChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateChannelResponse" message="tns:ILuceneService_UpdateChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRecord">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/RemoveRecord" message="tns:ILuceneService_RemoveRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/RemoveRecordResponse" message="tns:ILuceneService_RemoveRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearAndBuildGroup">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/ClearAndBuildGroup" message="tns:ILuceneService_ClearAndBuildGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/ClearAndBuildGroupResponse" message="tns:ILuceneService_ClearAndBuildGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSubscriptionMedias">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchSubscriptionMedias" message="tns:ILuceneService_SearchSubscriptionMedias_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchSubscriptionMediasResponse" message="tns:ILuceneService_SearchSubscriptionMedias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEpgs">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchEpgs" message="tns:ILuceneService_SearchEpgs_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/SearchEpgsResponse" message="tns:ILuceneService_SearchEpgs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEpgRecord">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/RemoveEpgRecord" message="tns:ILuceneService_RemoveEpgRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/RemoveEpgRecordResponse" message="tns:ILuceneService_RemoveEpgRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEpgRecord">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateEpgRecord" message="tns:ILuceneService_UpdateEpgRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/UpdateEpgRecordResponse" message="tns:ILuceneService_UpdateEpgRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEpgAutoCompleteList">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetEpgAutoCompleteList" message="tns:ILuceneService_GetEpgAutoCompleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetEpgAutoCompleteListResponse" message="tns:ILuceneService_GetEpgAutoCompleteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanEpgGroup">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/CleanEpgGroup" message="tns:ILuceneService_CleanEpgGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/CleanEpgGroupResponse" message="tns:ILuceneService_CleanEpgGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildEpgByChannel">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/BuildEpgByChannel" message="tns:ILuceneService_BuildEpgByChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/BuildEpgByChannelResponse" message="tns:ILuceneService_BuildEpgByChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMediaExistsInChannels">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/IsMediaExistsInChannels" message="tns:ILuceneService_IsMediaExistsInChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/IsMediaExistsInChannelsResponse" message="tns:ILuceneService_IsMediaExistsInChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionContainingMedia">
      <wsdl:input wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetSubscriptionContainingMedia" message="tns:ILuceneService_GetSubscriptionContainingMedia_InputMessage" />
      <wsdl:output wsaw:Action="http://lucene.dev.tvincidns.com/ILuceneService/GetSubscriptionContainingMediaResponse" message="tns:ILuceneService_GetSubscriptionContainingMedia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>