Logic/Web References/Lucene/Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://lucene.dev.tvincidns.com" elementFormDefault="qualified" targetNamespace="http://lucene.dev.tvincidns.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetChannelMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nChannelID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="nFileTypes" type="tns:ArrayOfInt" />
        <xs:element minOccurs="1" maxOccurs="1" name="bOnlyActiveMedias" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="bUseStartDate" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="nDeviceRuleId" type="tns:ArrayOfInt" />
        <xs:element minOccurs="1" maxOccurs="1" name="nUserTypeID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChannelMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetChannelMediasResult" type="tns:SearchResultsObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SearchResultsObj">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="n_TotalItems" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_resultIDs" type="tns:ArrayOfSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="assetID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:MediaSearchObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="bUseStartDate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MediaSearchObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="m_oOrder" type="tns:OrderObj" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eCutWith" type="tns:CutWith" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bExact" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bUseFinalEndDate" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bUseStartDate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sMediaTypes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_dAnd" type="tns:ArrayOfSearchValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_dOr" type="tns:ArrayOfSearchValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nUserTypeID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_nDeviceRuleId" type="tns:ArrayOfInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_nMediaFileTypes" type="tns:ArrayOfInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sPermittedWatchRules" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_lFilterTagsAndMetas" type="tns:ArrayOfSearchValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eFilterTagsAndMetasCutWith" type="tns:CutWith" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nGroupId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nIndexGroupId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nPageIndex" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nPageSize" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nLangID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderObj">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="m_eOrderBy" type="tns:OrderBy" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eOrderDir" type="tns:OrderDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="lu_min_period_id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sOrderValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bIsSlidingWindowField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrderBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ID" />
      <xs:enumeration value="VIEWS" />
      <xs:enumeration value="RATING" />
      <xs:enumeration value="VOTES_COUNT" />
      <xs:enumeration value="LIKE_COUNTER" />
      <xs:enumeration value="START_DATE" />
      <xs:enumeration value="NAME" />
      <xs:enumeration value="CREATE_DATE" />
      <xs:enumeration value="META" />
      <xs:enumeration value="RANDOM" />
      <xs:enumeration value="RELATED" />
      <xs:enumeration value="NONE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrderDir">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
      <xs:enumeration value="NONE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CutWith">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WCF_ONLY_DEFAULT_VALUE" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="AND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfSearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchValue" nillable="true" type="tns:SearchValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="m_sKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_lValue" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eInnerCutWith" type="tns:CutWith" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sKeyPrefix" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SearchMediasResult" type="tns:SearchResultsObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="nChannelID" type="tns:ArrayOfInt" />
        <xs:element minOccurs="0" maxOccurs="1" name="mediaTypes" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="nUserTypeID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="oOrder" type="tns:OrderObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetChannelsMediasResult" type="tns:SearchResultsObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nChannelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RemoveRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAndBuildGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAndBuildGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ClearAndBuildGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSubscriptionMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nSubscriptionGroupId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:ArrayOfMediaSearchObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="bUseStartDate" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="sMediaTypes" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="oOrderObj" type="tns:OrderObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="nPageIndex" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nPageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMediaSearchObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaSearchObj" nillable="true" type="tns:MediaSearchObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchSubscriptionMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SearchSubscriptionMediasResult" type="tns:SearchResultsObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEpgs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="epgSearchRequest" type="tns:EpgSearchObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EpgSearchObj">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="m_bSearchAnd" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bDesc" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sOrderBy" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_lSearch" type="tns:ArrayOfEpgSearchValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nProgramID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nPageIndex" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nPageSize" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eInterCutWith" type="tns:CutWith" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEpgSearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpgSearchValue" nillable="true" type="tns:EpgSearchValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpgSearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="m_sKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchEpgsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SearchEpgsResult" type="tns:SearchResultsObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEpgRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nProgramID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEpgRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RemoveEpgRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEpgRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nProgramID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEpgRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateEpgRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpgAutoCompleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:EpgSearchObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpgAutoCompleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEpgAutoCompleteListResult" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanEpgGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="dStartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="dEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanEpgGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CleanEpgGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildEpgByChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="channelID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="dStartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="dEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildEpgByChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BuildEpgByChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMediaExistsInChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:ArrayOfMediaSearchObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMediaExistsInChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="IsMediaExistsInChannelsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionContainingMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:ArrayOfChannelContainSearchObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfChannelContainSearchObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelContainSearchObj" nillable="true" type="tns:ChannelContainSearchObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChannelContainSearchObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="m_oSearchObj" type="tns:MediaSearchObj" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nChannelID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSubscriptionContainingMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSubscriptionContainingMediaResult" type="tns:ArrayOfChannelContainObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfChannelContainObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelContainObj" nillable="true" type="tns:ChannelContainObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChannelContainObj">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="m_nChannelID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bContain" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>