AdapterControllers/Service References/drmAdapter/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DRMAdapter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DRMAdapter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DrmAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:simpleType name="AssetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EPG" />
      <xs:enumeration value="RECORDING" />
      <xs:enumeration value="VOD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AssetType" nillable="true" type="tns:AssetType" />
  <xs:complexType name="DrmAdapterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderResponse" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q1:AdapterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DrmAdapterResponse" nillable="true" type="tns:DrmAdapterResponse" />
</xs:schema>