AdapterControllers/Service References/drmAdapter/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:86/DRMAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:import schemaLocation="http://localhost:86/DRMAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DRMAdapter" />
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="settings" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="SetConfigurationResult" nillable="true" type="q1:AdapterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLicenseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assetId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DRMAdapter" minOccurs="0" name="assetType" type="q2:AssetType" />
        <xs:element minOccurs="0" name="fileId" type="xs:long" />
        <xs:element minOccurs="0" name="externalFileId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="udid" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DRMAdapter" minOccurs="0" name="context" type="q3:ContextType" />
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLicenseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DRMAdapter" minOccurs="0" name="GetAssetLicenseDataResult" nillable="true" type="q4:DrmAdapterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceLicenseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="udid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceFamily" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceBrandId" type="xs:int" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceLicenseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DRMAdapter" minOccurs="0" name="GetDeviceLicenseDataResult" nillable="true" type="q5:DrmAdapterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>