TVPApiModule/Web References/YesService/YES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ts="http://schemas.netcracker.com/dataflow/yes/interface/types" xmlns:m="http://schemas.netcracker.com/dataflow/yes/interface/messages" xmlns:tns="http://schemas.netcracker.com/dataflow/yes/interface" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="YES.Interface" targetNamespace="http://schemas.netcracker.com/dataflow/yes/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.netcracker.com/dataflow/yes/interface/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.netcracker.com/dataflow/yes/interface/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="yes" />
          <xsd:enumeration value="no" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0,1]\d\.[0-3]\d\.[1,2]\d{3} [0-2]\d:[0-6]\d:[0-6]\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="money">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d+(\.\d+)?" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Mail">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value=".*@.*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="errorCode" type="xsd:nonNegativeInteger" />
      <xsd:element name="accountNumber" type="xsd:positiveInteger" />
      <xsd:element name="deviceID" type="xsd:string" />
      <xsd:element name="devicePK" type="xsd:positiveInteger" />
      <xsd:element name="deviceDNA" type="xsd:string" />
      <xsd:element name="productID" type="xsd:string" />
      <xsd:element name="userName" type="xsd:string" />
      <xsd:element name="loginID" type="xsd:string" />
      <xsd:element name="loginPK" type="xsd:positiveInteger" />
      <xsd:element name="accountPK" type="xsd:positiveInteger" />
      <xsd:element name="deviceType" type="xsd:string" />
      <xsd:element name="entitlementPK" type="xsd:positiveInteger" />
      <xsd:element name="wizardAccountNumber" type="xsd:positiveInteger" />
      <xsd:element name="IBMSOfferID" type="xsd:positiveInteger" />
      <xsd:element name="requestID" type="xsd:string" />
      <xsd:element name="email" type="tns:Mail" />
      <xsd:element name="firstName" type="xsd:string" />
      <xsd:element name="lastName" type="xsd:string" />
      <xsd:element name="isActive" type="tns:YesNoType" />
      <xsd:element name="loginRoleCode" type="xsd:string" />
      <xsd:element name="altcode" type="xsd:string" />
      <xsd:element name="drmImplementation" type="xsd:string" />
      <xsd:element name="externalId" type="xsd:string" />
      <xsd:element name="deviceName" type="xsd:string" />
      <xsd:element name="accountID" type="xsd:string" />
      <xsd:element name="user">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:userName" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:firstName" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:lastName" />
            <xsd:element minOccurs="1" maxOccurs="1" name="parentalCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:email" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:loginRoleCode" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:isActive" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="device">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" ref="tns:deviceDNA" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceType" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:drmImplementation" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:isActive" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="header">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:requestID" />
            <xsd:element minOccurs="0" maxOccurs="1" name="clientID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Login">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:altcode" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:email" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:externalId" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:firstName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:isActive" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:lastName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:loginPK" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:loginRoleCode" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:userName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:loginID" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Device">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:altcode" />
            <xsd:element minOccurs="0" maxOccurs="1" name="createDate" type="tns:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="1" name="deviceMetadatas" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:devicePK" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceType" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:drmImplementation" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:externalId" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceDNA" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:isActive" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:deviceID" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="accountMetaData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="accountMetadataPk" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="binaryData" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="binaryDataMimeType" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="data" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="lastModifiedDate" type="tns:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="1" name="accountMetaDataName" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="accountMetaDataID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Account">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:accountMetaData" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:accountPK" />
            <xsd:element minOccurs="0" maxOccurs="1" name="affiliateId" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:altcode" />
            <xsd:element minOccurs="0" maxOccurs="1" name="defaultLogin" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:email" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:externalId" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:firstName" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:isActive" />
            <xsd:element minOccurs="0" maxOccurs="1" name="lastModifiedDate" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:lastName" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="tns:accountID" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="tns:Login" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="tns:Device" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.netcracker.com/dataflow/yes/interface/messages" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.netcracker.com/dataflow/yes/interface/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.netcracker.com/dataflow/yes/interface/types" />
      <xsd:element name="ErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" ref="ts:errorCode" />
            <xsd:element minOccurs="1" maxOccurs="1" name="errorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CommonResponse" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" ref="ts:errorCode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CommonRequest" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" ref="ts:accountNumber" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AddDeviceRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="device">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceDNA" />
                      <xsd:element minOccurs="1" maxOccurs="1" name="deviceName" type="xsd:string" />
                      <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceType" />
                      <xsd:element minOccurs="1" maxOccurs="1" name="drmImplementation" type="xsd:string" />
                      <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="ts:YesNoType" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:userName" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddDeviceResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceID" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:devicePK" />
                <xsd:element minOccurs="1" maxOccurs="1" name="creationDate" type="ts:dateTime" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateDeviceRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="device">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceDNA" />
                      <xsd:element minOccurs="1" maxOccurs="1" name="deviceName" type="xsd:string" />
                      <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceType" />
                      <xsd:element minOccurs="0" maxOccurs="1" name="drmImplementation" type="xsd:string" />
                      <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="ts:YesNoType" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateDeviceResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EntitleProductRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:productID" />
                <xsd:element minOccurs="1" maxOccurs="1" name="rentalHours" type="xsd:positiveInteger" />
                <xsd:element minOccurs="0" maxOccurs="1" name="rentalStart" type="ts:dateTime" />
                <xsd:element minOccurs="1" maxOccurs="1" name="willExpire" type="ts:YesNoType" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:userName" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceType" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceDNA" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:IBMSOfferID" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EntitleProductResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:entitlementPK" />
                <xsd:element minOccurs="0" maxOccurs="1" name="creationDate" type="ts:dateTime" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PurchaseSvodRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:userName" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:IBMSOfferID" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:productID" />
                <xsd:element minOccurs="1" maxOccurs="1" name="willExpire" type="ts:YesNoType" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceType" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceDNA" />
                <xsd:element minOccurs="0" maxOccurs="1" name="rentalHours" type="xsd:positiveInteger" />
                <xsd:element minOccurs="0" maxOccurs="1" name="rentalStart" type="ts:dateTime" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PurchaseSvodResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:userName" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:entitlementPK" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:wizardAccountNumber" />
                <xsd:element minOccurs="0" maxOccurs="1" name="creationDate" type="ts:dateTime" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BillTvodRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:userName" />
                <xsd:element minOccurs="1" maxOccurs="1" name="viewingDate" type="ts:dateTime" />
                <xsd:element minOccurs="1" maxOccurs="1" name="entitlementDate" type="ts:dateTime" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:productID" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:IBMSOfferID" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:entitlementPK" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceType" />
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:deviceDNA" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BillTvodResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTvodPriceRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:userName" />
                <xsd:element minOccurs="1" maxOccurs="1" name="viewingDate" type="ts:dateTime" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:IBMSOfferID" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceType" />
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceDNA" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTvodPriceResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="rate" type="ts:money" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateTveAccountRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateTveAccountResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteTveAccountRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteTveAccountResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddUserRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:user" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddUserResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUserRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:user" />
                <xsd:element minOccurs="1" maxOccurs="1" name="permission" type="xsd:string" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUserResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteUserRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:userName" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteUserResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteDeviceRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" ref="ts:deviceDNA" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteDeviceResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SynchronizeProductsRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SynchronizeProductsResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllUsersAndDevicesOfAccountRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllUsersAndDevicesOfAccountResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:Account" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllProductsOfAccountRequest">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonRequest" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllProductsOfAccountResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" ref="ts:Account" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LoadVODOffersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="eventTime" type="ts:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" ref="ts:IBMSOfferID" />
            <xsd:element minOccurs="1" maxOccurs="1" name="offerName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="offerStatus" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="offerURL" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LoadVODOffersResponse">
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="tns:CommonResponse">
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="confirmed" type="ts:YesNoType" />
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddUserInput">
    <wsdl:part name="body" element="m:AddUserRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserOutput">
    <wsdl:part name="body" element="m:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserOutput">
    <wsdl:part name="body" element="m:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoadVODOffersOutput">
    <wsdl:part name="body" element="m:LoadVODOffersResponse" />
  </wsdl:message>
  <wsdl:message name="AddDeviceInput">
    <wsdl:part name="body" element="m:AddDeviceRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceOutput">
    <wsdl:part name="body" element="m:UpdateDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInput">
    <wsdl:part name="body" element="m:UpdateUserRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteDeviceOutput">
    <wsdl:part name="body" element="m:DeleteDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDeviceInput">
    <wsdl:part name="body" element="m:DeleteDeviceRequest" />
  </wsdl:message>
  <wsdl:message name="LoadVODOffersInput">
    <wsdl:part name="body" element="m:LoadVODOffersRequest" />
  </wsdl:message>
  <wsdl:message name="SynchronizeProductsOutput">
    <wsdl:part name="body" element="m:SynchronizeProductsResponse" />
  </wsdl:message>
  <wsdl:message name="SynchronizeProductsInput">
    <wsdl:part name="body" element="m:SynchronizeProductsRequest" />
  </wsdl:message>
  <wsdl:message name="ErrorMessage">
    <wsdl:part name="body" element="m:ErrorResponse" />
  </wsdl:message>
  <wsdl:message name="GetTvodPriceInput">
    <wsdl:part name="body" element="m:GetTvodPriceRequest" />
  </wsdl:message>
  <wsdl:message name="PurchaseSvodOutput">
    <wsdl:part name="body" element="m:PurchaseSvodResponse" />
  </wsdl:message>
  <wsdl:message name="EntitleProductInput">
    <wsdl:part name="body" element="m:EntitleProductRequest" />
  </wsdl:message>
  <wsdl:message name="AddDeviceOutput">
    <wsdl:part name="body" element="m:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTveAccountInput">
    <wsdl:part name="body" element="m:DeleteTveAccountRequest" />
  </wsdl:message>
  <wsdl:message name="BillTvodInput">
    <wsdl:part name="body" element="m:BillTvodRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteTveAccountOutput">
    <wsdl:part name="body" element="m:DeleteTveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetTvodPriceOutput">
    <wsdl:part name="body" element="m:GetTvodPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersAndDevicesOfAccountInput">
    <wsdl:part name="body" element="m:GetAllUsersAndDevicesOfAccountRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceInput">
    <wsdl:part name="body" element="m:UpdateDeviceRequest" />
  </wsdl:message>
  <wsdl:message name="BillTvodOutput">
    <wsdl:part name="body" element="m:BillTvodResponse" />
  </wsdl:message>
  <wsdl:message name="EntitleProductOutput">
    <wsdl:part name="body" element="m:EntitleProductResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTveAccountOutput">
    <wsdl:part name="body" element="m:CreateTveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersAndDevicesOfAccountOutput">
    <wsdl:part name="body" element="m:GetAllUsersAndDevicesOfAccountResponse" />
  </wsdl:message>
  <wsdl:message name="Header">
    <wsdl:part name="header" element="ts:header" />
  </wsdl:message>
  <wsdl:message name="PurchaseSvodInput">
    <wsdl:part name="body" element="m:PurchaseSvodRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateUserOutput">
    <wsdl:part name="body" element="m:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsOfAccountInput">
    <wsdl:part name="body" element="m:GetAllProductsOfAccountRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInput">
    <wsdl:part name="body" element="m:DeleteUserRequest" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsOfAccountOutput">
    <wsdl:part name="body" element="m:GetAllProductsOfAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTveAccountInput">
    <wsdl:part name="body" element="m:CreateTveAccountRequest" />
  </wsdl:message>
  <wsdl:portType name="YES_Interface.portType">
    <wsdl:operation name="AddDevice">
      <wsdl:input message="tns:AddDeviceInput" />
      <wsdl:output message="tns:AddDeviceOutput" />
      <wsdl:fault name="AddDeviceError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <wsdl:input message="tns:UpdateDeviceInput" />
      <wsdl:output message="tns:UpdateDeviceOutput" />
      <wsdl:fault name="UpdateDeviceError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="EntitleProduct">
      <wsdl:input message="tns:EntitleProductInput" />
      <wsdl:output message="tns:EntitleProductOutput" />
      <wsdl:fault name="EntitleProductError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseSvod">
      <wsdl:input message="tns:PurchaseSvodInput" />
      <wsdl:output message="tns:PurchaseSvodOutput" />
      <wsdl:fault name="PurchaseSvodError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillTvod">
      <wsdl:input message="tns:BillTvodInput" />
      <wsdl:output message="tns:BillTvodOutput" />
      <wsdl:fault name="BillTvodError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTvodPrice">
      <wsdl:input message="tns:GetTvodPriceInput" />
      <wsdl:output message="tns:GetTvodPriceOutput" />
      <wsdl:fault name="GetTvodPriceError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTveAccount">
      <wsdl:input message="tns:CreateTveAccountInput" />
      <wsdl:output message="tns:CreateTveAccountOutput" />
      <wsdl:fault name="CreateTveAccountError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTveAccount">
      <wsdl:input message="tns:DeleteTveAccountInput" />
      <wsdl:output message="tns:DeleteTveAccountOutput" />
      <wsdl:fault name="DeleteTveAccountError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserInput" />
      <wsdl:output message="tns:AddUserOutput" />
      <wsdl:fault name="AddUserError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserInput" />
      <wsdl:output message="tns:UpdateUserOutput" />
      <wsdl:fault name="UpdateUserError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserInput" />
      <wsdl:output message="tns:DeleteUserOutput" />
      <wsdl:fault name="DeleteUserError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <wsdl:input message="tns:DeleteDeviceInput" />
      <wsdl:output message="tns:DeleteDeviceOutput" />
      <wsdl:fault name="DeleteDeviceError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeProducts">
      <wsdl:input message="tns:SynchronizeProductsInput" />
      <wsdl:output message="tns:SynchronizeProductsOutput" />
      <wsdl:fault name="SynchronizeProductsError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersAndDevicesOfAccount">
      <wsdl:input message="tns:GetAllUsersAndDevicesOfAccountInput" />
      <wsdl:output message="tns:GetAllUsersAndDevicesOfAccountOutput" />
      <wsdl:fault name="GetAllUsersAndDevicesOfAccountError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsOfAccount">
      <wsdl:input message="tns:GetAllProductsOfAccountInput" />
      <wsdl:output message="tns:GetAllProductsOfAccountOutput" />
      <wsdl:fault name="GetAllProductsOfAccountError" message="tns:ErrorMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadVODOffers">
      <wsdl:input message="tns:LoadVODOffersInput" />
      <wsdl:output message="tns:LoadVODOffersOutput" />
      <wsdl:fault name="LoadVODOffersError" message="tns:ErrorMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YES_Interface.binding" type="tns:YES_Interface.portType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="AddDevice" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AddDeviceError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <soap:operation soapAction="UpdateDevice" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UpdateDeviceError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EntitleProduct">
      <soap:operation soapAction="EntitleProduct" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntitleProductError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseSvod">
      <soap:operation soapAction="PurchaseSvod" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PurchaseSvodError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BillTvod">
      <soap:operation soapAction="BillTvod" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BillTvodError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTvodPrice">
      <soap:operation soapAction="GetTvodPrice" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GetTvodPriceError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTveAccount">
      <soap:operation soapAction="CreateTveAccount" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CreateTveAccountError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTveAccount">
      <soap:operation soapAction="DeleteTveAccount" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeleteTveAccountError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="AddUser" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AddUserError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="UpdateUser" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UpdateUserError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="DeleteUser" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeleteUserError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <soap:operation soapAction="DeleteDevice" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeleteDeviceError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeProducts">
      <soap:operation soapAction="SynchronizeProducts" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SynchronizeProductsError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersAndDevicesOfAccount">
      <soap:operation soapAction="GetAllUsersAndDevicesOfAccount" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GetAllUsersAndDevicesOfAccountError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsOfAccount">
      <soap:operation soapAction="GetAllProductsOfAccount" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GetAllProductsOfAccountError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadVODOffers">
      <soap:operation soapAction="LoadVODOffers" style="document" />
      <wsdl:input>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Header" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LoadVODOffersError">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YES_InterfaceService">
    <wsdl:port name="YES_InterfacePort" binding="tns:YES_Interface.binding">
      <soap:address location="http://84.47.142.104:6300/dataflow/yesService" />
    </wsdl:port>
    <wsdl:port name="YES_InterfacePort.CCRM" binding="tns:YES_Interface.binding">
      <soap:address location="http://84.47.142.104:6300/dataflow/yesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>