Logic/Service References/EngagementAdapterService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EngagementAdapterNPAW/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EngagementAdapterCommon.Models" />
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="providerUrl" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EngagementAdapterCommon.Models" minOccurs="0" name="connectionSettings" nillable="true" type="q1:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EngagementAdapterCommon.Models" minOccurs="0" name="SetConfigurationResult" nillable="true" type="q2:AdapterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="dynamicData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EngagementAdapterCommon.Models" minOccurs="0" name="GetListResult" nillable="true" type="q3:EngagementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>