Web Sites/API/App_WebReferences/Lucene/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://lucene.dev.tvincidns.com" elementFormDefault="qualified" targetNamespace="http://lucene.dev.tvincidns.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetChannelMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nChannelID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="nFileTypes" type="tns:ArrayOfInt" />
        <xs:element minOccurs="1" maxOccurs="1" name="bOnlyActiveMedias" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="bUseStartDate" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="nDeviceRuleId" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChannelMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetChannelMediasResult" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:SearchObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="bUseStartDate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SearchObj">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="m_nMediaType" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eOrderBy" type="tns:OrderBy" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eOrderDir" type="tns:OrderDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_eCutWith" type="tns:CutWith" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bExact" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_dAnd" type="tns:ArrayOfSearchValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_dOr" type="tns:ArrayOfSearchValue" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="m_bUseStartDate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_nDeviceRuleId" type="tns:ArrayOfInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrderBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ID" />
      <xs:enumeration value="VIEWS" />
      <xs:enumeration value="VOTES_COUNT" />
      <xs:enumeration value="LIKE_COUNTER" />
      <xs:enumeration value="START_DATE" />
      <xs:enumeration value="NAME" />
      <xs:enumeration value="CREATE_DATE" />
      <xs:enumeration value="META1_STR" />
      <xs:enumeration value="META2_STR" />
      <xs:enumeration value="META3_STR" />
      <xs:enumeration value="META4_STR" />
      <xs:enumeration value="META5_STR" />
      <xs:enumeration value="META6_STR" />
      <xs:enumeration value="META7_STR" />
      <xs:enumeration value="META8_STR" />
      <xs:enumeration value="META9_STR" />
      <xs:enumeration value="META10_STR" />
      <xs:enumeration value="META11_STR" />
      <xs:enumeration value="META12_STR" />
      <xs:enumeration value="META13_STR" />
      <xs:enumeration value="META14_STR" />
      <xs:enumeration value="META15_STR" />
      <xs:enumeration value="META16_STR" />
      <xs:enumeration value="META17_STR" />
      <xs:enumeration value="META18_STR" />
      <xs:enumeration value="META19_STR" />
      <xs:enumeration value="META20_STR" />
      <xs:enumeration value="META1_DOUBLE" />
      <xs:enumeration value="META2_DOUBLE" />
      <xs:enumeration value="META3_DOUBLE" />
      <xs:enumeration value="META4_DOUBLE" />
      <xs:enumeration value="META5_DOUBLE" />
      <xs:enumeration value="META6_DOUBLE" />
      <xs:enumeration value="META7_DOUBLE" />
      <xs:enumeration value="META8_DOUBLE" />
      <xs:enumeration value="META9_DOUBLE" />
      <xs:enumeration value="META10_DOUBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrderDir">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CutWith">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OR" />
      <xs:enumeration value="AND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfSearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchValue" nillable="true" type="tns:SearchValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="m_sKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="m_sValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SearchMediasResult" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoCompleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="oSearch" type="tns:SearchObj" />
        <xs:element minOccurs="1" maxOccurs="1" name="nLangID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoCompleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAutoCompleteListResult" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nChannelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="nMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RemoveRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAndBuildGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAndBuildGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ClearAndBuildGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>