TvmDataLoader/Protocols/XSD/ChannelsMedia.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by irena (tvinci) -->
<!--Created with Liquid XML Studio - 30 Day Trial Edition 7.1.4.1284 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ChannelsMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="params">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="info_struct" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" minOccurs="0"/>
																<xs:element name="description" minOccurs="0"/>
																<xs:element name="type" minOccurs="0"/>
																<xs:element name="meta" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tags" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="tag_type" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="name" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="statistics" type="xs:boolean" default="false"/>
															<xs:attribute name="personal" type="xs:boolean" default="false"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="with_info" default="false"/>
												<xs:attribute name="with_file_types" default="false"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="channel" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="order_values" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="OrderType" minOccurs="0"/>
																<xs:element name="description" type="OrderType" minOccurs="0"/>
																<xs:element name="date" type="OrderType" minOccurs="0"/>
																<xs:element name="views" type="OrderType" minOccurs="0"/>
																<xs:element name="rate" type="OrderType" minOccurs="0"/>
																<xs:element name="random" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="value" default="true"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="meta" minOccurs="0">
																	<xs:complexType mixed="false">
																		<xs:complexContent mixed="false">
																			<xs:extension base="OrderType">
																				<xs:attribute name="name" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:long" use="required"/>
												<xs:attribute name="start_index" type="xs:int" use="required"/>
												<xs:attribute name="number_of_items" type="xs:int" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" use="required" fixed="channels_media"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un" use="required"/>
									<xs:attribute name="player_pass" use="required"/>
									<xs:attribute name="pic_size1" use="required"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="timer"/>
									<xs:attribute name="file_format"/>
									<xs:attribute name="sub_file_format"/>
									<xs:attribute name="file_quality">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="low"/>
												<xs:enumeration value="medium"/>
												<xs:enumeration value="high"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="pic_size1_format"/>
									<xs:attribute name="pic_size1_quality"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
									<xs:attribute name="use_start_date" type="xs:string" default="true"/>
									<xs:attribute name="no_file_url" type="xs:boolean" default="false"/>									
									<xs:attribute name="device_udid" type="xs:string"/>
									<xs:attribute name="platform" type="xs:int"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playlist_schema"/>
							<xs:element name="channel" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="media" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="description">
														<xs:complexType>
															<xs:attribute name="value"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="rating">
														<xs:complexType>
															<xs:attribute name="sum"/>
															<xs:attribute name="count"/>
															<xs:attribute name="avg"/>
															<xs:attribute name="user_voted"/>
															<xs:attribute name="user_voted_val"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="tags_collections">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tag_type" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="id"/>
																					<xs:attribute name="name"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="id"/>
																		<xs:attribute name="name"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="type">
														<xs:complexType>
															<xs:attribute name="id"/>
															<xs:attribute name="value"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="views">
														<xs:complexType>
															<xs:attribute name="count"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="name">
														<xs:complexType>
															<xs:attribute name="value"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="inner_medias">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="media" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ads_schema">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ad" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:attribute name="type"/>
																								<xs:attribute name="impl_type"/>
																								<xs:attribute name="url"/>
																								<xs:attribute name="skip"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="enable"/>
																					<xs:attribute name="break_delta"/>
																					<xs:attribute name="break_start"/>
																					<xs:attribute name="overlay_delta"/>
																					<xs:attribute name="overlay_start"/>
																					<xs:attribute name="playlist_schema_controlled"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="id"/>
																		<xs:attribute name="title" use="optional"/>
																		<xs:attribute name="url" use="optional"/>
																		<xs:attribute name="block" use="optional"/>
																		<xs:attribute name="date" use="optional"/>
																		<xs:attribute name="duration" type="xs:string"/>
																		<xs:attribute name="file_id"/>
																		<xs:attribute name="file_format" use="optional"/>
																		<xs:attribute name="pic_size1" use="optional"/>
																		<xs:attribute name="pic_size2"/>
																		<xs:attribute name="pic_size3" type="xs:string"/>
																		<xs:attribute name="cdn_id" use="optional"/>
																		<xs:attribute name="cdn_impl_type" use="optional"/>
																		<xs:attribute name="billing" use="optional"/>
																		<xs:attribute name="total_views" use="optional"/>
																		<xs:attribute name="config_data" use="optional"/>
																		<xs:attribute name="notify_url" use="optional"/>
																		<xs:attribute name="outer_guid" use="optional"/>
																		<xs:attribute name="file_quality" use="optional"/>
																		<xs:attribute name="orig_file_format" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="META1_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META2_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META3_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META4_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META5_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META6_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META7_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META8_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META9_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META10_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META11_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META12_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META13_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META14_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META15_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META16_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META17_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META18_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META19_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META20_BOOL_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META1_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META2_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META3_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META4_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META5_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META6_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META7_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META8_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META9_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META10_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META11_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META12_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META13_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META14_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META15_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META16_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META17_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META18_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META19_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META20_DOUBLE_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META1_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META2_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META3_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META4_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META5_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META6_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META7_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META8_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META9_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META10_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META11_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META12_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META13_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META14_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META15_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META16_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META17_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META18_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META19_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="META20_STR_NAME">
														<xs:complexType mixed="false">
															<xs:complexContent mixed="false">
																<xs:extension base="MetaType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="external_ids">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="epg_id" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>												</xs:sequence>
												<xs:attribute name="id"/>
												<xs:attribute name="title"/>
												<xs:attribute name="url"/>
												<xs:attribute name="block"/>
												<xs:attribute name="date"/>
												<xs:attribute name="duration" type="xs:string"/>
												<xs:attribute name="file_id"/>
												<xs:attribute name="file_format"/>
												<xs:attribute name="pic_size1"/>
												<xs:attribute name="cdn_id"/>
												<xs:attribute name="cdn_impl_type"/>
												<xs:attribute name="like_counter" type="xs:int"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string"/>
									<xs:attribute name="title"/>
									<xs:attribute name="description"/>
									<xs:attribute name="media_count"/>
									<xs:attribute name="pic_size1"/>
									<xs:attribute name="rss" type="xs:boolean" default="false"/>
									<xs:attribute name="linear_start_time"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="OrderType">
		<xs:attribute name="order_dir" default="asc">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="asc"/>
					<xs:enumeration value="desc"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="order_num" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="MetaType">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="value"/>
	</xs:complexType>
</xs:schema>
