TvmDataLoader/Protocols/XSD/CommentsSave.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by daniel (daniel) -->
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="SharedElements" xmlns:mstns="http://tempuri.org/Orange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CommentsSave">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="comment" type="comment"/>
									</xs:sequence>
									<xs:attribute name="type" use="required" fixed="save_comments"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un"/>
									<xs:attribute name="player_pass"/>
									<xs:attribute name="pic_size1"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="use_final_end_date"/>
									<xs:attribute name="file_format"/>
									<xs:attribute name="file_quality">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="low"/>
												<xs:enumeration value="medium"/>
												<xs:enumeration value="high"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
									<xs:attribute name="site_guid"/>
									<xs:attribute name="device_udid"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:attribute name="type" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="comment">
		<xs:sequence>
			<xs:element name="media">
				<xs:complexType>
					<xs:attribute name="id" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="writer" type="xs:string"/>
			<xs:element name="header" type="xs:string"/>
			<xs:element name="sub_header" type="xs:string"/>
			<xs:element name="content" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="auto_active" use="required"/>
	</xs:complexType>
	<xs:complexType name="returnComment">
		<xs:sequence>
			<xs:element name="date" type="xs:string"/>
			<xs:element name="content" type="xs:string"/>
			<xs:element name="header" type="xs:string"/>
			<xs:element name="sub_header" type="xs:string"/>
			<xs:element name="writer" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
	</xs:complexType>
</xs:schema>
