TvmDataLoader/Protocols/XSD/CommentsList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ori (EMBRACE) -->
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="SharedElements" xmlns:mstns="http://tempuri.org/Orange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CommentsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="media">
											<xs:complexType>
												<xs:attribute name="id"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="comments">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" use="required" fixed="comments_list"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un"/>
									<xs:attribute name="player_pass"/>
									<xs:attribute name="pic_size1"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="use_final_end_date"/>
									<xs:attribute name="file_format"/>
									<xs:attribute name="file_quality">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="low"/>
												<xs:enumeration value="medium"/>
												<xs:enumeration value="high"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="comment">
		<xs:sequence>
			<xs:element name="date" type="xs:string"/>
			<xs:element name="writer" type="xs:string"/>
			<xs:element name="header" type="xs:string"/>
			<xs:element name="sub_header" type="xs:string"/>
			<xs:element name="content" type="xs:string"/>
			<xs:element name="media">
				<xs:complexType>
					<xs:attribute name="id"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
</xs:schema>
