TvmDataLoader/Protocols/XSD/MH_CategoriesTree.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="channelType">
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="title"/>
		<xs:attribute name="description"/>
		<xs:attribute name="media_count"/>
		<xs:attribute name="pic_size1" type="xs:string" use="optional"/>
		<xs:attribute name="linear_start_time"/>
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:sequence>
			<xs:element name="channel" type="channelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="category" type="categoryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="title"/>
		<xs:attribute name="description"/>
		<xs:attribute name="media_count"/>
		<xs:attribute name="pic_size1" type="xs:string" use="optional"/>
		<xs:attribute name="linear_start_time"/>
	</xs:complexType>
	<xs:element name="MH_CategoriesTree">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:attribute name="type" default="mh_categories_tree"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un" use="required"/>
									<xs:attribute name="player_pass" use="required"/>
									<xs:attribute name="with_channels" type="xs:boolean" use="required"/>
									<xs:attribute name="category_id" type="xs:int" use="required"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="pic_size1"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" type="categoryType" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
