TvmDataLoader/Protocols/XSD/Rating.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (x64) (http://www.altova.com) by Irena (OK) -->
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Rating">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="rating">
											<xs:complexType>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="media">
											<xs:complexType>
												<xs:attribute name="id"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" default="rating"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un" use="required"/>
									<xs:attribute name="player_pass" use="required"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
									<xs:attribute name="site_guid" type="xs:string"/>
									<xs:attribute name="device_udid" type="xs:string"/>
									<xs:attribute name="user_ip" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rating">
								<xs:complexType>
									<xs:attribute name="sum"/>
									<xs:attribute name="count"/>
									<xs:attribute name="avg"/>
									<xs:attribute name="user_voted"/>
									<xs:attribute name="user_voted_val"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="error">
								<xs:complexType>
									<xs:attribute name="message"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
