TvmDataLoader/Protocols/XSD/SendToFriend.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by daniel (daniel) -->
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="SendToFriend">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="mail">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="sender_name"/>
														<xs:attribute name="from"/>
														<xs:attribute name="to"/>
														<xs:attribute name="receiver_name"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="media">
											<xs:complexType>
												<xs:attribute name="id"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" use="required" fixed="send_to_friend"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un" use="required"/>
									<xs:attribute name="player_pass" use="required"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
