TvmDataLoader/Protocols/XSD/TagSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by daniel (daniel) -->
<!--Created with Liquid XML Studio - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="TagSearchProtocol">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tags">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tag_type" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" use="required"/>
															<xs:attribute name="order_by" default="abc">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="abc"/>
																		<xs:enumeration value="count"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="in_min" type="xs:string"/>
															<xs:attribute name="in_max" type="xs:string"/>
															<xs:attribute name="not_in_min" type="xs:string"/>
															<xs:attribute name="not_in_max" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" use="required" fixed="tag_values"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un" use="required"/>
									<xs:attribute name="player_pass" use="required"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tag_type" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
