TvinciImporter/Web References/WS_Encryptor/Encryptor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://drm.tvinci.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://drm.tvinci.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://drm.tvinci.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetSeed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSeedResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCocktailSeed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCocktailSeedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCocktailSeedResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoliciesByGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoliciesByGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPoliciesByGroupIdResult" type="tns:ArrayOfClientPlayreadyPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientPlayreadyPolicy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClientPlayreadyPolicy" nillable="true" type="tns:ClientPlayreadyPolicy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientPlayreadyPolicy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnalogVideoOpl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompressedDigitalAudioOpl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompressedDigitalVideoOpl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnCompressedDigitalAudioOpl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SdUnCompressedDigitalVideoOpl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HdUnCompressedDigitalVideoOpl" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Enablers" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CopyCount" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPolicyObj" type="tns:ClientPlayreadyPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePolicyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientPolicyObj" type="tns:ClientPlayreadyPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePolicyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="policyId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePolicyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNewKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalIdentifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNewKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerateNewKeyResult" nillable="true" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPolicyToFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="isSd" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPolicyToFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPolicyToFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPolicyToFileByCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="coGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSd" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPolicyToFileByCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPolicyToFileByCoGuidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileGuidByClientIdentifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIdentifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileGuidByClientIdentifierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileGuidByClientIdentifierResult" nillable="true" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSeedSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeed" />
  </wsdl:message>
  <wsdl:message name="GetSeedSoapOut">
    <wsdl:part name="parameters" element="tns:GetSeedResponse" />
  </wsdl:message>
  <wsdl:message name="GetCocktailSeedSoapIn">
    <wsdl:part name="parameters" element="tns:GetCocktailSeed" />
  </wsdl:message>
  <wsdl:message name="GetCocktailSeedSoapOut">
    <wsdl:part name="parameters" element="tns:GetCocktailSeedResponse" />
  </wsdl:message>
  <wsdl:message name="GetPoliciesByGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPoliciesByGroupId" />
  </wsdl:message>
  <wsdl:message name="GetPoliciesByGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPoliciesByGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePolicySoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePolicy" />
  </wsdl:message>
  <wsdl:message name="UpdatePolicySoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePolicySoapIn">
    <wsdl:part name="parameters" element="tns:CreatePolicy" />
  </wsdl:message>
  <wsdl:message name="CreatePolicySoapOut">
    <wsdl:part name="parameters" element="tns:CreatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePolicySoapIn">
    <wsdl:part name="parameters" element="tns:DeletePolicy" />
  </wsdl:message>
  <wsdl:message name="DeletePolicySoapOut">
    <wsdl:part name="parameters" element="tns:DeletePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateNewKeySoapIn">
    <wsdl:part name="parameters" element="tns:GenerateNewKey" />
  </wsdl:message>
  <wsdl:message name="GenerateNewKeySoapOut">
    <wsdl:part name="parameters" element="tns:GenerateNewKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SetPolicyToFileSoapIn">
    <wsdl:part name="parameters" element="tns:SetPolicyToFile" />
  </wsdl:message>
  <wsdl:message name="SetPolicyToFileSoapOut">
    <wsdl:part name="parameters" element="tns:SetPolicyToFileResponse" />
  </wsdl:message>
  <wsdl:message name="SetPolicyToFileByCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:SetPolicyToFileByCoGuid" />
  </wsdl:message>
  <wsdl:message name="SetPolicyToFileByCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:SetPolicyToFileByCoGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileGuidByClientIdentifierSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileGuidByClientIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetFileGuidByClientIdentifierSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileGuidByClientIdentifierResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptorSoap">
    <wsdl:operation name="GetSeed">
      <wsdl:input message="tns:GetSeedSoapIn" />
      <wsdl:output message="tns:GetSeedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailSeed">
      <wsdl:input message="tns:GetCocktailSeedSoapIn" />
      <wsdl:output message="tns:GetCocktailSeedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesByGroupId">
      <wsdl:input message="tns:GetPoliciesByGroupIdSoapIn" />
      <wsdl:output message="tns:GetPoliciesByGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <wsdl:input message="tns:UpdatePolicySoapIn" />
      <wsdl:output message="tns:UpdatePolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <wsdl:input message="tns:CreatePolicySoapIn" />
      <wsdl:output message="tns:CreatePolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePolicy">
      <wsdl:input message="tns:DeletePolicySoapIn" />
      <wsdl:output message="tns:DeletePolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNewKey">
      <wsdl:input message="tns:GenerateNewKeySoapIn" />
      <wsdl:output message="tns:GenerateNewKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFile">
      <wsdl:input message="tns:SetPolicyToFileSoapIn" />
      <wsdl:output message="tns:SetPolicyToFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFileByCoGuid">
      <wsdl:input message="tns:SetPolicyToFileByCoGuidSoapIn" />
      <wsdl:output message="tns:SetPolicyToFileByCoGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileGuidByClientIdentifier">
      <wsdl:input message="tns:GetFileGuidByClientIdentifierSoapIn" />
      <wsdl:output message="tns:GetFileGuidByClientIdentifierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptorSoap" type="tns:EncryptorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeed">
      <soap:operation soapAction="http://drm.tvinci.com/GetSeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailSeed">
      <soap:operation soapAction="http://drm.tvinci.com/GetCocktailSeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesByGroupId">
      <soap:operation soapAction="http://drm.tvinci.com/GetPoliciesByGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <soap:operation soapAction="http://drm.tvinci.com/UpdatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap:operation soapAction="http://drm.tvinci.com/CreatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePolicy">
      <soap:operation soapAction="http://drm.tvinci.com/DeletePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNewKey">
      <soap:operation soapAction="http://drm.tvinci.com/GenerateNewKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFile">
      <soap:operation soapAction="http://drm.tvinci.com/SetPolicyToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFileByCoGuid">
      <soap:operation soapAction="http://drm.tvinci.com/SetPolicyToFileByCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileGuidByClientIdentifier">
      <soap:operation soapAction="http://drm.tvinci.com/GetFileGuidByClientIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptorSoap12" type="tns:EncryptorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeed">
      <soap12:operation soapAction="http://drm.tvinci.com/GetSeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailSeed">
      <soap12:operation soapAction="http://drm.tvinci.com/GetCocktailSeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoliciesByGroupId">
      <soap12:operation soapAction="http://drm.tvinci.com/GetPoliciesByGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <soap12:operation soapAction="http://drm.tvinci.com/UpdatePolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap12:operation soapAction="http://drm.tvinci.com/CreatePolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePolicy">
      <soap12:operation soapAction="http://drm.tvinci.com/DeletePolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNewKey">
      <soap12:operation soapAction="http://drm.tvinci.com/GenerateNewKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFile">
      <soap12:operation soapAction="http://drm.tvinci.com/SetPolicyToFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPolicyToFileByCoGuid">
      <soap12:operation soapAction="http://drm.tvinci.com/SetPolicyToFileByCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileGuidByClientIdentifier">
      <soap12:operation soapAction="http://drm.tvinci.com/GetFileGuidByClientIdentifier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Encryptor">
    <wsdl:port name="EncryptorSoap" binding="tns:EncryptorSoap">
      <soap:address location="http://192.168.16.70:333/Encryptor.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptorSoap12" binding="tns:EncryptorSoap12">
      <soap12:address location="http://192.168.16.70:333/Encryptor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>