tvpapi/Tvinci.Configuration/ProviderConfiguration/ProvideConfiguration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:mstns="http://tempuri.org/ProvideConfiguration.xsd" elementFormDefault="qualified" id="ProvideConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProviderConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:attribute name="ID" type="xs:string" use="required" />
            <xs:attribute name="VirtualPath" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>