Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiObjects.Epg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiObjects.Epg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEpgPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpgPicture" nillable="true" type="tns:EpgPicture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpgPicture" nillable="true" type="tns:ArrayOfEpgPicture" />
  <xs:complexType name="EpgPicture">
    <xs:sequence>
      <xs:element name="_x003C_PicHeight_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PicWidth_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ratio_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Url_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpgPicture" nillable="true" type="tns:EpgPicture" />
</xs:schema>