Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAggregationsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AggregationsResult" nillable="true" type="tns:AggregationsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregationsResult" nillable="true" type="tns:ArrayOfAggregationsResult" />
  <xs:complexType name="AggregationsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="results" nillable="true" type="tns:ArrayOfAggregationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregationsResult" nillable="true" type="tns:AggregationsResult" />
  <xs:complexType name="ArrayOfAggregationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AggregationResult" nillable="true" type="tns:AggregationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregationResult" nillable="true" type="tns:ArrayOfAggregationResult" />
  <xs:complexType name="AggregationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element minOccurs="0" name="subs" nillable="true" type="tns:ArrayOfAggregationsResult" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregationResult" nillable="true" type="tns:AggregationResult" />
</xs:schema>