Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Catalog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.66/WS_Catalog/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.16.66/WS_Catalog/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EpgCommentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dPublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_nEpgProgramID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sCommentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentRequest" nillable="true" type="tns:EpgCommentRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="m_nPageSize" type="xs:int" />
      <xs:element minOccurs="0" name="m_oFilter" nillable="true" type="tns:Filter" />
      <xs:element minOccurs="0" name="m_sSignString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSignature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUserIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bOnlyActiveMedia" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseFinalDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bUseStartDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="m_nUserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_noFileUrl" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_sDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sPlatform" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:complexType name="SubscriptionMediaRequestOld">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nSubscriptionID" type="xs:int" />
          <xs:element minOccurs="0" name="m_oOrderObj" nillable="true" type="tns:OrderObj" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionMediaRequestOld" nillable="true" type="tns:SubscriptionMediaRequestOld" />
  <xs:complexType name="OrderObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_eOrderBy" type="tns:OrderBy" />
      <xs:element minOccurs="0" name="m_eOrderDir" type="tns:OrderDir" />
      <xs:element minOccurs="0" name="m_eOrderValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderObj" nillable="true" type="tns:OrderObj" />
  <xs:simpleType name="OrderBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ID" />
      <xs:enumeration value="VIEWS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RATING">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VOTES_COUNT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-80</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LIKE_COUNTER">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="START_DATE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NAME">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CREATE_DATE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANDOM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META1_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META2_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META3_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META4_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META5_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META6_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META7_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META8_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META9_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META10_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META11_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META12_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META13_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META14_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META15_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META16_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META17_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META18_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META19_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META20_STR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META1_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META2_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META3_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META4_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META5_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META6_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META7_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META8_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META9_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="META10_DOUBLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RELATED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderBy" nillable="true" type="tns:OrderBy" />
  <xs:simpleType name="OrderDir">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderDir" nillable="true" type="tns:OrderDir" />
  <xs:complexType name="ChannelRequestMultiFiltering">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChannelRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_eFilterCutWith" type="tns:CutWith" />
          <xs:element minOccurs="0" name="m_lFilterTags" nillable="true" type="tns:ArrayOfKeyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequestMultiFiltering" nillable="true" type="tns:ChannelRequestMultiFiltering" />
  <xs:complexType name="ChannelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRequest" nillable="true" type="tns:ChannelRequest" />
  <xs:complexType name="EpgCommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCommentTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nEpgProgramID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentsListRequest" nillable="true" type="tns:EpgCommentsListRequest" />
  <xs:complexType name="EpgSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bSearchAnd" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_lSearch" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_nProgramID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgSearchRequest" nillable="true" type="tns:EpgSearchRequest" />
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="EpgAutoCompleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bSearchAnd" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_lSearch" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_nProgramID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgAutoCompleteRequest" nillable="true" type="tns:EpgAutoCompleteRequest" />
  <xs:complexType name="MediaSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_bAnd" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_bExact" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_lMetas" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_lTags" nillable="true" type="tns:ArrayOfKeyValue" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="m_oOrderObj" nillable="true" type="tns:OrderObj" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaSearchRequest" nillable="true" type="tns:MediaSearchRequest" />
  <xs:complexType name="PersonalRecommendedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalRecommendedRequest" nillable="true" type="tns:PersonalRecommendedRequest" />
  <xs:complexType name="MediaHitRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaHitRequest" nillable="true" type="tns:MediaHitRequest" />
  <xs:complexType name="MediaPlayRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nAvgBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nCurrentBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLoc" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nTotalBitRate" type="xs:int" />
      <xs:element minOccurs="0" name="m_sAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sMediaDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUDID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
  <xs:complexType name="MediaUpdateDateRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediaIds" nillable="true" type="q2:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaUpdateDateRequest" nillable="true" type="tns:MediaUpdateDateRequest" />
  <xs:complexType name="PWWAWProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWWAWProtocolRequest" nillable="true" type="tns:PWWAWProtocolRequest" />
  <xs:complexType name="ChannelsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelsListRequest" nillable="true" type="tns:ChannelsListRequest" />
  <xs:complexType name="PersonalLastWatchedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLastWatchedRequest" nillable="true" type="tns:PersonalLastWatchedRequest" />
  <xs:complexType name="PersonalLasDeviceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaIDs" nillable="true" type="q3:ArrayOfint" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLasDeviceRequest" nillable="true" type="tns:PersonalLasDeviceRequest" />
  <xs:complexType name="MediaRelatedRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nMediaTypes" nillable="true" type="q4:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaRelatedRequest" nillable="true" type="tns:MediaRelatedRequest" />
  <xs:complexType name="CommentsListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCommentType" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentsListRequest" nillable="true" type="tns:CommentsListRequest" />
  <xs:complexType name="PWLALProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nCountryID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaFileID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PWLALProtocolRequest" nillable="true" type="tns:PWLALProtocolRequest" />
  <xs:complexType name="UserSocialMediasRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nSocialAction" type="xs:int" />
          <xs:element minOccurs="0" name="m_nSocialPlatform" type="xs:int" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserSocialMediasRequest" nillable="true" type="tns:UserSocialMediasRequest" />
  <xs:complexType name="SubscriptionMediaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nSubscriptionID" type="xs:int" />
          <xs:element minOccurs="0" name="m_oOrderObj" nillable="true" type="tns:OrderObj" />
          <xs:element minOccurs="0" name="m_sMediaType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionMediaRequest" nillable="true" type="tns:SubscriptionMediaRequest" />
  <xs:complexType name="PicRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_nPicIds" nillable="true" type="q5:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicRequest" nillable="true" type="tns:PicRequest" />
  <xs:complexType name="MediaMarkRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_oMediaPlayRequestData" nillable="true" type="tns:MediaPlayRequestData" />
          <xs:element minOccurs="0" name="m_sErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sMediaCDN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaMarkRequest" nillable="true" type="tns:MediaMarkRequest" />
  <xs:simpleType name="CutWith">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WCF_ONLY_DEFAULT_VALUE" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="AND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CutWith" nillable="true" type="tns:CutWith" />
  <xs:complexType name="MediasProtocolRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lMediasIds" nillable="true" type="q6:ArrayOfint" />
          <xs:element minOccurs="0" name="m_sSiteGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediasProtocolRequest" nillable="true" type="tns:MediasProtocolRequest" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_lObj" nillable="true" type="tns:ArrayOfBaseObject" />
      <xs:element minOccurs="0" name="m_nTotalItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArrayOfBaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseObject" nillable="true" type="tns:BaseObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseObject" nillable="true" type="tns:ArrayOfBaseObject" />
  <xs:complexType name="BaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseObject" nillable="true" type="tns:BaseObject" />
  <xs:complexType name="MediaObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_ExternalIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_dCatalogStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dFinalDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dLastWatchedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dPublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_lBranding" nillable="true" type="tns:ArrayOfBranding" />
          <xs:element minOccurs="0" name="m_lFiles" nillable="true" type="tns:ArrayOfFileMedia" />
          <xs:element minOccurs="0" name="m_lMetas" nillable="true" type="tns:ArrayOfMetas" />
          <xs:element minOccurs="0" name="m_lPicture" nillable="true" type="tns:ArrayOfPicture" />
          <xs:element minOccurs="0" name="m_lTags" nillable="true" type="tns:ArrayOfTags" />
          <xs:element minOccurs="0" name="m_nLikeCounter" type="xs:int" />
          <xs:element minOccurs="0" name="m_oMediaType" nillable="true" type="tns:MediaType" />
          <xs:element minOccurs="0" name="m_oRatingMedia" nillable="true" type="tns:RatingMedia" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sLastWatchedDevice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sSiteUserGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaObj" nillable="true" type="tns:MediaObj" />
  <xs:complexType name="ArrayOfBranding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branding" nillable="true" type="tns:Branding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranding" nillable="true" type="tns:ArrayOfBranding" />
  <xs:complexType name="Branding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileMedia">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nBrandHeight" type="xs:int" />
          <xs:element minOccurs="0" name="m_nRecurringTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Branding" nillable="true" type="tns:Branding" />
  <xs:complexType name="FileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_bIsPostSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_bIsPreSkipEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="m_nCdnID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nDuration" type="xs:double" />
      <xs:element minOccurs="0" name="m_nFileId" type="xs:int" />
      <xs:element minOccurs="0" name="m_oBreakProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oOverlayProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPostProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_oPreProvider" nillable="true" type="tns:AdProvider" />
      <xs:element minOccurs="0" name="m_sBillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sBreakpoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sCoGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sFileFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sOverlaypoints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMedia" nillable="true" type="tns:FileMedia" />
  <xs:complexType name="AdProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdProvider" nillable="true" type="tns:AdProvider" />
  <xs:complexType name="ArrayOfFileMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileMedia" nillable="true" type="tns:FileMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileMedia" nillable="true" type="tns:ArrayOfFileMedia" />
  <xs:complexType name="ArrayOfMetas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metas" nillable="true" type="tns:Metas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetas" nillable="true" type="tns:ArrayOfMetas" />
  <xs:complexType name="Metas">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
      <xs:element minOccurs="0" name="m_sValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metas" nillable="true" type="tns:Metas" />
  <xs:complexType name="TagMeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagMeta" nillable="true" type="tns:TagMeta" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_sSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lValues" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="m_oTagMeta" nillable="true" type="tns:TagMeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
  <xs:complexType name="MediaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
  <xs:complexType name="RatingMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_nRatingAvg" type="xs:double" />
      <xs:element minOccurs="0" name="m_nRatingCount" type="xs:int" />
      <xs:element minOccurs="0" name="m_nRatingSum" type="xs:int" />
      <xs:element minOccurs="0" name="m_nViwes" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote1Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote2Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote3Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote4Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVote5Count" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVotesLoCnt" type="xs:int" />
      <xs:element minOccurs="0" name="m_nVotesUpCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingMedia" nillable="true" type="tns:RatingMedia" />
  <xs:complexType name="PicObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_Picture" nillable="true" type="tns:ArrayOfPicture" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicObj" nillable="true" type="tns:PicObj" />
  <xs:complexType name="ProgramObj">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_dCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dPublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_dStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="m_lMetas" nillable="true" type="tns:ArrayOfMetas" />
          <xs:element minOccurs="0" name="m_lPicture" nillable="true" type="tns:ArrayOfPicture" />
          <xs:element minOccurs="0" name="m_lTags" nillable="true" type="tns:ArrayOfTags" />
          <xs:element minOccurs="0" name="m_nEpgChannelID" type="xs:int" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramObj" nillable="true" type="tns:ProgramObj" />
  <xs:complexType name="PicResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PicResponse" nillable="true" type="tns:PicResponse" />
  <xs:complexType name="EpgCommentsListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lComments" nillable="true" type="tns:ArrayOfEpgComments" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentsListResponse" nillable="true" type="tns:EpgCommentsListResponse" />
  <xs:complexType name="ArrayOfEpgComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpgComments" nillable="true" type="tns:EpgComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpgComments" nillable="true" type="tns:ArrayOfEpgComments" />
  <xs:complexType name="EpgComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="m_dCreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nEpgProgramID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nLang" type="xs:int" />
      <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sLangName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpgComments" nillable="true" type="tns:EpgComments" />
  <xs:complexType name="EpgSearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nEpgIds" nillable="true" type="tns:ArrayOfEpgRes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgSearchResponse" nillable="true" type="tns:EpgSearchResponse" />
  <xs:complexType name="ArrayOfEpgRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpgRes" nillable="true" type="tns:EpgRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpgRes" nillable="true" type="tns:ArrayOfEpgRes" />
  <xs:complexType name="EpgRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nEpgId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpgRes" nillable="true" type="tns:EpgRes" />
  <xs:complexType name="EpgAutoCompleteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_sList" nillable="true" type="q8:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgAutoCompleteResponse" nillable="true" type="tns:EpgAutoCompleteResponse" />
  <xs:complexType name="EpgCommentResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="eStatusEpgComment" type="tns:StatusEpgComment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgCommentResponse" nillable="true" type="tns:EpgCommentResponse" />
  <xs:simpleType name="StatusEpgComment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAIL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEpgComment" nillable="true" type="tns:StatusEpgComment" />
  <xs:complexType name="ChannelDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lchannelList" nillable="true" type="tns:ArrayOfchannelObj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelDetailsResponse" nillable="true" type="tns:ChannelDetailsResponse" />
  <xs:complexType name="ArrayOfchannelObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="channelObj" nillable="true" type="tns:channelObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfchannelObj" nillable="true" type="tns:ArrayOfchannelObj" />
  <xs:complexType name="channelObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dLinearStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_lPic" nillable="true" type="tns:ArrayOfPicture" />
      <xs:element minOccurs="0" name="m_nChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="m_nGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sEditorRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="channelObj" nillable="true" type="tns:channelObj" />
  <xs:complexType name="MediaMarkResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaMarkResponse" nillable="true" type="tns:MediaMarkResponse" />
  <xs:complexType name="MediaHitResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaHitResponse" nillable="true" type="tns:MediaHitResponse" />
  <xs:complexType name="CommentsListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lComments" nillable="true" type="tns:ArrayOfComments" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentsListResponse" nillable="true" type="tns:CommentsListResponse" />
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="m_dCreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nLang" type="xs:int" />
      <xs:element minOccurs="0" name="m_nMediaID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sContentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sLangName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSubHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sWriter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
  <xs:complexType name="PersonalLastDeviceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_lPersonalLastWatched" nillable="true" type="tns:ArrayOfPersonalLastDevice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalLastDeviceResponse" nillable="true" type="tns:PersonalLastDeviceResponse" />
  <xs:complexType name="ArrayOfPersonalLastDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalLastDevice" nillable="true" type="tns:PersonalLastDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalLastDevice" nillable="true" type="tns:ArrayOfPersonalLastDevice" />
  <xs:complexType name="PersonalLastDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dLastWatchedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nID" type="xs:int" />
      <xs:element minOccurs="0" name="m_sLastWatchedDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_sSiteUserGuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalLastDevice" nillable="true" type="tns:PersonalLastDevice" />
  <xs:complexType name="ChannelResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="m_nMedias" nillable="true" type="tns:ArrayOfMediaRes" />
          <xs:element minOccurs="0" name="m_sDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sEnableRssFeed" type="xs:int" />
          <xs:element minOccurs="0" name="m_sImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_sName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelResponse" nillable="true" type="tns:ChannelResponse" />
  <xs:complexType name="ArrayOfMediaRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaRes" nillable="true" type="tns:MediaRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaRes" nillable="true" type="tns:ArrayOfMediaRes" />
  <xs:complexType name="MediaRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_nMediaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaRes" nillable="true" type="tns:MediaRes" />
  <xs:complexType name="MediaIdsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_nMediaIds" nillable="true" type="tns:ArrayOfMediaRes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaIdsResponse" nillable="true" type="tns:MediaIdsResponse" />
  <xs:complexType name="MediaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaResponse" nillable="true" type="tns:MediaResponse" />
  <xs:complexType name="EpgProgramDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_lProgramsIds" nillable="true" type="q9:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramDetailsRequest" nillable="true" type="tns:EpgProgramDetailsRequest" />
  <xs:complexType name="EpgProgramResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EpgProgramResponse" nillable="true" type="tns:EpgProgramResponse" />
</xs:schema>