Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiObjects.MediaMarks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiObjects.MediaMarks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserWatchHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserWatchHistory" nillable="true" type="tns:UserWatchHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserWatchHistory" nillable="true" type="tns:ArrayOfUserWatchHistory" />
  <xs:complexType name="UserWatchHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetId" type="xs:int" />
      <xs:element minOccurs="0" name="AssetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AssetUpdatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="LastWatch" type="xs:long" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWatchHistory" nillable="true" type="tns:UserWatchHistory" />
</xs:schema>