SetupTaskHandler/Service References/ws_notifications/NotificationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NotificationInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotificationInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Notifications_V4_0/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationObj" />
  <xs:complexType name="UserSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="is_active" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotificationObj" minOccurs="0" name="sendVia" nillable="true" type="q1:SendVia" />
      <xs:element minOccurs="0" name="siteGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSettings" nillable="true" type="tns:UserSettings" />
</xs:schema>