Logic/Service References/PaymentGWAdapter/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/PGAdapter/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/PGAdapter/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/PGAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapter.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Transact_InputMessage">
    <wsdl:part name="parameters" element="tns:Transact" />
  </wsdl:message>
  <wsdl:message name="IService_Transact_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VerifyPendingTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPendingTransaction" />
  </wsdl:message>
  <wsdl:message name="IService_VerifyPendingTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPendingTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VerifyTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyTransaction" />
  </wsdl:message>
  <wsdl:message name="IService_VerifyTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetConfiguration" message="tns:IService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetConfigurationResponse" message="tns:IService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Transact" message="tns:IService_Transact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TransactResponse" message="tns:IService_Transact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPendingTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VerifyPendingTransaction" message="tns:IService_VerifyPendingTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VerifyPendingTransactionResponse" message="tns:IService_VerifyPendingTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VerifyTransaction" message="tns:IService_VerifyTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VerifyTransactionResponse" message="tns:IService_VerifyTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transact">
      <soap:operation soapAction="http://tempuri.org/IService/Transact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPendingTransaction">
      <soap:operation soapAction="http://tempuri.org/IService/VerifyPendingTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyTransaction">
      <soap:operation soapAction="http://tempuri.org/IService/VerifyTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/PGAdapter/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>