AdapterControllers/Service References/cdvrAdap/Service42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://52.31.200.113:90/CdvrAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:import schemaLocation="http://52.31.200.113:90/CdvrAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" />
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="settings" nillable="true" type="q1:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="SetConfigurationResult" nillable="true" type="q2:AdapterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Record">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTimeSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="durationSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="RecordResult" nillable="true" type="q3:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="GetRecordingStatusResult" nillable="true" type="q4:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordingSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="startDateSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="durationSeconds" type="xs:long" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordingScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="UpdateRecordingScheduleResult" nillable="true" type="q5:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRecordingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="CancelRecordingResult" nillable="true" type="q6:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="DeleteRecordingResult" nillable="true" type="q7:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adapterId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" minOccurs="0" name="GetRecordingLinksResult" nillable="true" type="q8:RecordingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>