AdapterControllers/Service References/cdvrAdap/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
      <xsd:import schemaLocation="http://localhost/CDVRAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CDVRAdapter.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Record_InputMessage">
    <wsdl:part name="parameters" element="tns:Record" />
  </wsdl:message>
  <wsdl:message name="IService_Record_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecordingStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordingStatus" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecordingStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRecordingSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingSchedule" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRecordingSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CancelRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelRecording" />
  </wsdl:message>
  <wsdl:message name="IService_CancelRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecording" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecordingLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordingLinks" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecordingLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordingLinksResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetConfiguration" message="tns:IService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetConfigurationResponse" message="tns:IService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Record">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Record" message="tns:IService_Record_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RecordResponse" message="tns:IService_Record_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordingStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRecordingStatus" message="tns:IService_GetRecordingStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRecordingStatusResponse" message="tns:IService_GetRecordingStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateRecordingSchedule" message="tns:IService_UpdateRecordingSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateRecordingScheduleResponse" message="tns:IService_UpdateRecordingSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CancelRecording" message="tns:IService_CancelRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CancelRecordingResponse" message="tns:IService_CancelRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteRecording" message="tns:IService_DeleteRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteRecordingResponse" message="tns:IService_DeleteRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordingLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRecordingLinks" message="tns:IService_GetRecordingLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRecordingLinksResponse" message="tns:IService_GetRecordingLinks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Record">
      <soap:operation soapAction="http://tempuri.org/IService/Record" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordingStatus">
      <soap:operation soapAction="http://tempuri.org/IService/GetRecordingStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingSchedule">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateRecordingSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRecording">
      <soap:operation soapAction="http://tempuri.org/IService/CancelRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecording">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordingLinks">
      <soap:operation soapAction="http://tempuri.org/IService/GetRecordingLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/CDVRAdapter/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>