Logger/Web References/il.co.smscenter.www/SendMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.smscenter.co.il/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.smscenter.co.il/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.smscenter.co.il/">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryReportMask" type="tns:DeliveryReportMask" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SMSOperation">
        <s:restriction base="s:string">
          <s:enumeration value="Push" />
          <s:enumeration value="Pull" />
          <s:enumeration value="ReverseBilling" />
          <s:enumeration value="WAPPush" />
          <s:enumeration value="BinaryDCS_F7" />
          <s:enumeration value="WapQuestion_OC" />
          <s:enumeration value="WapMessage_OC" />
          <s:enumeration value="IVR" />
          <s:enumeration value="MMS" />
          <s:enumeration value="Flash" />
          <s:enumeration value="IVRConference" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DeliveryReportMask">
        <s:restriction base="s:string">
          <s:enumeration value="MessageSentToSMSC" />
          <s:enumeration value="DeliveryFailedToSMSC" />
          <s:enumeration value="MessageExpired" />
          <s:enumeration value="MessageDeliveredToMobileDevice" />
          <s:enumeration value="MessageBufferedAtSMSC" />
          <s:enumeration value="DeliveryFailedBySMSC" />
          <s:enumeration value="GeneralErrorInMessage" />
          <s:enumeration value="GeneralErrorInCompanySettings" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="tns:SendMessageReturnValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SendMessageReturnValues">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="InvalidUserNameOrPassword" />
          <s:enumeration value="CompanyNotAllowedToSendToSpecifiedProvider" />
          <s:enumeration value="SomeMessagesSent" />
          <s:enumeration value="NoMessagesSent" />
          <s:enumeration value="InternalError" />
          <s:enumeration value="InvalidPhoneNumber" />
          <s:enumeration value="ThePhoneNumberListMustContainAtLeastOneNumber" />
          <s:enumeration value="ThePhoneNumberListAndTheCCListMustHaveTheSameNumberOfItems" />
          <s:enumeration value="CompanyIsDisabled" />
          <s:enumeration value="UserIsDisabledOrDeleted" />
          <s:enumeration value="CompanyIsNotAllowedToPushAnymoreMessages" />
          <s:enumeration value="InvalidIPAddress" />
          <s:enumeration value="CompanyIsNotAllowedToSendReverseBillingMessages" />
          <s:enumeration value="PriceForReverseBillingCantBeZero" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMessageWithPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryReportMask" type="tns:DeliveryReportMask" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageWithPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageWithPriceResult" type="tns:SendMessageReturnValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumbers" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmails" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryReportMask" type="tns:DeliveryReportMask" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessagesResult" type="tns:SendMessageReturnValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessagesWithPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumbers" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmails" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryReportMask" type="tns:DeliveryReportMask" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessagesWithPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessagesWithPriceResult" type="tns:SendMessageReturnValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessagesV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumbers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="MessageOption" type="tns:MessageOptions" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MessageOptions">
        <s:restriction base="s:string">
          <s:enumeration value="Regular" />
          <s:enumeration value="Concatenated" />
          <s:enumeration value="Reply" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMessagesV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessagesV2Result" type="tns:SendMessageReturnValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessagesV2ResponseID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendToPhoneNumbers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMSOperation" type="tns:SMSOperation" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="MessageOption" type="tns:MessageOptions" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendMessageV2ReturenMessageID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Response" type="tns:SendMessageReturnValues" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessagesV2ResponseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessagesV2ResponseIDResult" type="tns:SendMessageV2ReturenMessageID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageReturnValues" type="tns:SendMessageReturnValues" />
      <s:element name="SendMessageV2ReturenMessageID" nillable="true" type="tns:SendMessageV2ReturenMessageID" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageWithPrice" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageWithPriceResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessages" />
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessagesWithPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessagesWithPrice" />
  </wsdl:message>
  <wsdl:message name="SendMessagesWithPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesWithPriceResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2SoapIn">
    <wsdl:part name="parameters" element="tns:SendMessagesV2" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2SoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesV2Response" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessagesV2ResponseID" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesV2ResponseIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryReportURL" type="s:string" />
    <wsdl:part name="DeliveryReportMask" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryReportURL" type="s:string" />
    <wsdl:part name="DeliveryReportMask" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceHttpGetOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2HttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumbers" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="MessageOption" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2HttpGetOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumbers" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="MessageOption" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDHttpGetOut">
    <wsdl:part name="Body" element="tns:SendMessageV2ReturenMessageID" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryReportURL" type="s:string" />
    <wsdl:part name="DeliveryReportMask" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryReportURL" type="s:string" />
    <wsdl:part name="DeliveryReportMask" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithPriceHttpPostOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2HttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumbers" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="MessageOption" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2HttpPostOut">
    <wsdl:part name="Body" element="tns:SendMessageReturnValues" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="SendToPhoneNumbers" type="s:string" />
    <wsdl:part name="CCToEmail" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SMSOperation" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="MessageOption" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessagesV2ResponseIDHttpPostOut">
    <wsdl:part name="Body" element="tns:SendMessageV2ReturenMessageID" />
  </wsdl:message>
  <wsdl:portType name="SendSMSSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <wsdl:input message="tns:SendMessageWithPriceSoapIn" />
      <wsdl:output message="tns:SendMessageWithPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <wsdl:input message="tns:SendMessagesSoapIn" />
      <wsdl:output message="tns:SendMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesWithPrice">
      <wsdl:input message="tns:SendMessagesWithPriceSoapIn" />
      <wsdl:output message="tns:SendMessagesWithPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <wsdl:input message="tns:SendMessagesV2SoapIn" />
      <wsdl:output message="tns:SendMessagesV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <wsdl:input message="tns:SendMessagesV2ResponseIDSoapIn" />
      <wsdl:output message="tns:SendMessagesV2ResponseIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSMSHttpGet">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpGetIn" />
      <wsdl:output message="tns:SendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <wsdl:input message="tns:SendMessageWithPriceHttpGetIn" />
      <wsdl:output message="tns:SendMessageWithPriceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <wsdl:input message="tns:SendMessagesV2HttpGetIn" />
      <wsdl:output message="tns:SendMessagesV2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <wsdl:input message="tns:SendMessagesV2ResponseIDHttpGetIn" />
      <wsdl:output message="tns:SendMessagesV2ResponseIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSMSHttpPost">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpPostIn" />
      <wsdl:output message="tns:SendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <wsdl:input message="tns:SendMessageWithPriceHttpPostIn" />
      <wsdl:output message="tns:SendMessageWithPriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <wsdl:input message="tns:SendMessagesV2HttpPostIn" />
      <wsdl:output message="tns:SendMessagesV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <wsdl:input message="tns:SendMessagesV2ResponseIDHttpPostIn" />
      <wsdl:output message="tns:SendMessagesV2ResponseIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSSoap" type="tns:SendSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessageWithPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesWithPrice">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessagesWithPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessagesV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <soap:operation soapAction="http://www.smscenter.co.il/SendMessagesV2ResponseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSSoap12" type="tns:SendSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessageWithPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesWithPrice">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessagesWithPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessagesV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <soap12:operation soapAction="http://www.smscenter.co.il/SendMessagesV2ResponseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSHttpGet" type="tns:SendSMSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <http:operation location="/SendMessageWithPrice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <http:operation location="/SendMessagesV2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <http:operation location="/SendMessagesV2ResponseID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSHttpPost" type="tns:SendSMSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithPrice">
      <http:operation location="/SendMessageWithPrice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2">
      <http:operation location="/SendMessagesV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesV2ResponseID">
      <http:operation location="/SendMessagesV2ResponseID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS">
    <wsdl:port name="SendSMSSoap" binding="tns:SendSMSSoap">
      <soap:address location="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSSoap12" binding="tns:SendSMSSoap12">
      <soap12:address location="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSHttpGet" binding="tns:SendSMSHttpGet">
      <http:address location="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSHttpPost" binding="tns:SendSMSHttpPost">
      <http:address location="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>