AdapterControllers/Service References/RecommendationEngineAdapter/Service413.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/REAdapter.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/REAdapter.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RecommendationEngineAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:import schemaLocation="http://localhost/RecommendationEngineAdapter/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RecommendationsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfSearchResult" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q1:AdapterStatus" />
      <xs:element minOccurs="0" name="TotalResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecommendationsResult" nillable="true" type="tns:RecommendationsResult" />
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetType" type="tns:eAssetTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:simpleType name="eAssetTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EPG">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NPVR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MEDIA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eAssetTypes" nillable="true" type="tns:eAssetTypes" />
</xs:schema>