AdapterControllers/Service References/RecommendationEngineAdapter/Service414.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/REAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:import schemaLocation="http://localhost/REAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REAdapter.Models" />
  <xs:import schemaLocation="http://localhost/REAdapter/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recommendationEngineId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="settings" nillable="true" type="q1:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="SetConfigurationResult" nillable="true" type="q2:AdapterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelRecommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recommendationEngineId" type="xs:int" />
        <xs:element minOccurs="0" name="externalChannelId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="enrichments" nillable="true" type="q3:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="freeParam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/REAdapter.Models" minOccurs="0" name="GetChannelRecommendationsResult" nillable="true" type="q4:RecommendationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedRecommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recommendationEngineId" type="xs:int" />
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element minOccurs="0" name="mediaTypeId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="enrichments" nillable="true" type="q5:ArrayOfKeyValue" />
        <xs:element minOccurs="0" name="freeParam" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterTypeIds" nillable="true" type="q6:ArrayOfint" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/REAdapter.Models" minOccurs="0" name="GetRelatedRecommendationsResult" nillable="true" type="q7:RecommendationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchRecommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recommendationEngineId" type="xs:int" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="enrichments" nillable="true" type="q8:ArrayOfKeyValue" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterTypeIds" nillable="true" type="q9:ArrayOfint" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/REAdapter.Models" minOccurs="0" name="GetSearchRecommendationsResult" nillable="true" type="q10:RecommendationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recommendationEngineId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/REAdapter.Models" minOccurs="0" name="searchResults" nillable="true" type="q11:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareFilteredResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>