Libs/TVPApiTests/Web References/ConditionalAccessService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://ca.tvinci.com/" xmlns:s2="http://pricing.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://ca.tvinci.com/" />
      <s:element name="IsPermittedItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="IsPermittedItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPermittedItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateCampaignWithInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="campID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="hashCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaLink" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s1:CampaignActionResult" />
            <s:element minOccurs="0" maxOccurs="1" name="voucherReceipents" type="tns:ArrayOfVoucherReceipentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVoucherReceipentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VoucherReceipentInfo" nillable="true" type="s1:VoucherReceipentInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateCampaignWithInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateCampaignWithInfoResult" type="s1:CampaignActionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AD_GetCustomDataID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="assetId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ppvModuleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCd2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languageCode3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="assetType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AD_GetCustomDataIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AD_GetCustomDataIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomDataID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="assetId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ppvModuleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCd2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languageCode3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="assetType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="overrideEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomDataIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustomDataIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateCampaign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hashCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mediaLink" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s1:CampaignActionResult" />
            <s:element minOccurs="0" maxOccurs="1" name="voucherReceipents" type="tns:ArrayOfVoucherReceipentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateCampaignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateCampaignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsPricesWithCoupons">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nMediaFiles" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCouponCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bOnlyLowest" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sCountryCd2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLanguageCode3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetItemsPricesWithCouponsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsPricesWithCouponsResult" type="tns:ArrayOfMediaFileItemPricesContainer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMediaFileItemPricesContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MediaFileItemPricesContainer" nillable="true" type="s1:MediaFileItemPricesContainer" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubscriptionsPricesWithCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubscriptions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCouponCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCountryCd2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLanguageCode3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubscriptionsPricesWithCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriptionsPricesWithCouponResult" type="tns:ArrayOfSubscriptionsPricesContainer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubscriptionsPricesContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionsPricesContainer" nillable="true" type="s1:SubscriptionsPricesContainer" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsPermittedSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPermittedSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPermittedSubscriptionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoogleSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoogleSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoogleSignatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InApp_ChargeUserForMediaFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ppvModuleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receipt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InApp_ChargeUserForMediaFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InApp_ChargeUserForMediaFileResult" type="s1:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_ChargeUserForPrePaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ppvModuleCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_ChargeUserForPrePaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_ChargeUserForPrePaidResult" type="s1:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ca.tvinci.com/">
      <s:import namespace="http://pricing.tvinci.com/" />
      <s:simpleType name="CampaignActionResult">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="ERROR" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="VoucherReceipentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_emailAdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_receipentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CampaignActionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_voucherReceipents" type="s1:ArrayOfVoucherReceipentInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="m_socialInviteInfo" type="s1:SocialInviteInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="m_mediaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_siteGuid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_mediaLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_senderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_senderEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_status" type="s1:CampaignActionResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVoucherReceipentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VoucherReceipentInfo" type="s1:VoucherReceipentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SocialInviteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_hashCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MediaFileItemPricesContainer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nMediaFileID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oItemPrices" type="s1:ArrayOfItemPriceContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sProductCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemPriceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemPriceContainer" nillable="true" type="s1:ItemPriceContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemPriceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sPPVModuleCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_bSubscriptionOnly" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oPrice" type="s2:Price" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oFullPrice" type="s2:Price" />
          <s:element minOccurs="1" maxOccurs="1" name="m_PriceReason" type="s1:PriceReason" />
          <s:element minOccurs="0" maxOccurs="1" name="m_relevantSub" type="s2:Subscription" />
          <s:element minOccurs="0" maxOccurs="1" name="m_relevantPP" type="s2:PrePaidModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oPPVDescription" type="s1:ArrayOfLanguageContainer" />
          <s:element minOccurs="1" maxOccurs="1" name="m_couponStatus" type="s2:CouponsStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PriceReason">
        <s:restriction base="s:string">
          <s:enumeration value="PPVPurchased" />
          <s:enumeration value="Free" />
          <s:enumeration value="ForPurchaseSubscriptionOnly" />
          <s:enumeration value="SubscriptionPurchased" />
          <s:enumeration value="ForPurchase" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="SubscriptionPurchasedWrongCurrency" />
          <s:enumeration value="PrePaidPurchased" />
          <s:enumeration value="GeoCommerceBlocked" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLanguageContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LanguageContainer" nillable="true" type="s2:LanguageContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriptionsPricesContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sSubscriptionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oPrice" type="s2:Price" />
          <s:element minOccurs="1" maxOccurs="1" name="m_PriceReason" type="s1:PriceReason" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_oStatus" type="s1:BillingResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sRecieptCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sStatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sExternalReceiptCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BillingResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Fail" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="PriceNotCorrect" />
          <s:enumeration value="UnKnownUser" />
          <s:enumeration value="UnKnownPPVModule" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pricing.tvinci.com/">
      <s:complexType name="Price">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_dPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCurrency" type="s2:Currency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Currency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencyCD3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencyCD2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencySign" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nCurrencyID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subscription">
        <s:complexContent mixed="false">
          <s:extension base="s2:PPVModule">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="m_sCodes" type="s2:ArrayOfSubscriptionCodeContainer" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sFileTypes" type="s2:ArrayOfInt" />
              <s:element minOccurs="1" maxOccurs="1" name="m_bIsRecurring" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nNumberOfRecPeriods" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oSubscriptionPriceCode" type="s2:PriceCode" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oExtDisountModule" type="s2:DiscountModule" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s2:ArrayOfLanguageContainer" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oSubscriptionUsageModule" type="s2:UsageModule" />
              <s:element minOccurs="1" maxOccurs="1" name="m_fictivicMediaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_Priority" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ProductCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_SubscriptionCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_MultiSubscriptionUsageModule" type="s2:ArrayOfUsageModule" />
              <s:element minOccurs="1" maxOccurs="1" name="n_GeoCommerceID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PPVModule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oPriceCode" type="s2:PriceCode" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oUsageModule" type="s2:UsageModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oDiscountModule" type="s2:DiscountModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCouponsGroup" type="s2:CouponsGroup" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s2:ArrayOfLanguageContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sObjectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sObjectVirtualName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_bSubscriptionOnly" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="m_relatedFileTypes" type="s2:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oPrise" type="s2:Price" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s2:ArrayOfLanguageContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLanguageContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LanguageContainer" nillable="true" type="s2:LanguageContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LanguageContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sLanguageCode3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiscountModule">
        <s:complexContent mixed="false">
          <s:extension base="s2:PriceCode">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_dPercent" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eTheRelationType" type="s2:RelationTypes" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oWhenAlgo" type="s2:WhenAlgo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RelationTypes">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="WhenAlgo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_eAlgoType" type="s2:WhenAlgoType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nNTimes" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WhenAlgoType">
        <s:restriction base="s:string">
          <s:enumeration value="N_FIRST_TIMES" />
          <s:enumeration value="EVERY_N_TIMES" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UsageModule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sVirtualName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nMaxNumberOfViews" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_tsViewLifeCycle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_tsMaxUsageModuleLifeCycle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ext_discount_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_internal_discount_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_pricing_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_coupon_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_subscription_only" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_is_renew" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_num_of_rec_periods" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_device_limit_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CouponsGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oDiscountCode" type="s2:DiscountModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDiscountCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s2:ArrayOfLanguageContainer" />
          <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nMaxUseCountForCoupon" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sGroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sGroupName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nFinancialEntityID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSubscriptionCodeContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionCodeContainer" nillable="true" type="s2:SubscriptionCodeContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriptionCodeContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsageModule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsageModule" nillable="true" type="s2:UsageModule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrePaidModule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_PriceCode" type="s2:PriceCode" />
          <s:element minOccurs="0" maxOccurs="1" name="m_CreditValue" type="s2:PriceCode" />
          <s:element minOccurs="0" maxOccurs="1" name="m_UsageModule" type="s2:UsageModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_DiscountModule" type="s2:DiscountModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_CouponsGroup" type="s2:CouponsGroup" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Description" type="s2:ArrayOfLanguageContainer" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ObjectCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_isFixedCredit" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CouponsStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Valid" />
          <s:enumeration value="NotExists" />
          <s:enumeration value="AllreadyUsed" />
          <s:enumeration value="IrrelevantCode" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsPermittedItemSoapIn">
    <wsdl:part name="parameters" element="tns:IsPermittedItem" />
  </wsdl:message>
  <wsdl:message name="IsPermittedItemSoapOut">
    <wsdl:part name="parameters" element="tns:IsPermittedItemResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateCampaignWithInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateCampaignWithInfo" />
  </wsdl:message>
  <wsdl:message name="ActivateCampaignWithInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateCampaignWithInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AD_GetCustomDataIDSoapIn">
    <wsdl:part name="parameters" element="tns:AD_GetCustomDataID" />
  </wsdl:message>
  <wsdl:message name="AD_GetCustomDataIDSoapOut">
    <wsdl:part name="parameters" element="tns:AD_GetCustomDataIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomDataIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomDataID" />
  </wsdl:message>
  <wsdl:message name="GetCustomDataIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomDataIDResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateCampaignSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateCampaign" />
  </wsdl:message>
  <wsdl:message name="ActivateCampaignSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsPricesWithCouponsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemsPricesWithCoupons" />
  </wsdl:message>
  <wsdl:message name="GetItemsPricesWithCouponsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsPricesWithCouponsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionsPricesWithCouponSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsPricesWithCoupon" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionsPricesWithCouponSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsPricesWithCouponResponse" />
  </wsdl:message>
  <wsdl:message name="IsPermittedSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:IsPermittedSubscription" />
  </wsdl:message>
  <wsdl:message name="IsPermittedSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:IsPermittedSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoogleSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoogleSignature" />
  </wsdl:message>
  <wsdl:message name="GetGoogleSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoogleSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserForMediaFileSoapIn">
    <wsdl:part name="parameters" element="tns:InApp_ChargeUserForMediaFile" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserForMediaFileSoapOut">
    <wsdl:part name="parameters" element="tns:InApp_ChargeUserForMediaFileResponse" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserForPrePaidSoapIn">
    <wsdl:part name="parameters" element="tns:CC_ChargeUserForPrePaid" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserForPrePaidSoapOut">
    <wsdl:part name="parameters" element="tns:CC_ChargeUserForPrePaidResponse" />
  </wsdl:message>
  <wsdl:portType name="ConditionalAccessServiceSoap">
    <wsdl:operation name="IsPermittedItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is permitted item</wsdl:documentation>
      <wsdl:input message="tns:IsPermittedItemSoapIn" />
      <wsdl:output message="tns:IsPermittedItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaignWithInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activate Campaign with information</wsdl:documentation>
      <wsdl:input message="tns:ActivateCampaignWithInfoSoapIn" />
      <wsdl:output message="tns:ActivateCampaignWithInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AD_GetCustomDataID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get customer data</wsdl:documentation>
      <wsdl:input message="tns:AD_GetCustomDataIDSoapIn" />
      <wsdl:output message="tns:AD_GetCustomDataIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomDataID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get customer data</wsdl:documentation>
      <wsdl:input message="tns:GetCustomDataIDSoapIn" />
      <wsdl:output message="tns:GetCustomDataIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activate Campaign</wsdl:documentation>
      <wsdl:input message="tns:ActivateCampaignSoapIn" />
      <wsdl:output message="tns:ActivateCampaignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsPricesWithCoupons">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get items prices with coupon</wsdl:documentation>
      <wsdl:input message="tns:GetItemsPricesWithCouponsSoapIn" />
      <wsdl:output message="tns:GetItemsPricesWithCouponsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsPricesWithCoupon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get subscriptions prices with coupon</wsdl:documentation>
      <wsdl:input message="tns:GetSubscriptionsPricesWithCouponSoapIn" />
      <wsdl:output message="tns:GetSubscriptionsPricesWithCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPermittedSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is permitted subscription</wsdl:documentation>
      <wsdl:input message="tns:IsPermittedSubscriptionSoapIn" />
      <wsdl:output message="tns:IsPermittedSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoogleSignature">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Google signature</wsdl:documentation>
      <wsdl:input message="tns:GetGoogleSignatureSoapIn" />
      <wsdl:output message="tns:GetGoogleSignatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUserForMediaFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get customer data</wsdl:documentation>
      <wsdl:input message="tns:InApp_ChargeUserForMediaFileSoapIn" />
      <wsdl:output message="tns:InApp_ChargeUserForMediaFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUserForPrePaid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Charges users for PP</wsdl:documentation>
      <wsdl:input message="tns:CC_ChargeUserForPrePaidSoapIn" />
      <wsdl:output message="tns:CC_ChargeUserForPrePaidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConditionalAccessServiceHttpGet" />
  <wsdl:portType name="ConditionalAccessServiceHttpPost" />
  <wsdl:binding name="ConditionalAccessServiceSoap" type="tns:ConditionalAccessServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPermittedItem">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/IsPermittedItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaignWithInfo">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateCampaignWithInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AD_GetCustomDataID">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AD_GetCustomDataID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomDataID">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCustomDataID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaign">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateCampaign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsPricesWithCoupons">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetItemsPricesWithCoupons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsPricesWithCoupon">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionsPricesWithCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPermittedSubscription">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/IsPermittedSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleSignature">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetGoogleSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUserForMediaFile">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/InApp_ChargeUserForMediaFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUserForPrePaid">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/CC_ChargeUserForPrePaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConditionalAccessServiceSoap12" type="tns:ConditionalAccessServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPermittedItem">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/IsPermittedItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaignWithInfo">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateCampaignWithInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AD_GetCustomDataID">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AD_GetCustomDataID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomDataID">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCustomDataID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCampaign">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ActivateCampaign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsPricesWithCoupons">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetItemsPricesWithCoupons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsPricesWithCoupon">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionsPricesWithCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPermittedSubscription">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/IsPermittedSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleSignature">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetGoogleSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUserForMediaFile">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/InApp_ChargeUserForMediaFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUserForPrePaid">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/CC_ChargeUserForPrePaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConditionalAccessServiceHttpGet" type="tns:ConditionalAccessServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="ConditionalAccessServiceHttpPost" type="tns:ConditionalAccessServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="ConditionalAccessService">
    <wsdl:port name="ConditionalAccessServiceSoap" binding="tns:ConditionalAccessServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/cas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ConditionalAccessServiceSoap12" binding="tns:ConditionalAccessServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/cas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ConditionalAccessServiceHttpGet" binding="tns:ConditionalAccessServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/cas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ConditionalAccessServiceHttpPost" binding="tns:ConditionalAccessServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/cas/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>