TVPApiTests/Web References/NotificationService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetDeviceNotifications">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationType" type="tns:NotificationMessageType" />
            <s:element minOccurs="1" maxOccurs="1" name="viewStatus" type="tns:NotificationMessageViewStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="messageCount" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="NotificationMessageType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Push" />
          <s:enumeration value="Alert" />
          <s:enumeration value="Live" />
          <s:enumeration value="Pull" />
          <s:enumeration value="Email" />
          <s:enumeration value="SMS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="NotificationMessageViewStatus">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Unread" />
          <s:enumeration value="Read" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDeviceNotificationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceNotificationsResult" type="tns:ArrayOfNotification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notification">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationRequestID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationMessageID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:NotificationMessageStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:NotificationMessageType" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PublishDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="UdID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:ArrayOfNotificationRequestAction" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewStatus" type="tns:NotificationMessageViewStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="TagNotificationParams" type="tns:ExtraParameters" />
          <s:element minOccurs="1" maxOccurs="1" name="nGroupID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="NotificationMessageStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotStarted" />
          <s:enumeration value="InProgress" />
          <s:enumeration value="Successful" />
          <s:enumeration value="Failed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfNotificationRequestAction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NotificationRequestAction" nillable="true" type="tns:NotificationRequestAction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotificationRequestAction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="IDk__BackingField" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Linkk__BackingField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Textk__BackingField" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ExtraParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TagDict" type="tns:ArrayOfTagMetaIntPairArray" />
          <s:element minOccurs="1" maxOccurs="1" name="mediaID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mediaPicURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="templateEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTagMetaIntPairArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TagMetaIntPairArray" type="tns:TagMetaIntPairArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TagMetaIntPairArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetNotificationMessageViewStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationRequestID" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="notificationMessageID" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="viewStatus" type="tns:NotificationMessageViewStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetNotificationMessageViewStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetNotificationMessageViewStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeByTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="tns:ArrayOfTagMetaPairArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTagMetaPairArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TagMetaPairArray" type="tns:TagMetaPairArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TagMetaPairArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubscribeByTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscribeByTagResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnsubscribeFollowUpByTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="tns:ArrayOfTagMetaPairArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnsubscribeFollowUpByTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnsubscribeFollowUpByTagResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatusSubscriptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatusSubscriptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserStatusSubscriptionsResult" type="tns:ArrayOfTagMetaPairArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDeviceNotificationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceNotifications" />
  </wsdl:message>
  <wsdl:message name="GetDeviceNotificationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="SetNotificationMessageViewStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatus" />
  </wsdl:message>
  <wsdl:message name="SetNotificationMessageViewStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetNotificationMessageViewStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeByTagSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeByTag" />
  </wsdl:message>
  <wsdl:message name="SubscribeByTagSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeByTagResponse" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeFollowUpByTagSoapIn">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTag" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeFollowUpByTagSoapOut">
    <wsdl:part name="parameters" element="tns:UnsubscribeFollowUpByTagResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserStatusSubscriptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptions" />
  </wsdl:message>
  <wsdl:message name="GetUserStatusSubscriptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserStatusSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationServiceSoap">
    <wsdl:operation name="GetDeviceNotifications">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets device notifications</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceNotificationsSoapIn" />
      <wsdl:output message="tns:GetDeviceNotificationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sets notification message view status</wsdl:documentation>
      <wsdl:input message="tns:SetNotificationMessageViewStatusSoapIn" />
      <wsdl:output message="tns:SetNotificationMessageViewStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Followup by tag</wsdl:documentation>
      <wsdl:input message="tns:SubscribeByTagSoapIn" />
      <wsdl:output message="tns:SubscribeByTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unsubscribe Followup by tag</wsdl:documentation>
      <wsdl:input message="tns:UnsubscribeFollowUpByTagSoapIn" />
      <wsdl:output message="tns:UnsubscribeFollowUpByTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the user status subscription</wsdl:documentation>
      <wsdl:input message="tns:GetUserStatusSubscriptionsSoapIn" />
      <wsdl:output message="tns:GetUserStatusSubscriptionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotificationServiceHttpGet" />
  <wsdl:portType name="NotificationServiceHttpPost" />
  <wsdl:binding name="NotificationServiceSoap" type="tns:NotificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeviceNotifications">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDeviceNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetNotificationMessageViewStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SubscribeByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/UnsubscribeFollowUpByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserStatusSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationServiceSoap12" type="tns:NotificationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeviceNotifications">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDeviceNotifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotificationMessageViewStatus">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetNotificationMessageViewStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeByTag">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SubscribeByTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFollowUpByTag">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/UnsubscribeFollowUpByTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatusSubscriptions">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetUserStatusSubscriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationServiceHttpGet" type="tns:NotificationServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="NotificationServiceHttpPost" type="tns:NotificationServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="NotificationServiceSoap" binding="tns:NotificationServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/notification/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationServiceSoap12" binding="tns:NotificationServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/notification/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationServiceHttpGet" binding="tns:NotificationServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/notification/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationServiceHttpPost" binding="tns:NotificationServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/notification/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>