ApiObjects/Epg/xmltv.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2016 rel. 2 (x64) (http://www.altova.com) by liat regev (kaltura) -->
<xs:schema xmlns="http://tempuri.org/xmltv" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/xmltv" elementFormDefault="qualified">
	<xs:element name="EpgChannels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="channel" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="programme" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="date" type="xs:string"/>
			<xs:attribute name="source-info-url" type="xs:string"/>
			<xs:attribute name="source-info-name" type="xs:string"/>
			<xs:attribute name="source-data-url" type="xs:string"/>
			<xs:attribute name="generator-info-name" type="xs:string"/>
			<xs:attribute name="generator-info-url" type="xs:string"/>
			<xs:attribute name="parent-group-id" type="xs:int" use="required"/>
			<xs:attribute name="group-id" type="xs:int" use="required"/>
			<xs:attribute name="main-lang" type="xs:string" use="required"/>
			<xs:attribute name="updater-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="display-name" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="icon" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="display-name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="url" type="xs:string"/>
	<xs:element name="programme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="sub-title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="desc" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="credits" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="date" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="language" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="orig-language" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="length" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="icon" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="country" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="episode-num" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="video" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="audio" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="previously-shown" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="premiere" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="last-chance" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="new" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="subtitles" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="rating" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="star-rating" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="review" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="metas" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tags" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="enable-catch-up" type="xs:string" minOccurs="0"/>
				<xs:element name="enable-cdvr" type="xs:string" minOccurs="0"/>
				<xs:element name="enable-start-over" type="xs:string" minOccurs="0"/>
				<xs:element name="enable-trick-play" type="xs:string" minOccurs="0"/>
				<xs:element name="crid" type="xs:string" minOccurs="1"/>
				<xs:element name="series-id" type="xs:string" minOccurs="0"/>
				<xs:element name="season-number" type="xs:int" minOccurs="0"/>
				<xs:element name="episode-number" type="xs:int" minOccurs="0"/>

			</xs:sequence>
			<xs:attribute name="start" type="xs:string" use="required"/>
			<xs:attribute name="stop" type="xs:string"/>
			<xs:attribute name="pdc-start" type="xs:string"/>
			<xs:attribute name="vps-start" type="xs:string"/>
			<xs:attribute name="showview" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="action" type="xs:string"/>
			<xs:attribute name="videoplus" type="xs:string"/>
			<xs:attribute name="channel" type="xs:string" use="required"/>
			<xs:attribute name="external_id" type="xs:string" use="required"/>
			<xs:attribute name="clumpidx" type="xs:string" default="0/1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MetaType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="MetaValues" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MetaType" type="xs:string"/>
	<xs:element name="MetaValues">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tags">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TagType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TagValues" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TagType" type="xs:string"/>
	<xs:element name="TagValues">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub-title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="credits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="director" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="actor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="writer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="adapter" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="producer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="composer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="editor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="presenter" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="commentator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="guest" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="director" type="xs:string"/>
	<xs:element name="actor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="role" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="writer" type="xs:string"/>
	<xs:element name="adapter" type="xs:string"/>
	<xs:element name="producer" type="xs:string"/>
	<xs:element name="composer" type="xs:string"/>
	<xs:element name="editor" type="xs:string"/>
	<xs:element name="presenter" type="xs:string"/>
	<xs:element name="commentator" type="xs:string"/>
	<xs:element name="guest" type="xs:string"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="category">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="orig-language">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="length">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="units" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="seconds"/>
								<xs:enumeration value="minutes"/>
								<xs:enumeration value="hours"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="icon">
		<xs:complexType>
			<xs:attribute name="ratio" type="xs:string"/>
			<xs:attribute name="src" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:int"/>
			<xs:attribute name="height" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="country">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="episode-num">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="system" type="xs:string" default="onscreen"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="video">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="present" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="colour" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="aspect" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="quality" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="present" type="xs:string"/>
	<xs:element name="colour" type="xs:string"/>
	<xs:element name="aspect" type="xs:string"/>
	<xs:element name="quality" type="xs:string"/>
	<xs:element name="audio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="present" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="stereo" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stereo" type="xs:string"/>
	<xs:element name="previously-shown">
		<xs:complexType>
			<xs:attribute name="start" type="xs:string"/>
			<xs:attribute name="channel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="premiere">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="last-chance">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="new">
		<xs:complexType/>
	</xs:element>
	<xs:element name="subtitles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="teletext"/>
						<xs:enumeration value="onscreen"/>
						<xs:enumeration value="deaf-signed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="rating">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="icon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="system" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="star-rating">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="icon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="system" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="review">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="text"/>
								<xs:enumeration value="url"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="source" type="xs:string"/>
					<xs:attribute name="reviewer" type="xs:string"/>
					<xs:attribute name="lang" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
