ApiObjects/Epg/xmltv.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2016 rel. 2 (x64) (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % n1_prefix "n1">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % n1_prefix.. "%n1_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%n1_prefix; CDATA #FIXED 'http://tempuri.org/xmltv'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % n1..EpgChannels "%n1_prefix..;EpgChannels">
<!ENTITY % n1..channel "%n1_prefix..;channel">
<!ENTITY % n1..display-name "%n1_prefix..;display-name">
<!ENTITY % n1..url "%n1_prefix..;url">
<!ENTITY % n1..programme "%n1_prefix..;programme">
<!ENTITY % n1..metas "%n1_prefix..;metas">
<!ENTITY % n1..MetaType "%n1_prefix..;MetaType">
<!ENTITY % n1..MetaValues "%n1_prefix..;MetaValues">
<!ENTITY % n1..tags "%n1_prefix..;tags">
<!ENTITY % n1..TagType "%n1_prefix..;TagType">
<!ENTITY % n1..TagValues "%n1_prefix..;TagValues">
<!ENTITY % n1..title "%n1_prefix..;title">
<!ENTITY % n1..sub-title "%n1_prefix..;sub-title">
<!ENTITY % n1..desc "%n1_prefix..;desc">
<!ENTITY % n1..credits "%n1_prefix..;credits">
<!ENTITY % n1..director "%n1_prefix..;director">
<!ENTITY % n1..actor "%n1_prefix..;actor">
<!ENTITY % n1..writer "%n1_prefix..;writer">
<!ENTITY % n1..adapter "%n1_prefix..;adapter">
<!ENTITY % n1..producer "%n1_prefix..;producer">
<!ENTITY % n1..composer "%n1_prefix..;composer">
<!ENTITY % n1..editor "%n1_prefix..;editor">
<!ENTITY % n1..presenter "%n1_prefix..;presenter">
<!ENTITY % n1..commentator "%n1_prefix..;commentator">
<!ENTITY % n1..guest "%n1_prefix..;guest">
<!ENTITY % n1..date "%n1_prefix..;date">
<!ENTITY % n1..category "%n1_prefix..;category">
<!ENTITY % n1..keyword "%n1_prefix..;keyword">
<!ENTITY % n1..language "%n1_prefix..;language">
<!ENTITY % n1..orig-language "%n1_prefix..;orig-language">
<!ENTITY % n1..length "%n1_prefix..;length">
<!ENTITY % n1..icon "%n1_prefix..;icon">
<!ENTITY % n1..value "%n1_prefix..;value">
<!ENTITY % n1..country "%n1_prefix..;country">
<!ENTITY % n1..episode-num "%n1_prefix..;episode-num">
<!ENTITY % n1..video "%n1_prefix..;video">
<!ENTITY % n1..present "%n1_prefix..;present">
<!ENTITY % n1..colour "%n1_prefix..;colour">
<!ENTITY % n1..aspect "%n1_prefix..;aspect">
<!ENTITY % n1..quality "%n1_prefix..;quality">
<!ENTITY % n1..audio "%n1_prefix..;audio">
<!ENTITY % n1..stereo "%n1_prefix..;stereo">
<!ENTITY % n1..previously-shown "%n1_prefix..;previously-shown">
<!ENTITY % n1..premiere "%n1_prefix..;premiere">
<!ENTITY % n1..last-chance "%n1_prefix..;last-chance">
<!ENTITY % n1..new "%n1_prefix..;new">
<!ENTITY % n1..subtitles "%n1_prefix..;subtitles">
<!ENTITY % n1..rating "%n1_prefix..;rating">
<!ENTITY % n1..star-rating "%n1_prefix..;star-rating">
<!ENTITY % n1..review "%n1_prefix..;review">
<!--element and attribute declarations-->
<!ELEMENT %n1..EpgChannels; ((%n1..channel;)*, (%n1..programme;)*)>
<!ATTLIST %n1..EpgChannels;
	date CDATA #IMPLIED
	source-info-url CDATA #IMPLIED
	source-info-name CDATA #IMPLIED
	source-data-url CDATA #IMPLIED
	generator-info-name CDATA #IMPLIED
	generator-info-url CDATA #IMPLIED
	parent-group-id NMTOKEN #REQUIRED
	group-id NMTOKEN #REQUIRED
	main-lang CDATA #REQUIRED
	updater-id NMTOKEN #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..channel; ((%n1..display-name;)+, (%n1..icon;)*, (%n1..url;)*)>
<!ATTLIST %n1..channel;
	id CDATA #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..display-name; (#PCDATA)>
<!ATTLIST %n1..display-name;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..url; (#PCDATA)>
<!ATTLIST %n1..url;
	%documentElementAttributes;
>
<!ELEMENT %n1..programme; ((%n1..title;)+, (%n1..sub-title;)*, (%n1..desc;)*, (%n1..credits;)?, (%n1..date;)?, (%n1..category;)*, (%n1..keyword;)*, (%n1..language;)?, (%n1..orig-language;)?, (%n1..length;)?, (%n1..icon;)*, (%n1..url;)*, (%n1..country;)*, (%n1..episode-num;)*, (%n1..video;)?, (%n1..audio;)?, (%n1..previously-shown;)?, (%n1..premiere;)?, (%n1..last-chance;)?, (%n1..new;)?, (%n1..subtitles;)*, (%n1..rating;)*, (%n1..star-rating;)*, (%n1..review;)*, (%n1..metas;)*, (%n1..tags;)*)>
<!ATTLIST %n1..programme;
	enable-trick-play CDATA #IMPLIED
	enable-start-over CDATA #IMPLIED
	enable-catch-up CDATA #IMPLIED
	enable-cdvr CDATA #IMPLIED
	start CDATA #REQUIRED
	stop CDATA #IMPLIED
	pdc-start CDATA #IMPLIED
	vps-start CDATA #IMPLIED
	showview CDATA #IMPLIED
	id CDATA #IMPLIED
	action CDATA #IMPLIED
	videoplus CDATA #IMPLIED
	channel CDATA #REQUIRED
	external_id CDATA #REQUIRED
	clumpidx CDATA "0/1"
	%documentElementAttributes;
>
<!ELEMENT %n1..metas; ((%n1..MetaType;)?, (%n1..MetaValues;)*)>
<!ATTLIST %n1..metas;
	%documentElementAttributes;
>
<!ELEMENT %n1..MetaType; (#PCDATA)>
<!ATTLIST %n1..MetaType;
	%documentElementAttributes;
>
<!ELEMENT %n1..MetaValues; (#PCDATA)>
<!ATTLIST %n1..MetaValues;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..tags; ((%n1..TagType;)?, (%n1..TagValues;)*)>
<!ATTLIST %n1..tags;
	%documentElementAttributes;
>
<!ELEMENT %n1..TagType; (#PCDATA)>
<!ATTLIST %n1..TagType;
	%documentElementAttributes;
>
<!ELEMENT %n1..TagValues; (#PCDATA)>
<!ATTLIST %n1..TagValues;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..title; (#PCDATA)>
<!ATTLIST %n1..title;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..sub-title; (#PCDATA)>
<!ATTLIST %n1..sub-title;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..desc; (#PCDATA)>
<!ATTLIST %n1..desc;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..credits; ((%n1..director;)*, (%n1..actor;)*, (%n1..writer;)*, (%n1..adapter;)*, (%n1..producer;)*, (%n1..composer;)*, (%n1..editor;)*, (%n1..presenter;)*, (%n1..commentator;)*, (%n1..guest;)*)>
<!ATTLIST %n1..credits;
	%documentElementAttributes;
>
<!ELEMENT %n1..director; (#PCDATA)>
<!ATTLIST %n1..director;
	%documentElementAttributes;
>
<!ELEMENT %n1..actor; (#PCDATA)>
<!ATTLIST %n1..actor;
	role CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..writer; (#PCDATA)>
<!ATTLIST %n1..writer;
	%documentElementAttributes;
>
<!ELEMENT %n1..adapter; (#PCDATA)>
<!ATTLIST %n1..adapter;
	%documentElementAttributes;
>
<!ELEMENT %n1..producer; (#PCDATA)>
<!ATTLIST %n1..producer;
	%documentElementAttributes;
>
<!ELEMENT %n1..composer; (#PCDATA)>
<!ATTLIST %n1..composer;
	%documentElementAttributes;
>
<!ELEMENT %n1..editor; (#PCDATA)>
<!ATTLIST %n1..editor;
	%documentElementAttributes;
>
<!ELEMENT %n1..presenter; (#PCDATA)>
<!ATTLIST %n1..presenter;
	%documentElementAttributes;
>
<!ELEMENT %n1..commentator; (#PCDATA)>
<!ATTLIST %n1..commentator;
	%documentElementAttributes;
>
<!ELEMENT %n1..guest; (#PCDATA)>
<!ATTLIST %n1..guest;
	%documentElementAttributes;
>
<!ELEMENT %n1..date; (#PCDATA)>
<!ATTLIST %n1..date;
	%documentElementAttributes;
>
<!ELEMENT %n1..category; (#PCDATA)>
<!ATTLIST %n1..category;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..keyword; (#PCDATA)>
<!ATTLIST %n1..keyword;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..language; (#PCDATA)>
<!ATTLIST %n1..language;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..orig-language; (#PCDATA)>
<!ATTLIST %n1..orig-language;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..length; (#PCDATA)>
<!ATTLIST %n1..length;
	units (seconds | minutes | hours) #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..icon; EMPTY>
<!ATTLIST %n1..icon;
	ratio CDATA #IMPLIED
	src CDATA #REQUIRED
	width NMTOKEN #IMPLIED
	height NMTOKEN #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..value; (#PCDATA)>
<!ATTLIST %n1..value;
	%documentElementAttributes;
>
<!ELEMENT %n1..country; (#PCDATA)>
<!ATTLIST %n1..country;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..episode-num; (#PCDATA)>
<!ATTLIST %n1..episode-num;
	system CDATA "onscreen"
	%documentElementAttributes;
>
<!ELEMENT %n1..video; ((%n1..present;)?, (%n1..colour;)?, (%n1..aspect;)?, (%n1..quality;)?)>
<!ATTLIST %n1..video;
	%documentElementAttributes;
>
<!ELEMENT %n1..present; (#PCDATA)>
<!ATTLIST %n1..present;
	%documentElementAttributes;
>
<!ELEMENT %n1..colour; (#PCDATA)>
<!ATTLIST %n1..colour;
	%documentElementAttributes;
>
<!ELEMENT %n1..aspect; (#PCDATA)>
<!ATTLIST %n1..aspect;
	%documentElementAttributes;
>
<!ELEMENT %n1..quality; (#PCDATA)>
<!ATTLIST %n1..quality;
	%documentElementAttributes;
>
<!ELEMENT %n1..audio; ((%n1..present;)?, (%n1..stereo;)?)>
<!ATTLIST %n1..audio;
	%documentElementAttributes;
>
<!ELEMENT %n1..stereo; (#PCDATA)>
<!ATTLIST %n1..stereo;
	%documentElementAttributes;
>
<!ELEMENT %n1..previously-shown; EMPTY>
<!ATTLIST %n1..previously-shown;
	start CDATA #IMPLIED
	channel CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..premiere; (#PCDATA)>
<!ATTLIST %n1..premiere;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..last-chance; (#PCDATA)>
<!ATTLIST %n1..last-chance;
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..new; EMPTY>
<!ATTLIST %n1..new;
	%documentElementAttributes;
>
<!ELEMENT %n1..subtitles; ((%n1..language;)?)>
<!ATTLIST %n1..subtitles;
	type (teletext | onscreen | deaf-signed) #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..rating; (%n1..value;, (%n1..icon;)*)>
<!ATTLIST %n1..rating;
	system CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..star-rating; (%n1..value;, (%n1..icon;)*)>
<!ATTLIST %n1..star-rating;
	system CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..review; (#PCDATA)>
<!ATTLIST %n1..review;
	type (text | url) #REQUIRED
	source CDATA #IMPLIED
	reviewer CDATA #IMPLIED
	lang CDATA #IMPLIED
	%documentElementAttributes;
>
