TVPApiTests/Web References/PricingService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://pricing.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://pricing.tvinci.com/" />
      <s:element name="GetPPVModuleData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="ppvCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetPPVModuleDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPPVModuleDataResult" type="s1:PPVModule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriptionsContainingMediaFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="iMediaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iFileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriptionsContainingMediaFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriptionsContainingMediaFileResult" type="tns:ArrayOfSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subscription" nillable="true" type="s1:Subscription" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCouponStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sCouponCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCouponStatusResult" type="s1:CouponData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCouponUsed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sCouponCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCouponUsedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCouponUsedResult" type="s1:CouponsStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignsByType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="trigger" type="s1:CampaignTrigger" />
            <s:element minOccurs="1" maxOccurs="1" name="isAlsoInactive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignsByTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignsByTypeResult" type="tns:ArrayOfCampaign" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="s1:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubscriptionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="subIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubscriptionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriptionDataResult" type="tns:ArrayOfSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pricing.tvinci.com/">
      <s:complexType name="PPVModule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oPriceCode" type="s1:PriceCode" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oUsageModule" type="s1:UsageModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oDiscountModule" type="s1:DiscountModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCouponsGroup" type="s1:CouponsGroup" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s1:ArrayOfLanguageContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sObjectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sObjectVirtualName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_bSubscriptionOnly" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="m_relatedFileTypes" type="s1:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Product_Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oPrise" type="s1:Price" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s1:ArrayOfLanguageContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Price">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_dPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCurrency" type="s1:Currency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Currency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencyCD3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencyCD2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sCurrencySign" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nCurrencyID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLanguageContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LanguageContainer" nillable="true" type="s1:LanguageContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LanguageContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sLanguageCode3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiscountModule">
        <s:complexContent mixed="false">
          <s:extension base="s1:PriceCode">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="m_dPercent" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="m_eTheRelationType" type="s1:RelationTypes" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oWhenAlgo" type="s1:WhenAlgo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RelationTypes">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="WhenAlgo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_eAlgoType" type="s1:WhenAlgoType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nNTimes" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WhenAlgoType">
        <s:restriction base="s:string">
          <s:enumeration value="N_FIRST_TIMES" />
          <s:enumeration value="EVERY_N_TIMES" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UsageModule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_nObjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sVirtualName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nMaxNumberOfViews" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_tsViewLifeCycle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_tsMaxUsageModuleLifeCycle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ext_discount_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_internal_discount_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_pricing_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_coupon_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_subscription_only" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_is_renew" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_num_of_rec_periods" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_device_limit_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CouponsGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oDiscountCode" type="s1:DiscountModule" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDiscountCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s1:ArrayOfLanguageContainer" />
          <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nMaxUseCountForCoupon" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sGroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sGroupName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nFinancialEntityID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subscription">
        <s:complexContent mixed="false">
          <s:extension base="s1:PPVModule">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="m_sCodes" type="s1:ArrayOfSubscriptionCodeContainer" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="m_dEndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sFileTypes" type="s1:ArrayOfInt" />
              <s:element minOccurs="1" maxOccurs="1" name="m_bIsRecurring" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="m_nNumberOfRecPeriods" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oSubscriptionPriceCode" type="s1:PriceCode" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oExtDisountModule" type="s1:DiscountModule" />
              <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s1:ArrayOfLanguageContainer" />
              <s:element minOccurs="0" maxOccurs="1" name="m_oSubscriptionUsageModule" type="s1:UsageModule" />
              <s:element minOccurs="1" maxOccurs="1" name="m_fictivicMediaID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_Priority" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="m_ProductCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_SubscriptionCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="m_MultiSubscriptionUsageModule" type="s1:ArrayOfUsageModule" />
              <s:element minOccurs="1" maxOccurs="1" name="n_GeoCommerceID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="m_bIsInfiniteRecurring" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSubscriptionCodeContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionCodeContainer" nillable="true" type="s1:SubscriptionCodeContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriptionCodeContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsageModule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsageModule" nillable="true" type="s1:UsageModule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CouponData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_CouponStatus" type="s1:CouponsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCouponGroup" type="s1:CouponsGroup" />
          <s:element minOccurs="1" maxOccurs="1" name="m_CouponType" type="s1:CouponType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_campID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ownerGUID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ownerMedia" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CouponsStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Valid" />
          <s:enumeration value="NotExists" />
          <s:enumeration value="AllreadyUsed" />
          <s:enumeration value="IrrelevantCode" />
          <s:enumeration value="Expired" />
          <s:enumeration value="NotActive" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CouponType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Coupon" />
          <s:enumeration value="Voucher" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CampaignTrigger">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Purchase" />
          <s:enumeration value="SocialInvite" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_usageModule" type="s1:UsageModule" />
          <s:element minOccurs="1" maxOccurs="1" name="m_startDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_endDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oCouponsGroup" type="s1:CouponsGroup" />
          <s:element minOccurs="1" maxOccurs="1" name="m_CampaignTrigger" type="s1:CampaignTrigger" />
          <s:element minOccurs="1" maxOccurs="1" name="m_CampaignResult" type="s1:CampaignResult" />
          <s:element minOccurs="1" maxOccurs="1" name="m_CampaignType" type="s1:CampaignType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_subscriptionCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_IsActive" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CampaignResult">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Voucher" />
          <s:enumeration value="ExtendSubscription" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CampaignType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Time" />
          <s:enumeration value="Event" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPPVModuleDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPPVModuleData" />
  </wsdl:message>
  <wsdl:message name="GetPPVModuleDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPPVModuleDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionsContainingMediaFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsContainingMediaFile" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionsContainingMediaFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsContainingMediaFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetCouponStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetCouponStatus" />
  </wsdl:message>
  <wsdl:message name="GetCouponStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetCouponStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetCouponUsedSoapIn">
    <wsdl:part name="parameters" element="tns:SetCouponUsed" />
  </wsdl:message>
  <wsdl:message name="SetCouponUsedSoapOut">
    <wsdl:part name="parameters" element="tns:SetCouponUsedResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignsByTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignsByType" />
  </wsdl:message>
  <wsdl:message name="GetCampaignsByTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriptionData" />
  </wsdl:message>
  <wsdl:message name="GetSubscriptionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriptionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="PricingServiceSoap">
    <wsdl:operation name="GetPPVModuleData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get PPV Module data</wsdl:documentation>
      <wsdl:input message="tns:GetPPVModuleDataSoapIn" />
      <wsdl:output message="tns:GetPPVModuleDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsContainingMediaFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all subscriptions contains media file</wsdl:documentation>
      <wsdl:input message="tns:GetSubscriptionsContainingMediaFileSoapIn" />
      <wsdl:output message="tns:GetSubscriptionsContainingMediaFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Coupon status according to coupon code</wsdl:documentation>
      <wsdl:input message="tns:GetCouponStatusSoapIn" />
      <wsdl:output message="tns:GetCouponStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCouponUsed">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Coupon used</wsdl:documentation>
      <wsdl:input message="tns:SetCouponUsedSoapIn" />
      <wsdl:output message="tns:SetCouponUsedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignsByType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get campaigns by type</wsdl:documentation>
      <wsdl:input message="tns:GetCampaignsByTypeSoapIn" />
      <wsdl:output message="tns:GetCampaignsByTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get subscription data</wsdl:documentation>
      <wsdl:input message="tns:GetSubscriptionDataSoapIn" />
      <wsdl:output message="tns:GetSubscriptionDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PricingServiceHttpGet" />
  <wsdl:portType name="PricingServiceHttpPost" />
  <wsdl:binding name="PricingServiceSoap" type="tns:PricingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPPVModuleData">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetPPVModuleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsContainingMediaFile">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionsContainingMediaFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponStatus">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCouponStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCouponUsed">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetCouponUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignsByType">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCampaignsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionData">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricingServiceSoap12" type="tns:PricingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPPVModuleData">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetPPVModuleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionsContainingMediaFile">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionsContainingMediaFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponStatus">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCouponStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCouponUsed">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetCouponUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignsByType">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetCampaignsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionData">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetSubscriptionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricingServiceHttpGet" type="tns:PricingServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PricingServiceHttpPost" type="tns:PricingServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PricingService">
    <wsdl:port name="PricingServiceSoap" binding="tns:PricingServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/pricing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceSoap12" binding="tns:PricingServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/pricing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceHttpGet" binding="tns:PricingServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/pricing/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceHttpPost" binding="tns:PricingServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/pricing/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>