Libs/TVPApiTests/Web References/DomainService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://platform-us.tvinci.com/tvpapi/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://domains.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://platform-us.tvinci.com/tvpapi/ws">
      <s:import namespace="http://domains.tvinci.com/" />
      <s:element name="ResetDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="tns:Locale" />
          <s:element minOccurs="1" maxOccurs="1" name="Platform" type="tns:PlatformType" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocaleLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocaleDevice" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocaleUserState" type="tns:LocaleUserState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LocaleUserState">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Anonymous" />
          <s:enumeration value="New" />
          <s:enumeration value="Sub" />
          <s:enumeration value="ExSub" />
          <s:enumeration value="PPV" />
          <s:enumeration value="ExPPV" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlatformType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="STB" />
          <s:enumeration value="iPad" />
          <s:enumeration value="ConnectedTV" />
          <s:enumeration value="Cellular" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ResetDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetDomainResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDeviceInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iDeviceBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDeviceToDomainResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="bMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserToDomainResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserFromDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserFromDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveUserFromDomainResult" type="s1:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDeviceFromDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="domainID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDeviceName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iDeviceBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDeviceFromDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveDeviceFromDomainResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDeviceDomainStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="bActive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDeviceDomainStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeDeviceDomainStatusResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainInfoResult" type="s1:Domain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDomainDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDomainInfoResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceDomains">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceDomainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceDomainsResult" type="tns:ArrayOfDeviceDomain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeviceDomain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceDomain" type="tns:DeviceDomain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceDomain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DomainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPINForDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="1" maxOccurs="1" name="devBrandID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPINForDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPINForDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterDeviceByPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterDeviceByPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterDeviceByPINResult" type="tns:DeviceRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeviceRegistration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UDID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegStatus" type="tns:eDeviceRegistrationStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eDeviceRegistrationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Invalid" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domainDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="masterGuid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDomainResult" type="s1:DomainResponseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainCoGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initObj" type="tns:InitializationObject" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domainDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="masterGuid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainCoGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainCoGuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://domains.tvinci.com/">
      <s:complexType name="DomainResponseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oDomain" type="s1:Domain" />
          <s:element minOccurs="1" maxOccurs="1" name="m_oDomainResponseStatus" type="s1:DomainResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Domain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_sName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nDomainID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nGroupID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_nIsActive" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_UsersIDs" type="s1:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamilies" type="s1:ArrayOfDeviceContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="m_masterGUIDs" type="s1:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="m_DomainStatus" type="s1:DomainStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="m_frequencyFlag" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_NextActionFreq" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeviceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceContainer" nillable="true" type="s1:DeviceContainer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamilyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceFamilyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceInstances" type="s1:ArrayOfDevice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDevice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="s1:Device" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Device">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceUDID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceFamilyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_domainID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_deviceName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceBrandID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_pin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_activationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_state" type="s1:DeviceState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeviceState">
        <s:restriction base="s:string">
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="NotExists" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Activated" />
          <s:enumeration value="UnActivated" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DomainStatus">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="DomainAlreadyExists" />
          <s:enumeration value="ExceededLimit" />
          <s:enumeration value="DeviceTypeNotAllowed" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="DeviceNotInDomin" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DomainResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="LimitationPeriod" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="Error" />
          <s:enumeration value="DomainAlreadyExists" />
          <s:enumeration value="ExceededLimit" />
          <s:enumeration value="DeviceTypeNotAllowed" />
          <s:enumeration value="DeviceNotInDomin" />
          <s:enumeration value="DeviceNotExists" />
          <s:enumeration value="DeviceAlreadyExists" />
          <s:enumeration value="UserNotExistsInDomain" />
          <s:enumeration value="OK" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ResetDomainSoapIn">
    <wsdl:part name="parameters" element="tns:ResetDomain" />
  </wsdl:message>
  <wsdl:message name="ResetDomainSoapOut">
    <wsdl:part name="parameters" element="tns:ResetDomainResponse" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="SetDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddDeviceToDomain" />
  </wsdl:message>
  <wsdl:message name="AddDeviceToDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddDeviceToDomainResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToDomain" />
  </wsdl:message>
  <wsdl:message name="AddUserToDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToDomainResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDomain" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromDomainSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDomainResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDeviceFromDomain" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceFromDomainSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDeviceFromDomainResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDeviceDomainStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeDeviceDomainStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDeviceDomainStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainInfo" />
  </wsdl:message>
  <wsdl:message name="GetDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetDomainInfo" />
  </wsdl:message>
  <wsdl:message name="SetDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceDomains" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDomainsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPINForDevice" />
  </wsdl:message>
  <wsdl:message name="GetPINForDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPINForDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceByPINSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterDeviceByPIN" />
  </wsdl:message>
  <wsdl:message name="RegisterDeviceByPINSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterDeviceByPINResponse" />
  </wsdl:message>
  <wsdl:message name="AddDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddDomain" />
  </wsdl:message>
  <wsdl:message name="AddDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainCoGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainCoGuid" />
  </wsdl:message>
  <wsdl:message name="GetDomainCoGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainCoGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="DomainServiceSoap">
    <wsdl:operation name="ResetDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset Domain</wsdl:documentation>
      <wsdl:input message="tns:ResetDomainSoapIn" />
      <wsdl:output message="tns:ResetDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set device info</wsdl:documentation>
      <wsdl:input message="tns:SetDeviceInfoSoapIn" />
      <wsdl:output message="tns:SetDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add device to domain</wsdl:documentation>
      <wsdl:input message="tns:AddDeviceToDomainSoapIn" />
      <wsdl:output message="tns:AddDeviceToDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a user to domain</wsdl:documentation>
      <wsdl:input message="tns:AddUserToDomainSoapIn" />
      <wsdl:output message="tns:AddUserToDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove a user from domain</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserFromDomainSoapIn" />
      <wsdl:output message="tns:RemoveUserFromDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove device from domain</wsdl:documentation>
      <wsdl:input message="tns:RemoveDeviceFromDomainSoapIn" />
      <wsdl:output message="tns:RemoveDeviceFromDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activate/Deactivate a device in domain</wsdl:documentation>
      <wsdl:input message="tns:ChangeDeviceDomainStatusSoapIn" />
      <wsdl:output message="tns:ChangeDeviceDomainStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get device/user domain info</wsdl:documentation>
      <wsdl:input message="tns:GetDomainInfoSoapIn" />
      <wsdl:output message="tns:GetDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set device/user domain info</wsdl:documentation>
      <wsdl:input message="tns:SetDomainInfoSoapIn" />
      <wsdl:output message="tns:SetDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get device domains</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceDomainsSoapIn" />
      <wsdl:output message="tns:GetDeviceDomainsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get PIN Code for a new device</wsdl:documentation>
      <wsdl:input message="tns:GetPINForDeviceSoapIn" />
      <wsdl:output message="tns:GetPINForDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceByPIN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Register a device to domain by PIN code</wsdl:documentation>
      <wsdl:input message="tns:RegisterDeviceByPINSoapIn" />
      <wsdl:output message="tns:RegisterDeviceByPINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add domain to master site user</wsdl:documentation>
      <wsdl:input message="tns:AddDomainSoapIn" />
      <wsdl:output message="tns:AddDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainCoGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get domain CoGuid</wsdl:documentation>
      <wsdl:input message="tns:GetDomainCoGuidSoapIn" />
      <wsdl:output message="tns:GetDomainCoGuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DomainServiceHttpGet" />
  <wsdl:portType name="DomainServiceHttpPost" />
  <wsdl:binding name="DomainServiceSoap" type="tns:DomainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ResetDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddDeviceToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddUserToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RemoveUserFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RemoveDeviceFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ChangeDeviceDomainStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDeviceDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetPINForDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceByPIN">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RegisterDeviceByPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainCoGuid">
      <soap:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDomainCoGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DomainServiceSoap12" type="tns:DomainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ResetDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceInfo">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceToDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddDeviceToDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddUserToDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RemoveUserFromDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDeviceFromDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RemoveDeviceFromDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceDomainStatus">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/ChangeDeviceDomainStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainInfo">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDomainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDomainInfo">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/SetDomainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDomains">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDeviceDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPINForDevice">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetPINForDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDeviceByPIN">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/RegisterDeviceByPIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/AddDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainCoGuid">
      <soap12:operation soapAction="http://platform-us.tvinci.com/tvpapi/ws/GetDomainCoGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DomainServiceHttpGet" type="tns:DomainServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="DomainServiceHttpPost" type="tns:DomainServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="DomainService">
    <wsdl:port name="DomainServiceSoap" binding="tns:DomainServiceSoap">
      <soap:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/domains/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DomainServiceSoap12" binding="tns:DomainServiceSoap12">
      <soap12:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/domains/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DomainServiceHttpGet" binding="tns:DomainServiceHttpGet">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/domains/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DomainServiceHttpPost" binding="tns:DomainServiceHttpPost">
      <http:address location="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/domains/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>