ConditionalAccess/Web References/TvinciBilling/module.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://billing.tvinci.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://billing.tvinci.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://billing.tvinci.com/">
      <s:element name="GetBillingCutomData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillingCutomDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillingCutomDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_GetUserCCDigits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_GetUserCCDigitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_GetUserCCDigitsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_DeleteUserCCDigits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_DeleteUserCCDigitsResponse">
        <s:complexType />
      </s:element>
      <s:element name="CC_GetClientCheckSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRandom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_GetClientCheckSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_GetClientCheckSumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientMerchantSig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sParamaters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientMerchantSigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientMerchantSigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_GetPopupURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sItemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPaymentMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_GetPopupURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_GetPopupURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastBillingUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nBillingMethod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastBillingUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastBillingUserInfoResult" type="tns:AdyenBillingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdyenBillingDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="billingInfo" type="tns:BillingInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="expiryMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expiryYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastFourDigits" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="holderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cvc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variant" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLastBillingTypeUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastBillingTypeUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastBillingTypeUserInfoResult" type="tns:AdyenBillingDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_ChargeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPaymentMethodID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEncryptedCVV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_ChargeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_ChargeUserResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillingResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_oStatus" type="tns:BillingResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sRecieptCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sStatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_sExternalReceiptCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BillingResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Fail" />
          <s:enumeration value="UnKnown" />
          <s:enumeration value="PriceNotCorrect" />
          <s:enumeration value="UnKnownUser" />
          <s:enumeration value="UnKnownPPVModule" />
          <s:enumeration value="ExpiredCard" />
          <s:enumeration value="ExternalError" />
          <s:enumeration value="CellularPermissionsError" />
          <s:enumeration value="UnKnownBillingProvider" />
          <s:enumeration value="UserSuspended" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdatePurchaseIDInBilling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="purchaseID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="billingRefTransactionID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePurchaseIDInBillingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePurchaseIDInBillingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DD_ChargeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nBillingMethod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DD_ChargeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DD_ChargeUserResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InApp_ChargeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiptData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InApp_ChargeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InApp_ChargeUserResult" type="tns:InAppBillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InAppBillingResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_oBillingResponse" type="tns:BillingResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="m_oInAppReceipt" type="tns:InAppReceipt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InAppReceipt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iOSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="latest_receipt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receipt" type="tns:iTunesReceipt" />
          <s:element minOccurs="0" maxOccurs="1" name="latest_expired_receipt_info" type="tns:iTunesReceipt" />
          <s:element minOccurs="0" maxOccurs="1" name="latest_receipt_info" type="tns:ArrayOfITunesReceipt" />
          <s:element minOccurs="0" maxOccurs="1" name="in_app" type="tns:ArrayOfITunesReceipt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="iTunesReceipt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="original_purchase_date_pst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Original_transaction_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expires_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transaction_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bvrs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="web_order_line_item_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="item_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expires_date_formatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="purchase_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="purchase_date_ms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expires_date_formatted_pst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="purchase_date_pst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="original_purchase_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="original_purchase_date_ms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="version_external_identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expires_date_ms" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfITunesReceipt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iTunesReceipt" nillable="true" type="tns:iTunesReceipt" />
        </s:sequence>
      </s:complexType>
      <s:element name="InApp_ReneweInAppPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nInAppTransactionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InApp_ReneweInAppPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InApp_ReneweInAppPurchaseResult" type="tns:InAppBillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DD_RefundUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPSPReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lPurchaseID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="nType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nHowManyCancelOrRefundAttemptsSoFarNotIncludingThisOne" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DD_RefundUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DD_RefundUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_DummyChargeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CC_DummyChargeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CC_DummyChargeUserResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_SendCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sReferenceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_SendCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_SendCodeResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_CheckCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMSCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sReferenceCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_CheckCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_CheckCodeResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPurchaseMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPaymentMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sItemName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nBillingTransID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="stotalAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sExternalNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPurchaseMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPurchaseMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cellular_ChargeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWSUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWSPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSiteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dChargePrice" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrencyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nNumberOfPayments" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sExtraParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cellular_ChargeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cellular_ChargeUserResult" type="tns:BillingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="AdyenBillingDetail" nillable="true" type="tns:AdyenBillingDetail" />
      <s:element name="BillingResponse" nillable="true" type="tns:BillingResponse" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="InAppBillingResponse" nillable="true" type="tns:InAppBillingResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBillingCutomDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillingCutomData" />
  </wsdl:message>
  <wsdl:message name="GetBillingCutomDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillingCutomDataResponse" />
  </wsdl:message>
  <wsdl:message name="CC_GetUserCCDigitsSoapIn">
    <wsdl:part name="parameters" element="tns:CC_GetUserCCDigits" />
  </wsdl:message>
  <wsdl:message name="CC_GetUserCCDigitsSoapOut">
    <wsdl:part name="parameters" element="tns:CC_GetUserCCDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="CC_DeleteUserCCDigitsSoapIn">
    <wsdl:part name="parameters" element="tns:CC_DeleteUserCCDigits" />
  </wsdl:message>
  <wsdl:message name="CC_DeleteUserCCDigitsSoapOut">
    <wsdl:part name="parameters" element="tns:CC_DeleteUserCCDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="CC_GetClientCheckSumSoapIn">
    <wsdl:part name="parameters" element="tns:CC_GetClientCheckSum" />
  </wsdl:message>
  <wsdl:message name="CC_GetClientCheckSumSoapOut">
    <wsdl:part name="parameters" element="tns:CC_GetClientCheckSumResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientMerchantSig" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientMerchantSigResponse" />
  </wsdl:message>
  <wsdl:message name="CC_GetPopupURLSoapIn">
    <wsdl:part name="parameters" element="tns:CC_GetPopupURL" />
  </wsdl:message>
  <wsdl:message name="CC_GetPopupURLSoapOut">
    <wsdl:part name="parameters" element="tns:CC_GetPopupURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastBillingUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastBillingUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingTypeUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastBillingTypeUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingTypeUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastBillingTypeUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserSoapIn">
    <wsdl:part name="parameters" element="tns:CC_ChargeUser" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserSoapOut">
    <wsdl:part name="parameters" element="tns:CC_ChargeUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseIDInBillingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseIDInBilling" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseIDInBillingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseIDInBillingResponse" />
  </wsdl:message>
  <wsdl:message name="DD_ChargeUserSoapIn">
    <wsdl:part name="parameters" element="tns:DD_ChargeUser" />
  </wsdl:message>
  <wsdl:message name="DD_ChargeUserSoapOut">
    <wsdl:part name="parameters" element="tns:DD_ChargeUserResponse" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserSoapIn">
    <wsdl:part name="parameters" element="tns:InApp_ChargeUser" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserSoapOut">
    <wsdl:part name="parameters" element="tns:InApp_ChargeUserResponse" />
  </wsdl:message>
  <wsdl:message name="InApp_ReneweInAppPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:InApp_ReneweInAppPurchase" />
  </wsdl:message>
  <wsdl:message name="InApp_ReneweInAppPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:InApp_ReneweInAppPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="DD_RefundUserSoapIn">
    <wsdl:part name="parameters" element="tns:DD_RefundUser" />
  </wsdl:message>
  <wsdl:message name="DD_RefundUserSoapOut">
    <wsdl:part name="parameters" element="tns:DD_RefundUserResponse" />
  </wsdl:message>
  <wsdl:message name="CC_DummyChargeUserSoapIn">
    <wsdl:part name="parameters" element="tns:CC_DummyChargeUser" />
  </wsdl:message>
  <wsdl:message name="CC_DummyChargeUserSoapOut">
    <wsdl:part name="parameters" element="tns:CC_DummyChargeUserResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_SendCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SMS_SendCode" />
  </wsdl:message>
  <wsdl:message name="SMS_SendCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SMS_SendCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_CheckCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SMS_CheckCode" />
  </wsdl:message>
  <wsdl:message name="SMS_CheckCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SMS_CheckCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendPurchaseMail" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendPurchaseMailResponse" />
  </wsdl:message>
  <wsdl:message name="Cellular_ChargeUserSoapIn">
    <wsdl:part name="parameters" element="tns:Cellular_ChargeUser" />
  </wsdl:message>
  <wsdl:message name="Cellular_ChargeUserSoapOut">
    <wsdl:part name="parameters" element="tns:Cellular_ChargeUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillingCutomDataHttpPostIn">
    <wsdl:part name="sWUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBillingCutomDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CC_GetUserCCDigitsHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_GetUserCCDigitsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CC_DeleteUserCCDigitsHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_DeleteUserCCDigitsHttpPostOut" />
  <wsdl:message name="CC_GetClientCheckSumHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sRandom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_GetClientCheckSumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sParamaters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientMerchantSigHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CC_GetPopupURLHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sItemName" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="sPaymentMethod" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_GetPopupURLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingUserInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="nBillingMethod" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:AdyenBillingDetail" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingTypeUserInfoHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastBillingTypeUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:AdyenBillingDetail" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
    <wsdl:part name="sPaymentMethodID" type="s:string" />
    <wsdl:part name="sEncryptedCVV" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_ChargeUserHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseIDInBillingHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="purchaseID" type="s:string" />
    <wsdl:part name="billingRefTransactionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseIDInBillingHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DD_ChargeUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
    <wsdl:part name="nBillingMethod" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DD_ChargeUserHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="ReceiptData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InApp_ChargeUserHttpPostOut">
    <wsdl:part name="Body" element="tns:InAppBillingResponse" />
  </wsdl:message>
  <wsdl:message name="InApp_ReneweInAppPurchaseHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="nInAppTransactionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InApp_ReneweInAppPurchaseHttpPostOut">
    <wsdl:part name="Body" element="tns:InAppBillingResponse" />
  </wsdl:message>
  <wsdl:message name="DD_RefundUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sPSPReference" type="s:string" />
    <wsdl:part name="sSiteGuid" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="lPurchaseID" type="s:string" />
    <wsdl:part name="nType" type="s:string" />
    <wsdl:part name="nHowManyCancelOrRefundAttemptsSoFarNotIncludingThisOne" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DD_RefundUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CC_DummyChargeUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CC_DummyChargeUserHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_SendCodeHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="sCellPhone" type="s:string" />
    <wsdl:part name="sReferenceCode" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SMS_SendCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_CheckCodeHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="sCellPhone" type="s:string" />
    <wsdl:part name="sSMSCode" type="s:string" />
    <wsdl:part name="sReferenceCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SMS_CheckCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseMailHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="sPaymentMethod" type="s:string" />
    <wsdl:part name="sItemName" type="s:string" />
    <wsdl:part name="nBillingTransID" type="s:string" />
    <wsdl:part name="stotalAmount" type="s:string" />
    <wsdl:part name="scurrency" type="s:string" />
    <wsdl:part name="sExternalNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseMailHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Cellular_ChargeUserHttpPostIn">
    <wsdl:part name="sWSUserName" type="s:string" />
    <wsdl:part name="sWSPassword" type="s:string" />
    <wsdl:part name="sSiteGUID" type="s:string" />
    <wsdl:part name="dChargePrice" type="s:string" />
    <wsdl:part name="sCurrencyCode" type="s:string" />
    <wsdl:part name="sUserIP" type="s:string" />
    <wsdl:part name="sCustomData" type="s:string" />
    <wsdl:part name="nPaymentNumber" type="s:string" />
    <wsdl:part name="nNumberOfPayments" type="s:string" />
    <wsdl:part name="sExtraParameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Cellular_ChargeUserHttpPostOut">
    <wsdl:part name="Body" element="tns:BillingResponse" />
  </wsdl:message>
  <wsdl:portType name="moduleSoap">
    <wsdl:operation name="GetBillingCutomData">
      <wsdl:input message="tns:GetBillingCutomDataSoapIn" />
      <wsdl:output message="tns:GetBillingCutomDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetUserCCDigits">
      <wsdl:input message="tns:CC_GetUserCCDigitsSoapIn" />
      <wsdl:output message="tns:CC_GetUserCCDigitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_DeleteUserCCDigits">
      <wsdl:input message="tns:CC_DeleteUserCCDigitsSoapIn" />
      <wsdl:output message="tns:CC_DeleteUserCCDigitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetClientCheckSum">
      <wsdl:input message="tns:CC_GetClientCheckSumSoapIn" />
      <wsdl:output message="tns:CC_GetClientCheckSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <wsdl:input message="tns:GetClientMerchantSigSoapIn" />
      <wsdl:output message="tns:GetClientMerchantSigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetPopupURL">
      <wsdl:input message="tns:CC_GetPopupURLSoapIn" />
      <wsdl:output message="tns:CC_GetPopupURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingUserInfo">
      <wsdl:input message="tns:GetLastBillingUserInfoSoapIn" />
      <wsdl:output message="tns:GetLastBillingUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingTypeUserInfo">
      <wsdl:input message="tns:GetLastBillingTypeUserInfoSoapIn" />
      <wsdl:output message="tns:GetLastBillingTypeUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUser">
      <wsdl:input message="tns:CC_ChargeUserSoapIn" />
      <wsdl:output message="tns:CC_ChargeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseIDInBilling">
      <wsdl:input message="tns:UpdatePurchaseIDInBillingSoapIn" />
      <wsdl:output message="tns:UpdatePurchaseIDInBillingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DD_ChargeUser">
      <wsdl:input message="tns:DD_ChargeUserSoapIn" />
      <wsdl:output message="tns:DD_ChargeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUser">
      <wsdl:input message="tns:InApp_ChargeUserSoapIn" />
      <wsdl:output message="tns:InApp_ChargeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InApp_ReneweInAppPurchase">
      <wsdl:input message="tns:InApp_ReneweInAppPurchaseSoapIn" />
      <wsdl:output message="tns:InApp_ReneweInAppPurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DD_RefundUser">
      <wsdl:input message="tns:DD_RefundUserSoapIn" />
      <wsdl:output message="tns:DD_RefundUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_DummyChargeUser">
      <wsdl:input message="tns:CC_DummyChargeUserSoapIn" />
      <wsdl:output message="tns:CC_DummyChargeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_SendCode">
      <wsdl:input message="tns:SMS_SendCodeSoapIn" />
      <wsdl:output message="tns:SMS_SendCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_CheckCode">
      <wsdl:input message="tns:SMS_CheckCodeSoapIn" />
      <wsdl:output message="tns:SMS_CheckCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseMail">
      <wsdl:input message="tns:SendPurchaseMailSoapIn" />
      <wsdl:output message="tns:SendPurchaseMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cellular_ChargeUser">
      <wsdl:input message="tns:Cellular_ChargeUserSoapIn" />
      <wsdl:output message="tns:Cellular_ChargeUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="moduleHttpPost">
    <wsdl:operation name="GetBillingCutomData">
      <wsdl:input message="tns:GetBillingCutomDataHttpPostIn" />
      <wsdl:output message="tns:GetBillingCutomDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetUserCCDigits">
      <wsdl:input message="tns:CC_GetUserCCDigitsHttpPostIn" />
      <wsdl:output message="tns:CC_GetUserCCDigitsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_DeleteUserCCDigits">
      <wsdl:input message="tns:CC_DeleteUserCCDigitsHttpPostIn" />
      <wsdl:output message="tns:CC_DeleteUserCCDigitsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetClientCheckSum">
      <wsdl:input message="tns:CC_GetClientCheckSumHttpPostIn" />
      <wsdl:output message="tns:CC_GetClientCheckSumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <wsdl:input message="tns:GetClientMerchantSigHttpPostIn" />
      <wsdl:output message="tns:GetClientMerchantSigHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_GetPopupURL">
      <wsdl:input message="tns:CC_GetPopupURLHttpPostIn" />
      <wsdl:output message="tns:CC_GetPopupURLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingUserInfo">
      <wsdl:input message="tns:GetLastBillingUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetLastBillingUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingTypeUserInfo">
      <wsdl:input message="tns:GetLastBillingTypeUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetLastBillingTypeUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUser">
      <wsdl:input message="tns:CC_ChargeUserHttpPostIn" />
      <wsdl:output message="tns:CC_ChargeUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseIDInBilling">
      <wsdl:input message="tns:UpdatePurchaseIDInBillingHttpPostIn" />
      <wsdl:output message="tns:UpdatePurchaseIDInBillingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DD_ChargeUser">
      <wsdl:input message="tns:DD_ChargeUserHttpPostIn" />
      <wsdl:output message="tns:DD_ChargeUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUser">
      <wsdl:input message="tns:InApp_ChargeUserHttpPostIn" />
      <wsdl:output message="tns:InApp_ChargeUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InApp_ReneweInAppPurchase">
      <wsdl:input message="tns:InApp_ReneweInAppPurchaseHttpPostIn" />
      <wsdl:output message="tns:InApp_ReneweInAppPurchaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DD_RefundUser">
      <wsdl:input message="tns:DD_RefundUserHttpPostIn" />
      <wsdl:output message="tns:DD_RefundUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CC_DummyChargeUser">
      <wsdl:input message="tns:CC_DummyChargeUserHttpPostIn" />
      <wsdl:output message="tns:CC_DummyChargeUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_SendCode">
      <wsdl:input message="tns:SMS_SendCodeHttpPostIn" />
      <wsdl:output message="tns:SMS_SendCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_CheckCode">
      <wsdl:input message="tns:SMS_CheckCodeHttpPostIn" />
      <wsdl:output message="tns:SMS_CheckCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseMail">
      <wsdl:input message="tns:SendPurchaseMailHttpPostIn" />
      <wsdl:output message="tns:SendPurchaseMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Cellular_ChargeUser">
      <wsdl:input message="tns:Cellular_ChargeUserHttpPostIn" />
      <wsdl:output message="tns:Cellular_ChargeUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="moduleSoap" type="tns:moduleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillingCutomData">
      <soap:operation soapAction="http://billing.tvinci.com/GetBillingCutomData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetUserCCDigits">
      <soap:operation soapAction="http://billing.tvinci.com/CC_GetUserCCDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DeleteUserCCDigits">
      <soap:operation soapAction="http://billing.tvinci.com/CC_DeleteUserCCDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetClientCheckSum">
      <soap:operation soapAction="http://billing.tvinci.com/CC_GetClientCheckSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <soap:operation soapAction="http://billing.tvinci.com/GetClientMerchantSig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetPopupURL">
      <soap:operation soapAction="http://billing.tvinci.com/CC_GetPopupURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingUserInfo">
      <soap:operation soapAction="http://billing.tvinci.com/GetLastBillingUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingTypeUserInfo">
      <soap:operation soapAction="http://billing.tvinci.com/GetLastBillingTypeUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUser">
      <soap:operation soapAction="http://billing.tvinci.com/CC_ChargeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseIDInBilling">
      <soap:operation soapAction="http://billing.tvinci.com/UpdatePurchaseIDInBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_ChargeUser">
      <soap:operation soapAction="http://billing.tvinci.com/DD_ChargeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUser">
      <soap:operation soapAction="http://billing.tvinci.com/InApp_ChargeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ReneweInAppPurchase">
      <soap:operation soapAction="http://billing.tvinci.com/InApp_ReneweInAppPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_RefundUser">
      <soap:operation soapAction="http://billing.tvinci.com/DD_RefundUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DummyChargeUser">
      <soap:operation soapAction="http://billing.tvinci.com/CC_DummyChargeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_SendCode">
      <soap:operation soapAction="http://billing.tvinci.com/SMS_SendCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_CheckCode">
      <soap:operation soapAction="http://billing.tvinci.com/SMS_CheckCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseMail">
      <soap:operation soapAction="http://billing.tvinci.com/SendPurchaseMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cellular_ChargeUser">
      <soap:operation soapAction="http://billing.tvinci.com/Cellular_ChargeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="moduleSoap12" type="tns:moduleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillingCutomData">
      <soap12:operation soapAction="http://billing.tvinci.com/GetBillingCutomData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetUserCCDigits">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_GetUserCCDigits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DeleteUserCCDigits">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_DeleteUserCCDigits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetClientCheckSum">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_GetClientCheckSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <soap12:operation soapAction="http://billing.tvinci.com/GetClientMerchantSig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetPopupURL">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_GetPopupURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingUserInfo">
      <soap12:operation soapAction="http://billing.tvinci.com/GetLastBillingUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingTypeUserInfo">
      <soap12:operation soapAction="http://billing.tvinci.com/GetLastBillingTypeUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUser">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_ChargeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseIDInBilling">
      <soap12:operation soapAction="http://billing.tvinci.com/UpdatePurchaseIDInBilling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_ChargeUser">
      <soap12:operation soapAction="http://billing.tvinci.com/DD_ChargeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUser">
      <soap12:operation soapAction="http://billing.tvinci.com/InApp_ChargeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ReneweInAppPurchase">
      <soap12:operation soapAction="http://billing.tvinci.com/InApp_ReneweInAppPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_RefundUser">
      <soap12:operation soapAction="http://billing.tvinci.com/DD_RefundUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DummyChargeUser">
      <soap12:operation soapAction="http://billing.tvinci.com/CC_DummyChargeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_SendCode">
      <soap12:operation soapAction="http://billing.tvinci.com/SMS_SendCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_CheckCode">
      <soap12:operation soapAction="http://billing.tvinci.com/SMS_CheckCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseMail">
      <soap12:operation soapAction="http://billing.tvinci.com/SendPurchaseMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cellular_ChargeUser">
      <soap12:operation soapAction="http://billing.tvinci.com/Cellular_ChargeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="moduleHttpPost" type="tns:moduleHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBillingCutomData">
      <http:operation location="/GetBillingCutomData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetUserCCDigits">
      <http:operation location="/CC_GetUserCCDigits" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DeleteUserCCDigits">
      <http:operation location="/CC_DeleteUserCCDigits" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CC_GetClientCheckSum">
      <http:operation location="/CC_GetClientCheckSum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMerchantSig">
      <http:operation location="/GetClientMerchantSig" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_GetPopupURL">
      <http:operation location="/CC_GetPopupURL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingUserInfo">
      <http:operation location="/GetLastBillingUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastBillingTypeUserInfo">
      <http:operation location="/GetLastBillingTypeUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_ChargeUser">
      <http:operation location="/CC_ChargeUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseIDInBilling">
      <http:operation location="/UpdatePurchaseIDInBilling" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_ChargeUser">
      <http:operation location="/DD_ChargeUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ChargeUser">
      <http:operation location="/InApp_ChargeUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InApp_ReneweInAppPurchase">
      <http:operation location="/InApp_ReneweInAppPurchase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DD_RefundUser">
      <http:operation location="/DD_RefundUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CC_DummyChargeUser">
      <http:operation location="/CC_DummyChargeUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_SendCode">
      <http:operation location="/SMS_SendCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_CheckCode">
      <http:operation location="/SMS_CheckCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseMail">
      <http:operation location="/SendPurchaseMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cellular_ChargeUser">
      <http:operation location="/Cellular_ChargeUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="module">
    <wsdl:port name="moduleSoap" binding="tns:moduleSoap">
      <soap:address location="http://54.72.1.39:8030/billing_v3_4/module.asmx" />
    </wsdl:port>
    <wsdl:port name="moduleSoap12" binding="tns:moduleSoap12">
      <soap12:address location="http://54.72.1.39:8030/billing_v3_4/module.asmx" />
    </wsdl:port>
    <wsdl:port name="moduleHttpPost" binding="tns:moduleHttpPost">
      <http:address location="http://54.72.1.39:8030/billing_v3_4/module.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>