Logic/Service References/MailNotificationsAdapterService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MailNotificationsAdapter.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MailNotificationsAdapter.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
  <xs:complexType name="AnnouncementListResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AnnouncementExternalId" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q2:AdapterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnouncementListResponse" nillable="true" type="tns:AnnouncementListResponse" />
  <xs:complexType name="AnnouncementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnouncementExternalId" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" minOccurs="0" name="Status" nillable="true" type="q3:AdapterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnouncementResponse" nillable="true" type="tns:AnnouncementResponse" />
</xs:schema>