Logic/Service References/MailNotificationsAdapterService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGAdapterCommon.Models" />
      <xsd:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:86/MailNotificationsAdapter/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MailNotificationsAdapter.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IService_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Publish_InputMessage">
    <wsdl:part name="parameters" element="tns:Publish" />
  </wsdl:message>
  <wsdl:message name="IService_Publish_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnouncement" />
  </wsdl:message>
  <wsdl:message name="IService_CreateAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnouncement" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnouncementResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetConfiguration" message="tns:IService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetConfigurationResponse" message="tns:IService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Subscribe" message="tns:IService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubscribeResponse" message="tns:IService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UnSubscribe" message="tns:IService_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UnSubscribeResponse" message="tns:IService_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Publish" message="tns:IService_Publish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PublishResponse" message="tns:IService_Publish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateAnnouncement" message="tns:IService_CreateAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateAnnouncementResponse" message="tns:IService_CreateAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteAnnouncement" message="tns:IService_DeleteAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteAnnouncementResponse" message="tns:IService_DeleteAnnouncement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap:operation soapAction="http://tempuri.org/IService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <soap:operation soapAction="http://tempuri.org/IService/Publish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAnnouncement">
      <soap:operation soapAction="http://tempuri.org/IService/CreateAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnouncement">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:86/MailNotificationsAdapter/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>