tvpapi/TvmDataLoader/Protocols/XSD/FlashSingleMedia.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ori (EMBRACE) -->
<!--Created with Liquid XML Studio (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="SharedElements" xmlns:mstns="http://tempuri.org/Orange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FlashSingleMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="params">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="info_struct" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" minOccurs="0"/>
																<xs:element name="description" minOccurs="0"/>
																<xs:element name="type" minOccurs="0"/>
																<xs:element name="meta" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tags" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="tag_type" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="name" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="statistics" type="xs:boolean" default="false"/>
															<xs:attribute name="personal" type="xs:boolean" default="false"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="with_info" default="false"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="media" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="id" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" fixed="single_media"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="flashvars">
								<xs:complexType>
									<xs:attribute name="player_un"/>
									<xs:attribute name="player_pass"/>
									<xs:attribute name="lang"/>
									<xs:attribute name="no_cache"/>
									<xs:attribute name="use_final_end_date"/>
									<xs:attribute name="zip" type="xs:string" use="optional" default="0"/>
									<xs:attribute name="client_IP"/>
									<xs:attribute name="file_format"/>
									<xs:attribute name="file_quality">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="low"/>
												<xs:enumeration value="medium"/>
												<xs:enumeration value="high"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="sub_file_format"/>
									<xs:attribute name="pic_size1"/>
									<xs:attribute name="pic_size1_format" type="xs:string" use="optional"/>
									<xs:attribute name="pic_size1_quality" type="xs:string" use="optional"/>
									<xs:attribute name="pic_size2"/>
									<xs:attribute name="pic_size2_format" type="xs:string" use="optional"/>
									<xs:attribute name="pic_size2_quality" type="xs:string" use="optional"/>
									<xs:attribute name="pic_size3" type="xs:string"/>
									<xs:attribute name="pic_size3_format" type="xs:string"/>
									<xs:attribute name="pic_size3_quality" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playlist_schema"/>
							<xs:element name="media" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type">
											<xs:complexType>
												<xs:attribute name="id"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="name">
											<xs:complexType>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="description">
											<xs:complexType>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="rating">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rate" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="val"/>
															<xs:attribute name="count"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="sum"/>
												<xs:attribute name="count"/>
												<xs:attribute name="avg"/>
												<xs:attribute name="user_voted"/>
												<xs:attribute name="user_voted_val"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="views">
											<xs:complexType>
												<xs:attribute name="count"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="choises3"/>
										<xs:element name="ads_schema">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ad" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="type"/>
															<xs:attribute name="impl_type"/>
															<xs:attribute name="url"/>
															<xs:attribute name="skip"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="enable"/>
												<xs:attribute name="break_delta"/>
												<xs:attribute name="break_start"/>
												<xs:attribute name="overlay_delta"/>
												<xs:attribute name="overlay_start"/>
												<xs:attribute name="playlist_schema_controlled"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="inner_medias">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="media" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ads_schema">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ad" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="type"/>
																					<xs:attribute name="impl_type"/>
																					<xs:attribute name="url"/>
																					<xs:attribute name="skip"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="enable"/>
																		<xs:attribute name="break_delta"/>
																		<xs:attribute name="break_start"/>
																		<xs:attribute name="overlay_delta"/>
																		<xs:attribute name="overlay_start"/>
																		<xs:attribute name="playlist_schema_controlled"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="id"/>
															<xs:attribute name="title" use="optional"/>
															<xs:attribute name="url" use="optional"/>
															<xs:attribute name="block" use="optional"/>
															<xs:attribute name="date" use="optional"/>
															<xs:attribute name="duration" type="xs:string"/>
															<xs:attribute name="file_id"/>
															<xs:attribute name="file_format" use="optional"/>
															<xs:attribute name="pic_size1" use="optional"/>
															<xs:attribute name="pic_size2"/>
															<xs:attribute name="pic_size3" type="xs:string"/>
															<xs:attribute name="cdn_id" use="optional"/>
															<xs:attribute name="cdn_impl_type" use="optional"/>
															<xs:attribute name="billing" use="optional"/>
															<xs:attribute name="total_views" use="optional"/>
															<xs:attribute name="config_data" use="optional"/>
															<xs:attribute name="notify_url" use="optional"/>
															<xs:attribute name="outer_guid" use="optional"/>
															<xs:attribute name="file_quality" use="optional"/>
															<xs:attribute name="orig_file_format" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="tags_collections">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tag_type" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="id"/>
																		<xs:attribute name="name"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="id"/>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="META1_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META2_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META3_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META4_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META5_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META6_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META7_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META8_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META9_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META10_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META11_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META12_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META13_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META14_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META15_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META16_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META17_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META18_STR_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META1_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META2_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META3_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META4_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META5_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META6_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META7_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META8_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META9_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META10_DOUBLE_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META1_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META2_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META3_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META4_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META5_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META6_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="META7_BOOL_NAME">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="value"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id"/>
									<xs:attribute name="title" use="optional"/>
									<xs:attribute name="url" use="optional"/>
									<xs:attribute name="block" use="optional"/>
									<xs:attribute name="date" use="optional"/>
									<xs:attribute name="duration" type="xs:string"/>
									<xs:attribute name="file_id"/>
									<xs:attribute name="file_format" use="optional"/>
									<xs:attribute name="pic_size1" use="optional"/>
									<xs:attribute name="pic_size2"/>
									<xs:attribute name="pic_size3" type="xs:string"/>
									<xs:attribute name="cdn_id" use="optional"/>
									<xs:attribute name="cdn_impl_type" use="optional"/>
									<xs:attribute name="billing" use="optional"/>
									<xs:attribute name="total_views" use="optional"/>
									<xs:attribute name="config_data" use="optional"/>
									<xs:attribute name="notify_url" use="optional"/>
									<xs:attribute name="outer_guid" use="optional"/>
									<xs:attribute name="file_quality" use="optional"/>
									<xs:attribute name="orig_file_format" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
