tvmapps/Feeders/EpgFeeder/EPGXSD/MediaCorp.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Eyal (Tvinci) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tvguide">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="program">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="channel_id" type="xs:string"/>
							<xs:element name="schedule_date" type="xs:string"/>
							<xs:element name="start_time"/>
							<xs:element name="duration" type="xs:string"/>
							<xs:element name="program_id"/>
							<xs:element name="episode_id"/>
							<xs:element name="program_desc_english" type="xs:string"/>
							<xs:element name="program_desc_chinese"/>
							<xs:element name="classification_rating" type="xs:string"/>
							<xs:element name="epg_poster" type="xs:string"/>
							<xs:element name="episode_desc_english"/>
							<xs:element name="interactive"/>
							<xs:element name="program_load"/>
							<xs:element name="program_time" type="xs:string"/>
							<xs:element name="program_type"/>
							<xs:element name="program_type_chi"/>
							<xs:element name="program_sub_type"/>
							<xs:element name="program_language" type="xs:string"/>
							<xs:element name="proepi_id"/>
							<xs:element name="cast"/>
							<xs:element name="pro_title_eng"/>
							<xs:element name="pro_title_chi"/>
							<xs:element name="pro_info_chi"/>
							<xs:element name="episode_no"/>
							<xs:element name="syp" type="xs:string"/>
							<xs:element name="syp_chi" type="xs:string"/>
							<xs:element name="url"/>
							<xs:element name="interactive_page_name"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
